[2021-01-06 23:25] bg-stripe opened #1 "Add Payments UI bindings (Payment Sheet)"
We'd like to add bindings for our new native mobile payments UI (currently in an early beta). Please also include docs.
- Integration guide: https://stripe.com/docs/mobile/payments-ui-beta

We'd like to review the integration (docs) in detail before we merge this one.

[2021-01-06 23:39] bg-stripe opened #2 "Add card provisioning bindings"
Stripe Issuing lets users provision cards from apps to their Apple Pay / Google Pay wallets.

We'd like to add React Native bindings for the functionality in this integration guide:
https://stripe.com/docs/issuing/cards/digital-wallets

The iOS & Android integrations are slightly different, so it's possible the end result will need to start with shared content on setting up your EphemeralKeyProvid

[2021-01-07 05:23] thorsten-stripe opened #3 "Expo support"
**Is your feature request related to a problem? Please describe.**
Expo is one of the most popular frameworks for developing React native applications. I'd expect we'll get a lot of requests about this.

**Describe the solution you'd like**
Is it possible to suppor expo without needing to eject? If so, how much work would that be?

**Describe alternatives you've considered**
If this isn't easily p

[2021-01-07 05:31] thorsten-stripe opened #4 "`pod install` issues"
**Describe the bug**
When running `yarn bootstrap`, `pod install` errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `yarn bootstrap`

**Desktop (please complete the following information):**
 - OS: MacOS Catalina 10.15.7

**Additional context**
[code]

[2021-01-07 05:57] paulasjes-stripe opened #5 "Missing step in example app instructions"
**Describe the bug**
Example app will fail to run due to missing dependencies.

**To Reproduce**
Following the [instructions](https://github.com/stripe/stripe-react-native#run-example-app) on a fresh clone of the repo, when you get to the final `yarn ios`/`yarn android` step you are given the following error:

[code]

The problem is that the example app gets its copy of stripe-react-native from th

[2021-01-07 06:17] #4 closed, assigned to nobody

[2021-01-12 05:55] trag-stripe opened #7 "Getting started & Installation fails"
**Describe the bug**
Filing this feedback on behalf of @richardg-stripe - feel free to add additional context.

Difficulty installing the project and not having a working build process. Richard (extensive RN experience) was asked to use the library without reading the steps. The feedback is shared below 👇

## Notes from Richard's dogfooding session:

I created a new react native project following

[2021-01-12 19:11] bg-stripe opened #8 "Create an API reference page"
We'll need a standalone API reference page for the React Native library. We'd like the API reference to be **autogenerated** using a tool like https://typedoc.org/. Delivery should include a script that generates html (so that we can host it on stripe.dev, similar to http://stripe.dev/stripe-ios )

We'll link to this content from our integration guides. As an example, let's look at the [3DS integr

[2021-01-13 09:42] thorsten-stripe opened #9 "Add Google Pay for Android"
Add Google Pay support for Android similar to how Apple Pay is supported for iOS.

https://stripe.com/docs/google-pay

And add a guide similar to https://github.com/stripe/stripe-react-native/blob/master/docs/apple-pay.md

[2021-01-13 09:47] thorsten-stripe opened #10 "Alipay - Accept a payment"
React Native bindings & docs for this guide: https://stripe.com/docs/payments/alipay/accept-a-payment

Add a guide for Alipay payments handling, including outlining how to handle the deep-linking redirect back to the app. Example: https://stripe.com/docs/payments/alipay/accept-a-payment#ios-redirect

[2021-01-13 11:00] thorsten-stripe opened #11 "Response of `handleNextPaymentAction` differs between iOS and Android"
**Describe the bug**
The NoWebhookPayment example is working fine on iOS but on Android after the 3D Secure keeps spinning endlessly.

This is due to `handleNextPaymentAction` having different return values on iOS vs Android.

[code]

Also, `stripeId` is not a good name for the PaymentIntent ID. As per https://stripe.com/docs/js/payment_intents/handle_card_action it would be better to return
[code

[2021-01-13 16:18] thorsten-stripe opened #13 "Rename the Apple Pay methods"
I think we should rename the Apple Pay methods to be more on line with the iOS SDK:

`payWithApplePay` -> `presentApplePay` (https://stripe.com/docs/apple-pay#present-payment-sheet)
`completePaymentWithApplePay` -> `confirmPayment` (in line with the overall Stripe PI experience)

@csabol-stripe @bg-stripe would appreciate your thoughts on this.

[2021-01-13 16:39] thorsten-stripe opened #14 "[Discussion] Naming of methods"
There is a broader question about naming. e.g. currently
- RN: `useConfirmPayment` & `confirmPayment` vs in Stripe.js we use `confirmCardPayment` (https://stripe.com/docs/js/payment_intents/confirm_card_payment)
- RN: `useConfirmSetupIntent` & `confirmSetupIntent` vs in Stripe.js we use `confirmCardSetup` (https://stripe.com/docs/js/setup_intents/confirm_card_setup)

@auchenberg-stripe I'd appreci

[2021-01-13 18:26] bg-stripe opened #15 "Use setAppInfo to identify library"
The library should call `setAppInfo` upon initialization to identify itself.
- iOS: https://github.com/stripe/stripe-ios/blob/master/Stripe/STPAPIClient.swift
- Android: https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/Stripe.kt

You only need to pass `name: "stripe-react-native"`, `version: "<library version>"`, and `url: "https://github.com/stripe/stri

[2021-01-13 20:10] bg-stripe opened #16 "FPX support (custom integration)"
Add support for FPX. We only want to support the Custom integration documented on https://stripe.com/docs/payments/fpx/accept-a-payment#ios-custom-integration . We don't want the React Native library to support Basic Integration, as we are replacing it with a new pre-built UI integration (see #1 )

React Native documentation should _not_ include the content in the red boxes:
![Screen Shot 2021-01-

[2021-01-13 20:18] bg-stripe opened #17 "iDEAL: Accept a payment"
React Native bindings & docs for https://stripe.com/docs/payments/ideal/accept-a-payment

(This page is missing an Android tab, but the Android bindings exist).

[2021-01-13 20:19] bg-stripe opened #18 "iDEAL: Save during payment"
React Native bindings & docs for https://stripe.com/docs/payments/ideal/save-during-payment

[2021-01-13 20:20] bg-stripe opened #19 "iDEAL: Set up payment"
React native bindings & docs for https://stripe.com/docs/payments/ideal/set-up-payment

[2021-01-13 20:26] bg-stripe opened #20 "SEPA bindings"
SEPA Debit docs: https://stripe.com/docs/payments/sepa-debit/accept-a-payment
We don't have mobile docs for this page, so we will only build React Native bindings and add to the example app.

iOS example: https://github.com/stripe/stripe-ios/blob/master/Example/Non-Card%20Payment%20Examples/SEPADebitExampleViewController.m

Android example: https://github.com/stripe/stripe-android/blob/master/exam

[2021-01-13 20:27] bg-stripe opened #21 "SEPA: Set up payment"
React Native bindings & docs for https://stripe.com/docs/payments/sepa-debit/set-up-payment

Currently blocked by missing mobile docs on this page. (cc @aliriaz-stripe – something we can consider working on in Q1, not sure what the state of SEPA mobile support is / why we don't have docs).

[2021-01-13 20:30] bg-stripe opened #22 "Save during payment + CVC recollection"
Bindings & docs for https://stripe.com/docs/payments/save-during-payment

Key features:
- setupFutureUsage
- CVC recollection

[2021-01-13 20:32] bg-stripe opened #23 "Accept a payment synchronously"
Bindings & docs for https://stripe.com/docs/payments/accept-a-payment-synchronously

Key features:
- create payment method
- create token for CVC update

[2021-01-13 20:34] bg-stripe opened #24 "Card payments without bank authentication"
Bindings & docs for https://stripe.com/docs/payments/without-card-authentication

This is mostly a docs task, I think. Recommend doing this after #23 .

[2021-01-13 20:36] bg-stripe opened #25 "Save card without bank authentication"
Bindings & docs for https://stripe.com/docs/payments/save-card-without-authentication

I think this is mostly a docs task. Recommend doing this after #22

[2021-01-13 20:37] bg-stripe opened #26 "Guide: Upgrade to handle actions"
Create React Native content for this docs page: https://stripe.com/docs/payments/payment-intents/upgrade-to-handle-actions

[2021-01-13 20:41] bg-stripe opened #27 "OXXO"
Bindings & docs for this page: https://stripe.com/docs/payments/oxxo/accept-a-payment

[2021-01-13 20:44] bg-stripe opened #28 "BECS Direct Debit: Accept a payment"
Bindings & docs for https://stripe.com/docs/payments/au-becs-debit/accept-a-payment

[2021-01-13 20:44] bg-stripe opened #29 "BECS Direct Debit: Set up payment"
Bindings & docs for https://stripe.com/docs/payments/au-becs-debit/set-up-payment

[2021-01-13 20:46] bg-stripe opened #30 "Bancontact: Accept a payment"
Bindings & docs for https://stripe.com/docs/payments/bancontact/accept-a-payment

[2021-01-13 20:47] bg-stripe opened #31 "Bancontact: Save during payment"
Bindings & docs for https://stripe.com/docs/payments/bancontact/save-during-payment

[2021-01-13 20:48] bg-stripe opened #32 "Bancontact: Set up payment"
Bindings & docs for https://stripe.com/docs/payments/bancontact/set-up-payment

[2021-01-13 20:48] bg-stripe opened #33 "EPS: Accept a payment"
Bindings & docs for https://stripe.com/docs/payments/eps/accept-a-payment

[2021-01-13 20:49] bg-stripe opened #34 "Giropay: Accept a payment"
Bindings & docs for https://stripe.com/docs/payments/giropay/accept-a-payment

[2021-01-13 20:50] bg-stripe opened #35 "P24: Accept a payment"
Bindings & docs for https://stripe.com/docs/payments/p24/accept-a-payment

[2021-01-13 20:50] bg-stripe opened #36 "SOFORT: Accept a payment"
Bindings & docs for https://stripe.com/docs/payments/sofort/accept-a-payment

[2021-01-13 20:51] bg-stripe opened #37 "SOFORT: Save during payment"
Bindings & docs for https://stripe.com/docs/payments/sofort/save-during-payment

[2021-01-13 20:52] bg-stripe opened #38 "SOFORT: Set up payment"
Bindings & docs for https://stripe.com/docs/payments/sofort/set-up-payment

[2021-01-13 20:52] bg-stripe opened #39 "GrabPay: Accept a payment"
Bindings & docs for https://stripe.com/docs/payments/grabpay/accept-a-payment

[2021-01-19 07:58] thorsten-stripe opened #45 "Install library as local repository issues"
**Describe the bug**
 I've followed the instructions here: https://github.com/stripe/stripe-react-native/blob/master/CONTRIBUTING.md#install-library-as-local-repository but am running into some issues, would appreciate any pointers you have @arekkubaczkowski

**To Reproduce**
Steps to reproduce the behavior:
1. Spin up new project `npx react-native init MyTestApp`
2. Follow instructions at https:/

[2021-01-19 22:24] #11 closed, assigned to nobody

[2021-01-20 07:09] thorsten-stripe opened #46 "Always map `stripeId` to `id`"
The [`PaymentMethod` type](https://github.com/stripe/stripe-react-native/blob/master/src/types.ts#L176) currently returns `stripeId` as the key, however I think we should map this to id to be closer to the React web experience.

cc @paulasjes-stripe

[2021-01-20 07:19] paulasjes-stripe opened #47 "createPaymentMethod should return a PaymentMethod instead of an ID"
**Is your feature request related to a problem? Please describe.**
When creating a PaymentMethod via `createPaymentMethod`:

[code]

The result on success is:
`pm:  {"stripeId": "pm_1IBafVAasA93llSpCBoFpbZ1"}`

The expected result for the equivalent method in Stripe.js is a [PaymentMethod object](https://stripe.com/docs/js/payment_methods/create_payment_method) which you can use to for instance ch

[2021-01-20 07:41] paulasjes-stripe opened #48 "createPaymentMethod should require a type"
**Describe the bug**
`createPaymentMethod` should require a `type` in its arguments to stay in sync with [Stripe.js](https://stripe.com/docs/js/payment_methods/create_payment_method#stripe_create_payment_method-paymentMethodData-type).

The disconnect is likely due to the fact that Android and iOS [don't require a type](https://stripe.com/docs/payments/accept-a-payment-synchronously#android-collec

[2021-01-20 18:56] auchenberg-stripe opened #51 "[Breaking change] Consistent error/exception handling pattern"
We'd like to align the exception/error handling pattern of this SDK to the pattern followed by the `fetch` API and https://github.com/stripe/stripe-js.

The pattern is as following:
- Methods never throws exceptions unless they are fatal.
- sync methods returns either `{objectName?: objectType; error?: StripeError};`
- async method returns `Promise<{objectName?: objectType; error?: StripeError}>;`

[2021-01-20 20:38] #14 closed, assigned to davidme-stripe

[2021-01-21 02:29] #5 closed, assigned to nobody

[2021-01-21 07:04] #13 closed, assigned to nobody

[2021-01-21 07:29] #7 closed, assigned to nobody

[2021-01-21 13:41] thorsten-stripe opened #52 "WeChat Pay: Accept a payment (app to app flow)"
WeChatPay is currently on private beta. Should be available for implementation by early March. Will update here with docs once ready.

[2021-01-21 16:12] #15 closed, assigned to arekkubaczkowski

[2021-01-21 16:12] #46 closed, assigned to nobody

[2021-01-21 16:12] #47 closed, assigned to nobody

[2021-01-21 16:12] #48 closed, assigned to nobody

[2021-01-21 16:21] thorsten-stripe opened #53 "TypeScript build error"
@arekkubaczkowski I'm getting this error on master when running `yarn bootstrap`. I think there might have gone something wrong in #50 that I didn't catch in the review, sorry! Can you have a look?

[code]

[2021-01-22 03:52] #45 closed, assigned to nobody

[2021-01-22 03:52] #53 closed, assigned to arekkubaczkowski

[2021-01-22 08:20] thorsten-stripe opened #55 "`createPaymentMethod` is missing `billingDetails`"
https://stripe.dev/stripe-ios/docs/Classes/STPPaymentMethodParams.html#/c:@M@Stripe@objc(cs)STPPaymentMethodParams(py)billingDetails

https://stripe.com/docs/js/payment_methods/create_payment_method#stripe_create_payment_method-paymentMethodData-billing_details

And the api reference needs to be updated: https://github.com/stripe/stripe-react-native/blob/master/docs/api-reference/stripe.md#createp

[2021-01-22 15:46] thorsten-stripe opened #57 "Add missing SetupIntent params"
The internal `SetupIntent` type (https://github.com/stripe/stripe-react-native/blob/master/src/types.ts#L92) is missing a bunch of params: https://stripe.com/docs/api/setup_intents/object.

Can you add them, or is there a reason why you trimmed them down?

[2021-01-25 14:35] thorsten-stripe opened #58 "Consistent parameter names"
I noticed that we're not consistent with parameter names,

e.g. [`livemode`](https://github.com/stripe/stripe-react-native/blob/master/src/types.ts#L217) vs [`isLiveMode`](https://github.com/stripe/stripe-react-native/blob/master/src/types.ts#L84)

And things like [`customerId`](https://github.com/stripe/stripe-react-native/blob/master/src/types.ts#L218) or [`paymentMethodId`](https://github.com/s

[2021-01-26 08:43] #55 closed, assigned to arekkubaczkowski

[2021-01-26 12:26] arekkubaczkowski opened #60 "final name of the library"
**Is your feature request related to a problem? Please describe.**
As we named library differently a bit than you, we have mismatching names in several places so we should unify them.

**Describe the solution you'd like**
Adjust every place naming to `stripe-react-native`

**Describe alternatives you've considered**
We can stay with `react-native-stripe-sdk`, is up to you.

@thorsten-stripe let me

[2021-01-27 23:00] bg-stripe opened #62 "Missing documentation in "Charge the saved card later""
**Describe the bug**
The documentation provided in https://github.com/stripe/stripe-react-native/blob/master/docs/set-up-future-payments.md is missing some React Native code snippets.

We received:
![image](https://user-images.githubusercontent.com/23086960/106065507-43076200-60b0-11eb-8c9f-8263570f0f9d.png)

Instead, we need full documentation, equivalent to what we have in the iOS and Android ta

[2021-01-28 00:19] bg-stripe opened #63 "Hide fields from `CardDetails`"
Developers should not be able to easily inspect properties on the `CardDetails` object returned from `CardField`. We should hide all the properties:

[code]

Currently, developers can look at `cardDetails.number` easily. Instead they should just be using the `CardDetails` object directly.

Ideally, developers should not be able to inspect these properties from `CardDetails` at all. If that is too

[2021-01-28 15:25] #57 closed, assigned to arekkubaczkowski

[2021-01-28 15:25] #58 closed, assigned to nobody

[2021-01-28 15:28] thorsten-stripe opened #64 "Automated smoke tests"
We want to have a set of automated smoke tests that covers the basic functionality that we can run over every commit/PR to validate the basis.

[2021-01-29 07:12] #60 closed, assigned to thorsten-stripe

[2021-02-03 08:23] #62 closed, assigned to nobody

[2021-02-03 13:27] thorsten-stripe opened #67 "onSuccess/onError callbacks for the hooks should be optional"
@arekkubaczkowski my understanding was that `onSuccess` and `onError` should be optional for all the hooks, that's what the docs seem to indicate: https://github.com/stripe/stripe-react-native/blob/master/docs/accept-a-payment.md#submit-the-payment-to-stripe

Looks like they are accidentally required (see: https://github.com/stripe/stripe-react-native/blob/master/src/hooks/useConfirmPayment.tsx#L1

[2021-02-04 07:52] thorsten-stripe opened #70 "Apple Pay paymentRequest creation is currently hard-coded to US/USD"
https://github.com/stripe/stripe-react-native/blob/master/ios/StripeSdk.swift#L155

The merchant country and currency need to be configureable in the `presentApplePay` method. Needs to be changed to:

[code]

Also the docs need to be updated to include how to set the merchantIdentifier, the country and the currency.

[2021-02-04 13:16] #67 closed, assigned to nobody

[2021-02-08 09:08] #70 closed, assigned to arekkubaczkowski

[2021-02-08 10:07] #63 closed, assigned to arekkubaczkowski

[2021-02-10 02:22] milesm-stripe opened #72 "yarn bootstrap fails"
**Describe the bug**
I'm following CONTRIBUTING.md and running `yarn bootstrap` with node v12.18.3 installed with nvm, but getting this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone...`
2. `yarn bootstrap`

**Expected behavior**
I expect yarn to download and install my dependencies successfully.

**Screenshots**
If applicable, add screenshots to help explain your

[2021-02-11 02:03] #72 closed, assigned to nobody

[2021-02-18 12:23] #51 closed, assigned to nobody

[2021-02-23 21:53] michaelbayday opened #76 "Remove Unncessary Console.warn within onCardChange"
Could you remove this? It seems like you wouldn't need this in dev and this could be handled actually by the user if they wanted it in the onCardChange callback.

https://github.com/stripe/stripe-react-native/blob/569da3ede6a86221a437e1aa7030216117fc0cd7/src/components/CardField.tsx#L39

[2021-02-23 22:22] michaelbayday opened #77 "CardField Style Customizability is limited"
**Describe the bug**
CardField component does not respond to color in the style prop to set text color. Perhaps have an api to handle the components styling in different states would be great i.e. focusedStyle errorStyle and unfocusedStyle

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use CodeBlock above

**Expected behavior**
1. Color should be allowed to be set by the consuming a

[2021-02-24 17:50] auchenberg-stripe opened #78 "Automated integration tests with full coverage"
As the SDK grows we need a more efficient way of validating that changes made work fine on both iOS and Android. We should set up automated integration tests that run on every PR.

This issue covers full coverage of all components and all payment methods.

[2021-02-24 20:23] michaelbayday opened #79 "Android: Can't access CVV Field if you are in the expiration date or CVV fields and try to edit your credit card number"
**Describe the bug**
CardField Component cannot access CVV if the user tries editing the credit card number after already finishing and moving on to the expiration date or cvv field. Only on android

**To Reproduce**
Steps to reproduce the behavior:
1. Go to CardField component
2. Fill out valid CC number which will move you to expiration date
3. Click the card field and fill out a new valid card

[2021-02-26 10:31] #79 closed, assigned to arekkubaczkowski

[2021-02-26 18:50] michaelbayday opened #82 "CardField UX/UI differs between platforms"
Is there a reason the components work differently? CVC field does not show on android
ios
![image](https://user-images.githubusercontent.com/35093298/109342098-38abc580-7820-11eb-96bc-044640ad5274.png)
android
![image](https://user-images.githubusercontent.com/35093298/109342066-2af64000-7820-11eb-8353-423c314f30ef.png)

also android does not respect border color

My code:
[code]

_Originally post

[2021-02-26 21:16] bg-stripe opened #83 "Add multiline card element"
We have a multiline card input element on Android already.
We will be building a similar multiline element in the iOS SDK in the coming 1-2 weeks.

When the iOS multiline element is done, we'd like to add React Native bindings for the multiline card element.

[2021-02-28 02:46] dayhaysoos opened #84 "yarn bootstrap command doesn't work for M1 Mac"
I had a really hard time running this with the `yarn bootstrap` command. I'm pretty sure it's because I use an M1 Mac and I can't seem to get permission to install cocoapods to /usr/local/bin through neither ruby or homebrew.

What DID end up working for me, was running `pod install` from inside the `ios` folder, but I got an error about Stripe compatibility.

So I ran `pod repo update` and that w

[2021-03-01 20:29] #8 closed, assigned to nobody

[2021-03-04 11:03] gax97 opened #90 "Calculating taxes on apple pay"
**Is your feature request related to a problem? Please describe.**
My current app requirement is calculating taxes based on the chosen shipping address. The problem comes when using apple pay, there is no way to "react" to address changes in the apple pay widget. So since the prices are defined statically I can never show the correct amount of tax charges for the customer.

**Describe the solution

[2021-03-04 11:32] #22 closed, assigned to nobody

[2021-03-05 08:21] #23 closed, assigned to nobody

[2021-03-08 08:09] #26 closed, assigned to nobody

[2021-03-08 09:40] jonasbark opened #94 "Reusing business logic on Flutter (POC)"
Hi there 👋
@jamesblasco and @remonh87 and I talked with @thorsten-stripe and @albertus-stripe about the possibility to reuse the business logic part from this react-native wrapper with a new Flutter plugin.

There are **two possibilities**:
- manually synchronize any changes in this repo with the flutter plugin repo
- use a shared dependency for Android + iOS that both react-native and flutter dep

[2021-03-08 13:10] #24 closed, assigned to nobody

[2021-03-08 13:10] #25 closed, assigned to nobody

[2021-03-08 19:14] sguha00 opened #95 "Support Stripe Terminal"
**Is your feature request related to a problem? Please describe.**
I'd like to use Stripe Terminal to accept in-person payments via the Bluetooth Chipper reader

**Describe the solution you'd like**
Expose the iOS and Android Stripe Terminal SDK through React Native

**Describe alternatives you've considered**
https://github.com/theopolisme/react-native-stripe-terminal

**Additional context**
Add

[2021-03-09 15:30] thorsten-stripe opened #97 "Improve method response types to allow narrowing"
The payments web team has just made [these changes](https://github.com/stripe/stripe-js/pull/154) to allow [type narrowing](https://www.typescriptlang.org/docs/handbook/2/narrowing.html).

[code]

[code]

This does not break destructuring, which used to work and still does.

[code]

@arekkubaczkowski let's align to this.

[2021-03-11 12:00] pvinis opened #102 "CardField needs an `onBlur` event too"
**Describe the bug**
It already has an `onFocus` which is great, but we should have an `onBlur` to complement it.

**Expected behavior**
`onBlur` to exist, alongside `onFocus`.

[2021-03-12 02:16] thorsten-stripe opened #103 "Advanced font customization"
We've gotten two requests for font family customization:

- https://github.com/stripe/stripe-react-native/pull/85#issuecomment-796683281
- https://github.com/stripe/stripe-react-native/pull/99#discussion_r592584709

@fbartho @pvinis any other font traits you're looking to customize? font-style maybe?

[2021-03-12 07:40] #90 closed, assigned to arekkubaczkowski

[2021-03-16 09:31] #97 closed, assigned to arekkubaczkowski

[2021-03-16 11:29] pvinis opened #106 "Error in example `SetupFuturePayment`"
**Describe the bug**

I am getting the following error:
<img width="393" alt="Screenshot 2021-03-16 at 11 25 07" src="https://user-images.githubusercontent.com/100233/111301683-68ddcb80-864a-11eb-8532-a7ad4828c8c5.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Run server locally
For this I had to turn the ts files in `server` to js, there are no instructions how to run otherwise. I al

[2021-03-16 13:46] #84 closed, assigned to nobody

[2021-03-16 13:49] #76 closed, assigned to arekkubaczkowski

[2021-03-17 13:27] #106 closed, assigned to nobody

[2021-03-18 20:04] fridaland opened #111 "Yarn install fails"
**Describe the bug**
Hello!
Thanks for access to the beta library! I'm having some trouble with installation with yarn.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `yarn add stripe-react-native`
2. See failed output:
[code]

**Expected behavior**
I can install the package successfully

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]

**Smartphone (please co

[2021-03-18 20:47] #111 closed, assigned to nobody

[2021-03-19 13:09] pvinis opened #113 "StripeSdk requires main queue setup?"
**Describe the bug**

I added the lib to our own app, and this is a warning I get the moment the app starts.

Is this coming from the native one? or the wrapper? or elsewhere?

<img width="384" alt="Screenshot 2021-03-19 at 13 07 57" src="https://user-images.githubusercontent.com/100233/111785189-30412a80-88b4-11eb-9432-cc1008925497.png">

[2021-03-22 10:58] vigzmv opened #114 "React Native v0.64 android build issue"
Unable to build android app with RN 0.64

**To Reproduce**
Steps to reproduce the behavior:
1. `npx react-native init stripe_test` # creates new RN project with v0.64
2. Follow steps [here](https://github.com/stripe/stripe-react-native/blob/master/CONTRIBUTING.md#install-library-as-local-repository)
3. `npm run android`

Build Error:

[code]
---
Possibly related to this change: https://github.com/

[2021-03-23 07:23] #114 closed, assigned to nobody

[2021-03-23 07:23] #113 closed, assigned to nobody

[2021-03-23 14:51] #77 closed, assigned to arekkubaczkowski

[2021-03-23 14:51] #82 closed, assigned to nobody

[2021-03-23 15:58] michaelbayday opened #118 "Ignore"
Issue resolved.

[2021-03-23 15:58] #118 closed, assigned to nobody

[2021-03-23 16:25] #21 closed, assigned to nobody

[2021-03-23 17:03] tlin14 opened #119 "Build issue - no such module 'Stripe3DS2'"
Hi everyone,

I'm trying to install the SDK locally following [this guide](https://github.com/stripe/stripe-react-native/blob/master/CONTRIBUTING.md#install-library-as-local-repository).

We I tried to run `yarn ios` to build the app, I saw errors like:
[code]

I'm on latest master of stripe-react-native (b6a14b5883e8ed07e97b9d66385b62fe708527dc).
My react-native version is `0.63.4` and MacOS vers

[2021-03-23 20:58] michelleb-stripe opened #121 "If the credit card number is not filled in, or is in error, it jumps back to the credit card number"
**Describe the bug**
Card payment using webhooks: If the credit card number is not filled in, or is in error, any time you type in a later field it jumps back to the credit card number.  This is not the behavior in the CardTokenActivity

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Card payment using webhooks'
2. Click on 'Month'
3. Enter a month
4. See that after each date of the m

[2021-03-23 21:13] michelleb-stripe opened #122 "[Android] Field validation shows 'error' too quickly."
**Describe the bug**
Card payment using webhooks: A partially filled in date while still in focus should not be red if it could turn out to be valid.  However a year that starts with 1 could not be valid, but it doesn’t show an error.  The first part is a difference from the card token in the stripe-sdk

**To Reproduce**
Case 1:
Steps to reproduce the behavior:
1. Go to 'Card payment using webhook

[2021-03-24 07:07] thorsten-stripe opened #123 "`onFocus` does not fire on Android"
**Describe the bug**

Using

[code]

I only get a `focusField` log output on iOS but not on Android.

[2021-03-24 16:15] #119 closed, assigned to nobody

[2021-03-25 10:54] #17 closed, assigned to nobody

[2021-03-25 17:17] #10 closed, assigned to nobody

[2021-03-25 17:19] #123 closed, assigned to nobody

[2021-03-25 17:27] thorsten-stripe opened #126 "[Android] create separate module for adding the Alipay SDK"
Alipay provides an SDK for Android (https://stripe.com/docs/payments/alipay/accept-a-payment#android-download-sdk) which enables app-to-app redirect for Android versions that don't support deep linking manually. This only affects a minority of devices, so it's less of a priority, but we should figure out if we can create a separate package that folks can simply add via `yarn add stripe-react-nativ

[2021-03-29 15:26] #30 closed, assigned to nobody

[2021-03-29 15:26] #31 closed, assigned to nobody

[2021-03-29 15:26] #32 closed, assigned to nobody

[2021-03-30 15:11] #19 closed, assigned to nobody

[2021-03-30 15:12] #18 closed, assigned to nobody

[2021-03-30 16:44] thorsten-stripe opened #135 "[Android] CardField focuses itself when view is loaded"
**Describe the bug**
On Android, when you load a view that has the CardField component in it, it focuses itself, which is not desired.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Card payments using webhooks" screen
2. See the cardfield being focused

**Expected behavior**
CardField should not automatically focus itself

cc @michelleb-stripe @michaelbayday

[2021-03-30 16:47] thorsten-stripe opened #136 "Change `cornerRadius` to `borderRadius` (breaking change)"
Change https://github.com/stripe/stripe-react-native/blob/master/src/types/components/CardFieldInput.ts#L20 to `borderRadius`

[2021-03-30 20:15] doranteseduardo opened #137 "Compatibility with wix/react-native-navigation"
**Is your feature request related to a problem? Please describe.**
For this library to work it's said it must be used in the root component.
Apps using [wix/react-native-navigation](https://github.com/wix/react-native-navigation) do not have a root component and screens are not part of the same component tree.

**Describe the solution you'd like**
The community driven library [tipsi-stripe](https:

[2021-03-31 17:40] vigzmv opened #141 "Unable to confirmPayment of Payment Intent with capture='manual' on Android"
Unknown error when trying to `confirmPayment` for a Payment Intent with `{ capture: 'manual' }` on android only. It works fine on iOS. Likely not related to this project but hope it can be raised to the appropriate project

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a payment Intent with `{ capture_method: 'manual' }`
2. Use the created intent's client_secret in the client to con

[2021-04-01 07:17] #141 closed, assigned to thorsten-stripe

[2021-04-02 06:44] #35 closed, assigned to nobody

[2021-04-02 06:47] #39 closed, assigned to nobody

[2021-04-02 06:50] #33 closed, assigned to nobody

[2021-04-02 06:56] #34 closed, assigned to nobody

[2021-04-02 12:51] sbarbour-93 opened #144 "[Docs] Making API calls for connected accounts"
Hi folks,

First off I just want to express my excitement at using this library - something I'm really glad Stripe are investing their time in! I checked out the example projects and it looks like everything our team are after so thank you.

I just wanted to reach out to get clarification that Stripe Connected Accounts are supported for this. I'm assuming they are as the Payment Intent we're setti

[2021-04-02 17:23] jonasbark opened #146 "Allow card creation via token"
Right now cards may only be created on the native side via their card details but they should also be created using a token. In our case, the flutter side receives the token directly from Google Pay and we'd like to confirm the payment.

On the Android side the fix required would be this in Mappers.kt:
[code]

Thank you!

[2021-04-05 08:46] #16 closed, assigned to nobody

[2021-04-05 09:09] #36 closed, assigned to nobody

[2021-04-05 09:09] #37 closed, assigned to nobody

[2021-04-05 09:09] #38 closed, assigned to nobody

[2021-04-05 14:59] #146 closed, assigned to nobody

[2021-04-05 15:20] gax97 opened #148 "Displaying errors in apple pay sheet."
**Is your feature request related to a problem? Please describe.**
I would like to show errors if payment parameters are not valid in the apple pay sheet.

**Describe the solution you'd like**
Would be good to display a general error message and disallow the pay button if the shipping address isn't valid for example, or if possible show validation for particular shipping address fields, like zipco

[2021-04-06 07:46] #27 closed, assigned to nobody

[2021-04-06 16:00] thorsten-stripe opened #151 "Release checklist"
## Pre release
- [x] Replace all instances of `stripe-react-native` with `@stripe/react-native`
- [x] Add versioning
- [x] Add CHANGELOG.md file
- [x] Update to the latest stripe-ios and stripe-android versions
- [x] Polish the README
- [x] Reorder example/src/screens/HomeScreen.tsx
- [x] Ungate Stripe docs
- [x] Add Stripe docs links to README

## Fast follows
- [ ] Set up github action for publi

[2021-04-07 03:33] thorsten-stripe opened #152 "Add Google Pay configuration to Payment Sheet"
https://stripe.com/docs/mobile/payments-ui-beta#google-pay

And add docs to https://github.com/stripe/stripe-react-native/blob/feat/payment-ui-bindings/docs/payments-ui.md

[2021-04-07 14:02] #20 closed, assigned to nobody

[2021-04-07 14:56] #135 closed, assigned to arekkubaczkowski

[2021-04-07 16:01] #137 closed, assigned to nobody

[2021-04-08 09:32] #136 closed, assigned to thorsten-stripe

[2021-04-09 10:27] #152 closed, assigned to arekkubaczkowski

[2021-04-09 10:27] #1 closed, assigned to nobody

[2021-04-16 05:51] #144 closed, assigned to thorsten-stripe

[2021-04-18 08:07] vigzmv opened #167 "Option to opt out of card scanning or camera usage on ios"
When this package is bundled with a ios app and submitted to App Store, App stores's static analysis reports that the code uses the camera module so the app must include the permission descriptor NSCameraUsageDescription.

Our app doesn't use camera so if possible we would like to exclude it. Is there any way to do it? Thanks.

[2021-04-21 14:12] #167 closed, assigned to nobody

[2021-04-22 15:49] obernal opened #170 "React Native v0.61 android build issue"
**Describe the bug**
Unable to build android app with RN 0.61

**To Reproduce**
Steps to reproduce the behavior:
1. npx react-native init teststripe --version 0.61.5
2. yalc add @stripe/stripe-react-native
3. yarn install
4. npx react-native run-android
5. See error below
[code]

**Expected behavior**
Build should be successful and the android app should start.

**Desktop (please complete the foll

[2021-04-23 04:06] #170 closed, assigned to nobody

[2021-04-23 16:32] adkenyon opened #172 "Non-React API"
Hi All! Excited to get the Shipt App using this SDK.

My feature request would be to provide examples or an API that isn't based on React Hooks or Context API. The Shipt App is using Redux, therefore all of our interactions with the tipsi-stripe SDK are through side-effects outside of React. Currently, the road to compatibility would be to pass the information provided by SDK through redux actions

[2021-04-28 21:16] benomatis opened #174 "`yalc publish` fails with error `bob: command not found`"
**Describe the bug**
Not entirely clear from the Contributing guidelines, but I went ahead and downloaded stripe-react-native as a zip file, unarchived it, cd'd into the folder, then ran `yalc publish` and got error `/bin/sh: bob: command not found`

**To Reproduce**
Steps to reproduce the behavior:
1. Download this package
2. Unarchive
3. cd package-name
4. `yalc publish`

**Expected behavior**
P

[2021-04-29 04:03] #172 closed, assigned to nobody

[2021-04-29 13:03] travisobregon opened #175 "Unable to integrate and test the payment sheet"
**Describe the bug**
I am trying to [integrate and test the payment sheet](https://stripe.com/docs/mobile/payments-ui-beta?platform=react-native#integrate-payment-sheet) using the `payment-sheet` branch. Is it okay to start doing that? I am getting compilation errors for iOS.

**To Reproduce**
Steps to reproduce the behavior:
1. Download and extract a ZIP file of the `payment-sheet` branch
2. Insi

[2021-04-29 14:12] #174 closed, assigned to nobody

[2021-04-29 16:25] #28 closed, assigned to nobody

[2021-04-30 11:15] Sandbagger opened #176 "Stripe React Native example project build issue ios"
**Describe the bug**

run yarn example ios produces the following build error:

❌  error: /Users/will/Documents/stripe-react-native/example/ios/Pods/Target Support Files/Pods-StripeSdkExample/Pods-StripeSdkExample.debug.xcconfig: unable to open file (in target "StripeSdkExample" in project "StripeSdkExample") (in target 'StripeSdkExample' from project 'StripeSdkExample')

❌  error: /Users/will/Doc

[2021-05-03 21:06] benomatis opened #177 "3D secure / authentication not triggered on iOS only (API version 2020-08-27)"
I may be assuming something that this library has not (yet) implemented, but I was expecting either getting back a response from `confirmPayment` indicating a payment needs auth, or setting `threeDSecureParams` on `StripeProvider` would somehow trigger this, but I have yet to figure out how this would work. Could you please provide guidance? The ['Displaying the 3D Secure Flow' section in doc 'Car

[2021-05-04 02:04] adkenyon opened #178 "Creating a Card without CardField or CardFieldPayment"
**Describe the bug**
I am unable to create a `card` payment type without using a `<CardField/>` or `<CardFieldPayment/>`

**To Reproduce**
[code]

**Expected behavior**
I can create a `card` payment method without stripe form fields.

**Additional context**
I believe the code [here](https://github.com/stripe/stripe-react-native/blob/251b8f9a6de8853277993a6ce3c8bc25c132687e/ios/PaymentMethodFactory

[2021-05-04 05:06] adkenyon opened #179 "isApplePaySupported() is not exported"
**Is your feature request related to a problem? Please describe.**
We'd like to detect the availability of apple pay prior to calling apple pay methods or displaying apple pay features (ApplePayButton etc).

**Describe the solution you'd like**
export ` isApplePaySupported` through index.ts

[2021-05-04 23:34] benomatis opened #182 "Colors set in `threeDSecureParams` are mostly ignored"
I tried setting the main color (themeColors.brandBlue) everywhere I could, but the only thing that changed is the text in the middle - that's the colour everything that is now violet should have. How can I achieve that?

[code]

<img width=300 src=https://user-images.githubusercontent.com/5822748/117082025-6db52680-ad41-11eb-9ae4-8cf44f260dee.png />

[2021-05-05 13:41] #179 closed, assigned to nobody

[2021-05-06 14:05] #182 closed, assigned to nobody

[2021-05-06 14:47] benomatis opened #185 "Android: 3D secure popup styling changes"
- [ ] 1. Android: 3DS progress spinner color
- [ ] 2. Android: The section titles under the 3DS2 complete authentication take the color of the main `backgroundColor` (which is supposed to be iOS only?) when opened

[2021-05-06 21:05] talkshoplivedev opened #187 "Add `createToken` method"
Our backend workflow relies heavily on client-side sending card tokens (e.g. `tok_`). Is this possible to achieve with this package? If not, we would really appreciate any guidance on how we can make this package work for us given our current workflow posture.

[2021-05-07 07:53] ClaudeROSSI opened #189 "Kotlin Gradle plugin was loaded multiple times"
We are getting a build warning as soon as we start declaring dependencies to the stripe-react-native library.
We get the warning when building our android mobile app.

Here is the build output:
[code]
Is this warning something we can ignore?
We tried to force the kotlin version at the root project (like shown below). This has no impact.

[code]

The dependency to stripe-react-native has been added

[2021-05-07 19:09] vigzmv opened #190 "Question: 3D Secure flow auto dismiss browser"
**Describe the bug**
After 3DS Authenticating in webview, the page stays at "Authentication Complete".
In the docs [here](https://stripe.com/docs/payments/3d-secure), at the bottom, it mentions something about a return_url.

I suppose there is a way to pass an App scheme URL to automatically close the browser and go back to app. But I couldn't  find any reference to `return_url` in this codebase,

[2021-05-10 12:57] #176 closed, assigned to nobody

[2021-05-10 13:58] #177 closed, assigned to nobody

[2021-05-10 14:17] Sandbagger opened #194 "Issue building Payment UI for integration"
**Describe the bug**
Trying to do integrate payment ui into existing project, but getting build failures.

```Flipper-RSocekt Lexical or Preprocessor Issue Group /Users/will/Documents/Rdly/mobile-app/ios/Pods/Headers/Public/Flipper-Folly/folly/functional/Invoke.h:22:10: 'boost/preprocessor/control/expr_iif.hpp' file not found```

[code]

**To Reproduce**
Steps to reproduce the behavior:

I was run

[2021-05-10 14:48] benomatis opened #195 "CocoaPods could not find compatible versions for pod "Stripe""
Running `yarn bootstrap` on a fresh clone gives me this error at pod install step

[code]

[2021-05-10 16:01] #151 closed

[2021-05-10 17:03] tgensol opened #196 "Features missing from tipsi-stripe"
Hi there,

I am trying to move from tipsi-stripe and I am "missing" some features :

### CardField focusing

- An AutoFocus/focus function on the CardField component could be really cool. It will save some clicks to my user and by abtesting we saw that the conversion rate was better in the past
- Separated card number, cvc and expiration. We saw by doing abtesting, that your "credit card" componen

[2021-05-10 18:01] benomatis commented on #195
@arekkubaczkowski sorry, I did want to confirm, as well, that it worked, so this can be closed, thank you.

[2021-05-10 18:01] #195 closed

[2021-05-10 18:25] benomatis commented on #177
@arekkubaczkowski @davidme-stripe I can confirm the fix works perfectly, 3d secure opens without a problem even if the card form is in a popup / modal. Thank you.

[2021-05-10 22:47] benomatis commented on #182
@davidme-stripe adding `barTintColor` solves the issue with the header colour, it looks pretty neat now except for the 'Cancel' and the 'Complete Authentication' buttons, they still appear to ignore any styling changes I attempt to do to them.

@michelleb-stripe Is this going to be taken care of in this issue (and thus re-opened?) or shall I open a new one?

[2021-05-11 05:07] benomatis commented on #182
@michelleb-stripe yes, and for iOS, we really only have the issue with the colors of those 2 buttons remaining.

[2021-05-11 09:45] #194 closed

[2021-05-11 13:22] aakanksha-02 opened #198 "Need to update the items property of presentApplePay()'s param from Stripe doc"
I was trying to implement Apple Pay on react-native platform using [https://stripe.com/docs/apple-pay?platform=react-native](https://stripe.com/docs/apple-pay?platform=react-native).

For **presentApplePay()** method, the param should have **cartItems** property, not **items** as per [https://stripe.dev/stripe-react-native/api-reference/interfaces/applepay.presentparams.html](https://stripe.dev/st

[2021-05-11 13:33] aakanksha-02 commented on #196
Hey, is your Apple Pay implementation woking with this?

[2021-05-11 13:39] aakanksha-02 commented on #196
https://github.com/stripe/stripe-react-native/blob/master/example/src/screens/ApplePayScreen.tsx  You mean this example ?

[2021-05-11 15:02] ClaudeROSSI commented on #189
We switched to the public version of the library (which has been released recently) and the problem does not occur aymore.

[2021-05-11 15:10] #64 closed, assigned to nobody

[2021-05-11 15:16] #29 closed

[2021-05-11 15:56] thorsten-stripe commented on #196
Would you mind opening a feature request for that?

We're tracking this feature here: https://github.com/stripe/stripe-react-native/issues/83

This is being tracked here: https://github.com/stripe/stripe-react-native/issues/148#issuecomment-815697077

Correct: "YES if the device is currently able to make Apple Pay payments via one of the supported networks. NO if the user does not have a saved car

[2021-05-11 15:59] tgensol opened #199 "AutoFocus/focus function on CardField"
An AutoFocus/focus function on the CardField component could be really cool.

It will save some clicks to my user and by abtesting we saw that the conversion rate was better in the past

[2021-05-11 16:41] karlr-stripe opened #200 "'JSON value of type NSMutableDictionary cannot be converted to NSString' related to appInfo"
**Describe the bug**
When trying to use the SDK in an iOS app I ran into this error :
[code]

Tracing through this, what happens is :
we try to set `appInfo` to [identify the plugin](https://stripe.com/docs/building-plugins#setappinfo) in
https://github.com/stripe/stripe-react-native/blob/b831a18d9ccc5f2b68db2d7c7d94bcf1b1af0f86/ios/StripeSdk.swift#L52-L55

that code expects `appInfo["url"]` to be

[2021-05-11 17:15] thorsten-stripe commented on #200
Thanks @karlr-stripe I am able to reproduce this, installing via `npm` completely messes up the `package.json` file 😭
![image](https://user-images.githubusercontent.com/23213994/117857230-21c52d00-b2bf-11eb-9650-1ffddd7ae56e.png)

For the time being, please install via `yarn` or find the `node_modules/@stripe/stripe-react-native/package.json` file and change the repository param to: `"repository":

[2021-05-11 17:36] thorsten-stripe commented on #175
Closing this out as I believe via updating pod dependencies this will be resolved.

Alternatively you might want to start from scratch and install via `yarn` and follow the new docs: https://stripe.com/docs/payments/accept-a-payment?platform=react-native

[2021-05-11 17:36] #175 closed

[2021-05-11 18:49] tgensol commented on #199
**autoFocusOnLoad** would be great !

But being able to control the focus, would be  better for me

[2021-05-11 20:57] davidme-stripe opened #201 "Colors set for buttons in `threeDSecureParams` are ignored on iOS"
@benomatis reported in (https://github.com/stripe/stripe-react-native/issues/182) that the 3DS2 buttons on iOS are not set correctly from the `threeDSecureParams`.

To fix this:
* In the [mappers](https://github.com/stripe/stripe-react-native/blob/251b8f9a6de8853277993a6ce3c8bc25c132687e/ios/Mappers.swift#L466), the RN SDK will need to call setButtonCustomization, as it's currently only making a c

[2021-05-11 20:58] davidme-stripe commented on #182
I filed a new issue for the iOS changes: https://github.com/stripe/stripe-react-native/issues/201

[2021-05-11 21:56] benomatis commented on #182
thank you @davidme-stripe

[2021-05-12 05:31] aakanksha-02 opened #202 "Apple Pay is not working for me."
Reference I'm using -
I was using this example [https://github.com/stripe/stripe-react-native/blob/master/example/src/screens/ApplePayScreen.tsx](https://github.com/stripe/stripe-react-native/blob/master/example/src/screens/ApplePayScreen.tsx) and this doc [https://stripe.com/docs/apple-pay?platform=react-native](https://stripe.com/docs/apple-pay?platform=react-native)

** Issues**
In step 7, I sh

[2021-05-12 06:00] thorsten-stripe commented on #189
Thanks for the update. We weren't able to reproduce this on our end either. I'll close this out, but please do reopen if you see this happening again. Thanks.

[2021-05-12 06:00] #189 closed

[2021-05-12 06:05] thorsten-stripe commented on #202
The `confirmApplePayPayment` method will attach the payment method to the PaymentIntent.

Can you log out the value of `isApplePaySupported`? My hunch is that you might be missing some configuration, e.g. maybe the certificate isn't setup correctly? https://stripe.com/docs/apple-pay?platform=react-native#troubleshooting

[2021-05-12 09:55] sahildeliwala opened #203 "Android build is failing."
**Describe the bug**
Android build is failing with `yarn android`. getting error: `Could not find method buildFeatures() for arguments [build_pxtvtursd53qqug9358kg7m3$_run_closure1$_closure8@7f4be65d] on extension 'android' of type com.android.build.gradle.LibraryExtension.`

**To Reproduce**
Steps to reproduce the behavior:
1. install the plugin
2. run app on android: `yarn android`

**Expected b

[2021-05-12 10:12] thorsten-stripe commented on #187
Okay, we'll look into adding a `createToken` method.

* iOS: https://stripe.dev/stripe-ios/docs/Classes/STPAPIClient.html#/c:@CM@Stripe@objc(cs)STPAPIClient(im)createTokenWithPayment:completion:

* Android: https://stripe.dev/stripe-android/stripe/com.stripe.android/create-card-token.html

[2021-05-12 11:04] arekkubaczkowski commented on #203
@sahildeliwala  which android studio version are you using?

[2021-05-12 11:12] sahildeliwala commented on #203
@arekkubaczkowski this what my `android/build.graddle` has:
`ext {
        buildToolsVersion = "29.0.2"
        minSdkVersion = 21
        compileSdkVersion = 29
        targetSdkVersion = 29
        kotlinVersion = '1.4.21'
    }`

[2021-05-12 11:41] arekkubaczkowski commented on #203
can you also provide android gradle plugin version?

[2021-05-12 11:52] sahildeliwala commented on #203
@arekkubaczkowski
![Screenshot from 2021-05-12 17-21-27](https://user-images.githubusercontent.com/10909011/117970694-92fbf300-b346-11eb-95dd-233b0fa215fe.png)

[2021-05-12 11:53] arekkubaczkowski commented on #203
yup, this is why this error occurs. `buildFeatures` is available from gradle plugin  >= 4.x, are you able to upgrade it?

[2021-05-12 13:59] sahildeliwala commented on #203
@arekkubaczkowski It worked! Thank you very much!!!

[2021-05-12 14:00] #203 closed

[2021-05-12 16:38] michaelbayday opened #204 "Remove example from published package"
**Describe the bug**
I don't think the example should be included within the node_module. Perhaps this should be excluded when publishing?

**Expected behavior**
Examples should be tested when cloning the repo not via the package installed within node_modules.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/35093298/1

[2021-05-12 16:59] michaelbayday commented on #204
For more context, the pods within the example folder use a symlink for the various React Native pods. Since i think it's a relative path and patch-package downloads the package in a `tmp` folder. this breaks it.
``ts
Error: ENOENT: no such file or directory, stat '/var/folders/hd/5w15dl7n0fvfvk0s78typbjc1mqh4n/T/tmp-66903Q0xaQMNPTFcv/node_modules/@stripe/stripe-react-native/example/ios/Pods/Header

[2021-05-12 17:12] thorsten-stripe commented on #203
@arekkubaczkowski can you add this to https://github.com/stripe/stripe-react-native#android please?

[2021-05-12 17:20] michaelbayday commented on #204
@thorsten-stripe  do you have a rough timeline on when this would be published? just so i can plan my next sprint on when to incorporate the public package

[2021-05-12 19:01] benomatis opened #205 "3D Secure cancel: error different (lacking details) for `confirmPayment` on iOS"
When cancelling a 3D secure authentication I get the following errro object back from `confirmPayment`...

on Android:
```{"code": "Failed", "message": "The provided PaymentMethod has failed authentication. You can provide payment_method_data or a new PaymentMethod to attempt to fulfill this PaymentIntent again."}```

on iOS:
```{"code": "Canceled", "message": ""}```

I'm using the exact same code

[2021-05-12 20:02] agentscamp5 opened #206 "Full access to response error object"
Our company uses Stripe's Radar for Fraud Teams to block certain types of cards from being used for things like setupIntents and paymentIntents (e.g. we are only letting debit cards be used right now, would reject a credit card). Right now in this package if we get an error, we are only provided the localizedDescription of the error object, but I can see from Stripe's API logs that the error objec

[2021-05-12 20:12] talkshoplivedev commented on #187
Thanks so much @thorsten-stripe

[2021-05-13 06:14] pinpointpanda commented on #187
Very pleased to find this thread! For our app, we will absolutely be migrating to the PaymentIntents workflow, but not quite yet - so a short-term solution that allows our FE to generate the card token would be great for us. Then our RN app can work with this library instead of our current WebView punchout for `stripe.js` and we'll be ready to move forwards with the more holistic workflow more qui

[2021-05-13 07:12] arekkubaczkowski commented on #204
@michaelbayday I am working on it already

[2021-05-13 09:12] aganov opened #209 "`createPaymentMethod` not resolved with test card on live mode on android"
**Describe the bug**
`createPaymentMethod` is not resolved when using stripe's test cards on `live` mode on `android`.

**To Reproduce**
Steps to reproduce the behavior:

1. Create `CardField` input
2. Enter stripe's testing card eg: `4242 4242 4242 4242`
3. Submit card data with `const { paymentMethod, error } = await createPaymentMethod({ type: "Card", billingDetails })` method
4. Promise not re

[2021-05-13 10:09] benomatis opened #210 "iOS: NSCameraUsageDescription key required even if not used"
Related to #167

@thorsten-stripe I just ran into this as well, I'm being asked to provide a NSCameraUsageDescription key even though I'm not using the camera in my app. However, the message is not coming during a review, so I cannot contact the review team, it's a request for me to add the key, otherwise the build won't end up in App Store Connect at all. I think we should, at the minimum, update

[2021-05-13 10:30] benomatis commented on #210
@thorsten-stripe as an additional question, closely related, is card scanning available at all in iOS (or Android, for that matter)? I see no reference to it in this library even though the key above is set and says "to scan cards" - I read about the feature in [the Stripe iOS SDK docs](https://stripe.dev/stripe-ios/docs/#card-scanning-beta).

[2021-05-13 11:36] ImPDP commented on #7
The bug is still there. Is there any fix for this issue
?

[2021-05-13 12:17] arekkubaczkowski commented on #7
yes, it's still there but you can find workaround for this in the README under `troubleshooting` section

[2021-05-13 14:21] travisobregon opened #211 "Payment sheet customisation"
**Is your feature request related to a problem? Please describe.**
Is there a way to hide the Country and ZIP fields in the payment sheet or at least default to a specific country?

**Describe the solution you'd like**
An option within `initPaymentSheet` to disable Country/ZIP fields. I think this is similar to how `CardField` has `postalCodeEnabled`?

[2021-05-13 14:29] carlosq-ordering commented on #203
@arekkubaczkowski Si, how can I get the Android Gradle plugin version? and how can I upgrade it? thanks

[2021-05-13 15:54] spencercarli opened #212 "[Android] Crash on calling presentPaymentSheet"
**Describe the bug**
App crashes upon calling `presentPaymentSheet` on Android. Works fine on iOS and I'm seeing successful transactions.

**To Reproduce**

[React Native Repo](https://github.com/ReactNativeSchool/rn-stripe-testing)
  - [Stripe provider setup](https://github.com/ReactNativeSchool/rn-stripe-testing/blob/main/src/index.js)
  - [Checkout](https://github.com/ReactNativeSchool/rn-strip

[2021-05-13 16:22] arekkubaczkowski commented on #212
thanks for flagging, we are working on it! for now you can try run app with higher version of android (10 or 11)

[2021-05-14 02:18] carlosq-ordering opened #214 "I get `Value for url cannot be cast from readablenativemap to string` when I try to init the implementation"
**Describe the bug**
After implement StripeProvider and try show the CardField component, the app crash with `value for url cannot be cast from readablenativemap to string`  message

**To Reproduce**
Steps to reproduce the behavior:
Here my code:

I add the provider:
![image](https://user-images.githubusercontent.com/77166972/118210675-cae36300-b438-11eb-8180-3f1876f48687.png)

And here the conten

[2021-05-14 03:34] thorsten-stripe commented on #214
This is related to https://github.com/stripe/stripe-react-native/issues/200#issuecomment-838852320 can you try the workaround mentioned there, please?

[2021-05-14 03:34] #214 closed

[2021-05-14 05:04] thorsten-stripe commented on #209
@aganov thanks for flagging this! Indeed a bug.

[2021-05-14 05:07] #200 closed

[2021-05-14 06:48] #204 closed

[2021-05-14 06:49] thorsten-stripe commented on #204
@michaelbayday hoping to publish later today (Fri May 14th AM PT time)

[2021-05-14 06:52] #209 closed

[2021-05-14 06:54] thorsten-stripe commented on #202
Closing this due to inactivity. Please reopen or reach out to our technical support chat ( https://webchat.freenode.net/#stripe ) if you're still having issues. Thanks.

[2021-05-14 06:54] #202 closed

[2021-05-14 06:56] thorsten-stripe commented on #196
@tgensol did you have a chance to evaluate if the new payment sheet could fit your needs? And if not, can you outline why/what you're missing? Thanks.

[2021-05-14 07:26] aganov commented on #3
Is it possible to remove `@expo/config-plugins` as a hard dependency? It installs a lot of unnecessary packages in non-expo apps...

[2021-05-14 07:45] tgensol commented on #196
Hi @thorsten-stripe ,

Not yet, I plan to do it today :) ! But the perfect flow for me is to have a separated button like Apple Pay, that open the Google Pay modal sheet

[2021-05-14 08:47] #205 closed

[2021-05-14 09:11] thorsten-stripe commented on #211
This isn't possible, the payment sheet controls what data to collect, e.g. for high risk transactions it might collect additional billing details etc.

If this is important for you to control, you'd have to open feature requests on the [Android](https://github.com/stripe/stripe-android/issues/new/choose) and [iOS](https://github.com/stripe/stripe-ios/issues/new) SDKs

[2021-05-14 09:11] #211 closed

[2021-05-14 10:15] #78 closed

[2021-05-14 11:35] aakanksha-02 commented on #202
Thanks for the support.
Everything was at its place. It worked after clean build.
But I don't see any customer details in stripe dashboard.

[2021-05-14 12:55] travisobregon opened #222 "Unable to dismiss the keyboard using `CardField`"
**Describe the bug**
There is no way to dismiss the keyboard (by pressing "Done", or taping away) using the `CardField` component from what I can tell. This is the same behavior in the example project as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the `CardField` component on a screen
2. Tap into the field to open the keyboard

**Expected behavior**
A user can easily dismiss th

[2021-05-14 14:01] cruzach commented on #3
hey @aganov, without the `config-plugins` dependency, it'd be difficult to give first class support `@stripe/stripe-react-native` for both the managed and bare workflows. The package itself is pretty minimal (about 0.6% of the size of the `stripe-react-native` package), and [this is the breakdown of that bundle](https://bundlephobia.com/result?p=@expo/config-plugins@1.0.30). Are there particular d

[2021-05-14 14:39] vigzmv commented on #200
Can this fix be released as 0.1.1 please. Thanks

[2021-05-14 15:42] davidme-stripe commented on #210
Card scanning is built-in on iOS — if you set an NSCameraUsageDescription, it'll show a "Scan card" button in PaymentSheet.

This App Store Connect message seems overly-broad: We don't show the card scanning button unless an `NSCameraUsageDescription` is set, and this check makes it difficult to distribute an SDK with an optional camera feature. It looks like we'll have to split card scanning into

[2021-05-14 15:44] tgensol opened #223 "[Android] Crash when adding a card with the UI sheet"
When I tried to add a card, my app crash instantly

on Android 9.0

`Caused by: android.content.res.Resources$NotFoundException: File res/color/stripe_paymentsheet_elements_background_states.xml from drawable resource ID #0x7f0501fe`

`FATAL EXCEPTION: main
Process: com.appchoose.choose.android.debug, PID: 14291
android.view.InflateException: Binary XML file line #106: Binary XML file line #106: E

[2021-05-14 15:51] benomatis commented on #210
I have only gotten this message once, when I started using this library, and I did not have the key set. I already set the key, so it's ok, but would be indeed nice if it was optional, though I saw nothing changing in the app, I thought it will ask for permission to use the camera, but it doesn't.

[2021-05-14 15:53] davidme-stripe commented on #210
The "scan card" button is only in [PaymentSheet](https://stripe.com/docs/payments/accept-a-payment?platform=react-native) at the moment, so it won't appear if you built your own card form.

[2021-05-14 15:57] benomatis commented on #210
oh, ok, I'm using the card form. Is the PaymentSheet the name of the pre-built UI?

[2021-05-14 15:58] davidme-stripe commented on #210
Yes. Card scanning outside of PaymentSheet is on our roadmap, but we don't have an ETA yet.

[2021-05-14 15:59] benomatis commented on #210
ok, thank you. So I guess this issue could be used to prevent having to set
this key if Camera is otherwise not used in the app?

On Fri, 14 May 2021 at 17:58, davidme-stripe ***@***.***>
wrote:

[2021-05-14 16:12] davidme-stripe commented on #210
Yeah, we'll leave this open to track that work.

[2021-05-14 17:00] thorsten-stripe commented on #223
Duplicate of https://github.com/stripe/stripe-react-native/issues/212

[2021-05-14 17:00] #223 closed

[2021-05-14 18:42] #212 closed

[2021-05-17 11:09] QuentinouLeTwist opened #227 "null is not an object (evaluating '_NativeStripeSdk.default.initialise')"
**Describe the bug**
Hello, I'm currently developing a mobile shop application with Expo Managed Workflow. I installed your package this morning and I tried to use it but it actually fails on running. Once I put the StripeProvider component within my App component, it triggers the following error :
[code]

That error is also triggering using the `initStripe` function. So both entry points of the p

[2021-05-17 15:24] michaelbayday opened #230 "Android: CardField component has limited width for card number on first focus"
**Describe the bug**
On first focus, card number has a fixed width which is very small. If the user advances to zip/cvc and returns they have access to the "correct width"

**To Reproduce**
Steps to reproduce the behavior:
1. Render CardField on Android
2. Start typing card number
3. On first focus, card number has a fixed width. If the user advances to zip/cvc and returns they have access to the

[2021-05-17 16:12] #227 closed

[2021-05-17 20:21] carlosq-ordering opened #231 "Alternative for `confirmCardSetup` method?"
What alternative can I use for this method ?

E.G:

[code]

[2021-05-18 01:53] paulasjes-stripe commented on #231
Hi there, you'd use `confirmSetupIntent` which is available as part of the `useConfirmSetupIntent` or `useStripe` hook. More info here: https://stripe.com/docs/payments/save-and-reuse#react-native-collect-card-details

[2021-05-18 01:53] #231 closed

[2021-05-18 07:29] arekkubaczkowski commented on #222
Hi, thanks for flagging.
Yeah it is because internal react-native behaviors work only with build-in TextInput component https://github.com/facebook/react-native/blob/174753600778675c8b0e7d341b6044192af68d00/Libraries/Components/ScrollView/ScrollView.js#L1380

In this case we have to handle it manually, so we need to track screen interactions and dismiss the keyboard if needed. To achieve this I pr

[2021-05-18 08:09] thorsten-stripe commented on #230
@michaelbayday are you on the latest version of master? And can you provide a screenrecording of this? It's looking fine on my end:

https://user-images.githubusercontent.com/23213994/118615336-32abfc00-b7f3-11eb-8f63-9600f849d090.mp4

[2021-05-18 09:07] #199 closed

[2021-05-18 18:43] MattHorriganSunrise opened #233 "3D Secure not initiating iOS"
3D secure is not initiating maybe I am doing something not correct but these are my steps.

I have setup 3D secure params through the `initStripe` method:
[code]
When I try to complete my payment and it requires additional authorization I then go through the process of `confirmPayment` passing the client secret and type `Card`:

[code]
I receive `You must provide card details` error, I tried passi

[2021-05-18 19:01] arekkubaczkowski commented on #233
for handling card payments we provide dedicated CardField component, you don't need to care about passing card data to the payment because we do it under the hood.
Please follow our docs for more details https://stripe.com/docs/payments/accept-a-payment?platform=react-native&ui=custom

[2021-05-18 19:05] MattHorriganSunrise commented on #233
@arekkubaczkowski Yes I am using the CardField Component, but sometimes it's not used for already saved CC info.

[2021-05-18 19:11] arekkubaczkowski commented on #233
so you are saying that you see this error only when the payment requires additional 3ds authorization or I misunderstood smth? Can you provide gist of your code so I can check what can be wrong with your implementation?

[2021-05-18 19:25] MattHorriganSunrise commented on #233
Thanks for the fast response @arekkubaczkowski ,

Yes I want to initiate 3D secure when required, this happens when I get an error from our BE that looks something like this:
[code]
once I receive this error I want to trigger the 3D secure, so then I go through the process of `confirmPayment` to try and trigger this, whenever I do with this:
[code]
I receive this error:
[code]
The cardField compon

[2021-05-18 19:35] arekkubaczkowski commented on #233
I think you made couple of mistakes
two things:
1. if you want to finalize the payment on the server side you should follow this doc: https://stripe.com/docs/payments/accept-a-payment-synchronously

2. if you want to process the payment using card, CardField component should be on the same screen as the payment is processing, when it's not, we cannot reference to the card details

[2021-05-18 21:34] MattHorriganSunrise commented on #233
Yes finalizing the payments is handled via server side the method I wanted to use was actually:
[code]
but this also displays the same error as I was having before:
[code]
is this because the CardField component is not on the same screen?

[2021-05-18 21:49] MattHorriganSunrise commented on #233
Thank you, yes we are doing the payments server side. The method I was looking for was `handleCardAction`

[2021-05-19 04:22] trag-stripe commented on #198
Thanks for filing this issue @aakanksha-02 - adding a few minor notes for a new team member:

On the page: https://stripe.com/docs/apple-pay?platform=react-native

Update the following code snippets from `items` to `cartItems` as shown:

_Step 6 code snippet:_

<img width="428" alt="Apple_Pay" src="https://user-images.githubusercontent.com/47867685/118756019-04044480-b838-11eb-85b0-52e3dfb13dd5.pn

[2021-05-19 07:36] arekkubaczkowski commented on #185
there was also one thing on my side to fix: https://github.com/stripe/stripe-react-native/pull/234/files#diff-4c983f2aa3f1856047fffa58ecd9f6447b449cfa4f480e8eb159ac858758aa57R424

- the first thing is that `accentColor` now changes the section titles color, @michelleb-stripe is it intentional?
- `accentColor` probably should change the spinner color (I haven't found any different way to set it tho

[2021-05-19 07:45] cinnabarcaracal opened #235 "Initial installation issues"
We are switching over from tipsi-stripe.

Our app is currently using RN version 0.61.4 (this is probably the source of our issues).

## Issues I have resolved so far:

### iOS:

- had to add the Fix.swift file (and bridging header) to solve an error regarding SWIFT_VERSION.
- had to bump minimum ios target
- had to switch to the latest xcode
- had to add some post-install logic in the Podfile to w

[2021-05-19 08:18] arekkubaczkowski commented on #235
Hi, you're right
babel started supporting this feature since `7.9.0v`  https://github.com/babel/babel/pull/11171
so probably you should upgrade your babel version or install plugin which allows to transpilation of this syntax.
https://babeljs.io/docs/en/babel-plugin-transform-typescript

[2021-05-19 08:23] arekkubaczkowski commented on #235
and thanks for flagging, it's worth to add this information to the README

[2021-05-19 13:06] thorsten-stripe commented on #52
* iOS: https://stripe.com/docs/payments/wechat-pay/accept-a-payment?platform=ios
  * `pod 'Stripe', :git => 'https://github.com/stripe/stripe-ios.git', :branch => 'wechatpay-pm-beta'`
* Android: https://stripe.com/docs/payments/wechat-pay/accept-a-payment?platform=android
  * https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md#1671---2021-04-29

[2021-05-19 14:03] #233 closed

[2021-05-19 14:41] scesbron opened #237 "[Android] With `CardField` when the card is completed and then uncomplete the flag does not change"
**Describe the bug**
With `CardField` I enter a valid card and then remove some data or change the card number to something invalid. In the card details returned by the `CardField` component

**To Reproduce**
- Use the sample app
- Go to the WebhookPayment screen
- Enter valid data
- remove some data or change the card number to something invalid
- validate the form, the payment is ok

**Expected

[2021-05-19 14:45] scesbron commented on #237
To be more precise
- When I enter an invalid card number the `last4` value stay with the value from the correct card number
- When I remove the year the `expiryYear` value is updated but the `complete` value stay to `true`

[2021-05-19 15:05] ThomasPnt opened #238 "Unable to back to the App after 3D Payment Auth ( Bancontact )"
Once the payment has been accepted by the bank whether on IOS or Android the return to merchant button does not work.
I tested the return_url from my phone when I put myapp://safepay it redirects me to my application. Except that since when I do the confirmPayment the confirmation screen appears, since it is still in the app and does not open a new app the return to merchant is maybe just supposed

[2021-05-19 15:14] peraltafederico opened #239 "Error in createPaymentMethod: You must provide card details"
**Describe the bug**
After setup `StripeProvider` and render correctly `CardField` I keep receiving `error: "You must provide card details"` when calling `await createPaymentMethod({type: 'Card'})`.

**Expected behavior**
`createPaymentMethod` should read the card details from `CardField`. If that's not the supposed behavior please let me know. I'm following this guide https://stripe.com/docs/paym

[2021-05-19 15:20] thorsten-stripe commented on #238
Please use the bug report template to report sufficient information for us to investigate: https://github.com/stripe/stripe-react-native/issues/new?assignees=&labels=&template=bug_report.md&title=

[2021-05-19 15:20] #238 closed

[2021-05-19 15:26] thorsten-stripe commented on #239
Please provide a `console.log` of the `cardDetails` from the `CardField` component at the time of calling `createPaymentMethod`. The `cardDetails` have a `complete` param which indicates whether the `CardField` is considered complete. Do note that on iOS the `CardField` is only considered complete when a postal code has been provided. If you do not wish to collect the postal code you need to set t

[2021-05-19 15:35] ThomasPnt opened #240 "Return to merchant button doesn't work"
**Describe the bug**
Once I do the confirmPayment we go through the bank which validates our payment, but once we get to the redirection page with the return to merchant button nothing happens when we click on it.

On android we get "cannot open this type of links".

**To Reproduce**
my wrapper

<StripeProvider publishableKey={config.stripe} urlScheme='myapp' setUrlSchemeOnAndroid={true}>...

my f

[2021-05-19 15:37] peraltafederico commented on #239
Thanks @thorsten-stripe for the quick reply. This is the console log of the `cardDetails` when calling `createPaymentMethod`

[code]

I leave you below a code snippet, I think that may help:

[code]

[2021-05-19 16:02] arekkubaczkowski commented on #239
CreatePaymentMethod takes clientSecret as a first argument 😉

[2021-05-19 16:26] thorsten-stripe commented on #240
What does your `StripeProvider` look like? Are you setting the `urlScheme` prop?

[2021-05-19 21:10] trag-stripe commented on #198
Adding @laurenoh-stripe to this issue ✅

[2021-05-19 21:10] trag-stripe commented on #190
Adding @laurenoh-stripe to this issue ✅

[2021-05-19 22:46] carlosq-ordering opened #241 "iOS: Fails when I try install the dependency"
I try to install `@stripe/stripe-react-native` in ios, already run `pod install` in ios folder, but I'm getting this error

Any idea?

![image](https://user-images.githubusercontent.com/77166972/118894514-6447c480-b8d2-11eb-9dfe-aa29d9b49c82.png)

Thanks.

[2021-05-20 00:56] michaelbayday commented on #230
i am using version 0.1.1

https://user-images.githubusercontent.com/35093298/118902936-825df680-b8cb-11eb-892c-035f6c7ee013.mov

[2021-05-20 00:57] michaelbayday commented on #230
https://user-images.githubusercontent.com/35093298/118903001-9e619800-b8cb-11eb-8ef2-a0c3ad6204f1.mov

[2021-05-20 01:02] Santix11 commented on #241
If your target is IOS 11 or above in your Podfile and it still does not work then perhaps check this out.

https://github.com/stripe/stripe-react-native/issues/45#issuecomment-762927330

[2021-05-20 01:58] carlosq-ordering commented on #241
Still failing

[2021-05-20 04:04] #198 closed

[2021-05-20 04:05] #190 closed

[2021-05-20 05:45] thorsten-stripe commented on #241
@arekkubaczkowski is this potentially related to appium https://github.com/appium/appium/issues/12511 ?

[2021-05-20 05:58] arekkubaczkowski commented on #241
@carlosq-ordering can you check whether you have two build directories in ios folder (Debug and Release)? If so, you need to remove one of them (probably Release if you want develop the app)

[2021-05-20 07:11] ThomasPnt commented on #240
My `StripeProvider` looks like this:
`<StripeProvider publishableKey={config.stripe} urlScheme='myapp' setUrlSchemeOnAndroid={true}>`

In IOS I added the scheme
[code]

[2021-05-20 08:05] rahu431 opened #242 "[Android] error: cannot find symbol new StripeSdkPackage()"
projectrootpath.../android/app/build/generated/rncli/src/main/java/com/facebook/react/PackageList.java:35: error: package com.reactnativestripesdk does not exist
import com.reactnativestripesdk.StripeSdkPackage;
                               ^
projectrootpath.../android/app/build/generated/rncli/src/main/java/com/facebook/react/PackageList.java:133: error: cannot find symbol
      new StripeSdkPa

[2021-05-20 08:23] #201 closed

[2021-05-20 10:18] fedebaier opened #243 "Localization support"
I'm implementing the **Pre-built payments UI** and couldn't find a way to set a locale to show it in different languages. Is there something I'm missing or is this not yet implemented?

It's quite important for our app, since it supports a few languages.

[2021-05-20 10:19] totodot commented on #239
I have the same problem, in documentation, you save card details in store but you never use that.
I guess, that it should be provided to confirmPayment or createPaymentMethod functions.

[2021-05-20 10:28] arekkubaczkowski commented on #239
@totodot you are wrong, we passing card details to the payment under the hood, so processing the payment should be on the same screen as CardField component is mounted.

Is it occurs on android as well?

[2021-05-20 11:00] totodot commented on #239
Ok, thanks.
Did you include that in the documentation? For me it's a little tricky, and I don't know what happens in code.

For android i need to update gradle to 6.5 and com.android.tools.build:gradle to 4.1.2.
It's strange for android it works, after that i run app on IOS second time and now it works. I don't know why.

that my code:
[code]

[2021-05-20 11:05] totodot commented on #239
@arekkubaczkowski
Do you consider adding createPaymentMethodToken function? It is necessary if you want to implement your own card input UI.

[2021-05-20 12:20] arekkubaczkowski commented on #239
it's already done and will be available in the next release. https://github.com/stripe/stripe-react-native/pull/221

[2021-05-20 12:23] arekkubaczkowski commented on #239
actually it's available already, you can use it by passing token to the `createPaymentMethod`
[code]

[2021-05-20 12:24] arekkubaczkowski commented on #239
please let me know when it occurs again, I will try to help with some debugging

[2021-05-20 12:39] franciscofernandez0 opened #244 "No signature of method Error"
Hello!
The library throws the attached error when runing on Android emulator
Just install last version and run "npm run android"

![Sin título](https://user-images.githubusercontent.com/20439136/118979383-b17e7180-b978-11eb-9188-6e4286c1d1d2.png)

This is happening on Android Emulator with SDK 29 and react-native 0.63.4
Any idea?

[2021-05-20 12:57] arekkubaczkowski commented on #244
can you check the version of android gradle plugin and upgrade to  >= 4.x if it's lower already?

[2021-05-20 13:09] franciscofernandez0 commented on #244
Yes, that was the problem.
added:
        classpath("com.android.tools.build:gradle:4.0.0")
to build.gradle and now is working. Thanks!

[2021-05-20 13:09] #244 closed

[2021-05-20 13:10] arekkubaczkowski commented on #244
cool, I have just added this information to the README https://github.com/stripe/stripe-react-native/pull/246

[2021-05-20 13:27] benomatis opened #248 "iOS Dark Mode + 3DSecure popup: footer color too dark"
I use dark mode on my phone (iPhone 11 with iOS 14.5.1), and it appears to make the bottom gray part of the 3DSecure popup (with Learn more... and Need help) to be really dark, like if there was an overlay on top of it, but it's not, if I tap the section titles, they open fine, it's just very dark. Any way that could be overriden? Interestingly the very top gray line, just above the popup, remains

[2021-05-20 14:02] laurenoh-stripe commented on #198
This is all set! https://stripe.com/docs/apple-pay?platform=react-native

[2021-05-20 14:02] laurenoh-stripe commented on #190
This is all set! https://stripe.com/docs/payments/3d-secure#when-to-use-3d-secure

[2021-05-20 14:09] carlosq-ordering commented on #241
I only try to run `yarn react-native run-ios`, I'm not try to generate a IPA file

[2021-05-20 14:21] arekkubaczkowski commented on #241
yup but I thought that you could run e2e tests which generates release build, so you didn't?

[2021-05-20 14:23] carl-passnfly opened #249 "[Expo] NativeStripeSdk in StripeProvider.tsx is undefined using initStripe"
**Describe the bug**
[code]
Using the preceding code to initialize stripe in a componentDidMount in an expo project causes a:

 `TypeError: Cannot read property 'initialise' of undefined (StripeProvider.tsx:42)` error.

**To Reproduce**
[code]
**Expected behavior**
NativeStripeSdk to be compiled and working in the package import.

**Desktop (please complete the following information):**
 - OS: Ubu

[2021-05-20 14:24] carlosq-ordering commented on #241
No, I only install the dependency, I do my code and when I try to run-ios, this fails, I already try with this https://github.com/stripe/stripe-react-native/issues/45#issuecomment-762927330, but still failing.

FYI, in android all works fine

[2021-05-20 14:27] arekkubaczkowski commented on #241
@carlosq-ordering are you sure that when you uninstall stripe sdk it works again?

[2021-05-20 14:30] carlosq-ordering commented on #241
I am only using this dependency
![image](https://user-images.githubusercontent.com/77166972/118996925-41f78a80-b956-11eb-881a-c100df01a281.png)

[2021-05-20 14:31] arekkubaczkowski commented on #241
this is what I am asking for, could you make sure it's works without this dependency?
you can also try to run your project via xcode instead of cli, but make sure you open .xcworkspace file

[2021-05-20 14:40] carlosq-ordering commented on #241
Oh, my project works without this dependency `@stripe/stripe-react-native`, But when I install it to implement my stripe requirements, I can run the app with run-ios command, is the same if I try to run with xcode.

Exist some alternative to install or make it work on Ios?

[2021-05-20 15:55] thorsten-stripe commented on #249
How are you running your expo project? Expo support is still quite limited, see https://github.com/stripe/stripe-react-native#expo

We're working with the Expo team to make this smoother, you can follow along here: https://github.com/stripe/stripe-react-native/issues/3

[2021-05-20 16:03] thorsten-stripe commented on #241
Have you followed all the https://github.com/stripe/stripe-react-native#troubleshooting steps? Especially

Open Xcode and create a new Swift file to the project (File > New > File > Swift), give it any name (e.g. Fix.swift) and create a bridging header when prompted by Xcode.

[2021-05-20 16:05] #239 closed

[2021-05-20 16:08] thorsten-stripe commented on #240
Have you implemented deep linking? https://stripe.com/docs/payments/bancontact/accept-a-payment?platform=react-native#react-native-handle-deep-linking

[2021-05-20 16:09] carl-passnfly commented on #249
Hi @thorsten-stripe! I'm running the project as a "managed workflow". Like you said the expo support does still seem quite limited. I'll maybe try my chances to eject the project to a bare workflow instead. Generally I'd like to avoid it since there would be no other reason than getting compatibility with this project. I have already been playing around with options to see if it's caused by babel

[2021-05-20 16:14] thorsten-stripe commented on #230
@michelleb-stripe might this be related to the short custom placeholder? @michaelbayday maybe try to add some whitespace to your placeholder, e.g.

[code]

[2021-05-20 16:17] DZuz14 opened #250 "Document How To Use Confirm Payment More Clearly"
From looking at the documentation, I still have no idea how to include things like expiration and card number in the confirmPayment method. I've looked through all of the types in [PaymentMethods](https://github.com/stripe/stripe-react-native/blob/4396df7/src/types/PaymentMethods.ts#L66), and see no mention of a card number or expiration field.

What I'd like to see, is more documentation on how t

[2021-05-20 17:23] michaelbayday commented on #230
looks like that was the issue. On an unrelated note, for some reason the card icon only shows in dark mode and not in light mode any ideas on this one?

[2021-05-20 17:24] michaelbayday commented on #230
still feels like that is a bug since the UI width shouldnt be dependent on the length of the placeholder (since it is a placeholder)

[2021-05-20 18:04] ThomasPnt commented on #240
@thorsten-stripe Thanks for your help, I obviously made a mistake in the IOS setup and I was testing the Linking with the open debugger which seems to cause some problems.

Now I can make the return on the application as I wished, as well on android as on IOS, my friend who tested on Android had maybe a too old phone

[2021-05-20 18:53] trex-quo commented on #239
Yes but there is no easy way to create the token with the current API. In tipsi-stripe they allow you to create a token with the card

[2021-05-20 19:53] peraltafederico commented on #239
I've used this lib to create the token https://github.com/xcarpentier/react-native-stripe-api. Just as a reminder you can use the public API of stripe https://stripe.com/docs/api/tokens

[2021-05-20 19:54] peraltafederico commented on #239
I've used this lib to create the token https://github.com/xcarpentier/react-native-stripe-api. Just as a reminder you can use the public API of stripe https://stripe.com/docs/api/tokens

[2021-05-21 00:35] westbrookj commented on #3
@thorsten-stripe I noticed on the calendar it showed a public beta for May 11th and a potential Expo Go patch release May 17th. I'm not seeing those on there anymore. Is there still a timeline laid out for when this project would be available for use in managed workflows either in a beta or official release?

[2021-05-21 03:05] thorsten-stripe commented on #239
@peraltafederico you should not use any third party library to handle card detail collection! To create tokens you will be able to use the `createToken` method once version 0.1.2 is released.

[2021-05-21 03:09] #240 closed

[2021-05-21 03:14] peraltafederico commented on #239
@thorsten-stripe Ok I see what you mean and I absolutely agree with you. But.. how can I integrate a React Native App with stripe if I need that feature now and currently is under development? 🤔

[2021-05-21 03:28] thorsten-stripe commented on #239
@peraltafederico ideally you should migrate to use `createPaymentMethod` instead. Any reason why you need a legacy token?

[2021-05-21 03:30] thorsten-stripe commented on #230
Yes, definitely a bug, but not reproducible on a native android app and therefore must be related to some RN quirk and that will take time to debug I'm afraid. Can you live with the placeholder whitespace workaround for the time being?

[2021-05-21 03:31] michaelbayday commented on #230
Yep that’s fine. Thank you for the help. Should I submit another but for the asset?

[2021-05-21 03:34] thorsten-stripe commented on #250
For PCI compliance reasons the SDK retrieves the card details from the `CardField` component: https://stripe.com/docs/payments/accept-a-payment?platform=react-native&ui=custom#react-native-create-checkout-page

Example can be found in the example folder: https://github.com/stripe/stripe-react-native/blob/master/example/src/screens/WebhookPaymentScreen.tsx

[2021-05-21 03:34] #250 closed

[2021-05-21 03:42] thorsten-stripe commented on #230
Yes, please, ideally with some screenshots. Thanks.

[2021-05-21 04:01] peraltafederico commented on #239
@thorsten-stripe My bad, forget about tokens.

Coming back to `createPaymentMethod` issue I want to make it work but as I said at the very beginning unfortunately I couldn't yet. Here is the console.log you asked for plus a code snippet of the implementation: https://github.com/stripe/stripe-react-native/issues/239#issuecomment-844222912. I'll try to implement it in Android and see what happens th

[2021-05-21 04:15] thorsten-stripe commented on #239
Your code snippet above works fine for me. Can you try replacing `setCard(cardDetails);` with `console.log(cardDetails);` and post the last log before hitting submit? For me it is:

[code]

[2021-05-21 04:40] peraltafederico commented on #239
@thorsten-stripe Thanks for your time! I'll share you the log ASAP.

[2021-05-21 05:11] #187 closed

[2021-05-21 05:48] #148 closed

[2021-05-21 08:14] jonasgroendahl opened #251 "ld: library not found for -lDoubleConversion"
**Describe the bug**
I'm following the Troubleshooting guide since I'm experiencing the case described there but whenever I remove everything in the Search paths, it can't find libraries, first one it complains about is the DoubleConversion lib. I get the error:

[code]

If I however keep everything in the library search path (default), I get the error as described in the troubleshooting section:

[2021-05-21 08:51] arekkubaczkowski commented on #251
Did you follow all steps from https://github.com/stripe/stripe-react-native#troubleshooting?

[2021-05-21 08:59] jonasgroendahl commented on #251
I was confused by the documentation, I ended up deleting all things instead of just ${inherited}. this video helped me adding stuff back: https://www.youtube.com/watch?v=XvaqW0lQL18

[2021-05-21 08:59] #251 closed

[2021-05-21 13:40] #237 closed

[2021-05-21 15:19] #103 closed

[2021-05-21 15:26] AliShirzad opened #253 "<unknown>:0: error: module map file Stripe/Stripe.modulemap' not found"
I am trying to archive my project. I build with emulator and it is working fine.

my device is macbook pro M1

Error:
<img width="798" alt="Screenshot 2021-05-21 at 14 42 48" src="https://user-images.githubusercontent.com/9092949/119161400-89713a00-ba6e-11eb-832a-ef8181618222.png">

[2021-05-21 19:46] cruzach commented on #249
hi @carl-passnfly ! Good news for you- Expo managed workflow support for `@stripe/stripe-react-native` has landed 😄

If you download the newest versions of Expo Go from the stores, you should be good to go

[2021-05-21 20:08] cruzach commented on #3
Expo managed workflow support has landed as of this morning 😄

You will need to use the most recent versions of Expo Go from the stores (or locally on simulators installed with `expo install:client:[ios|android]`).

You can refer to [these docs](https://docs.expo.io/versions/v41.0.0/sdk/stripe/) to get more specifics on what's supported in Expo Go, and what you'll need to build with EAS Build for.

[2021-05-21 20:08] #3 closed

[2021-05-22 00:02] jimji1005 commented on #241
I tried to implement on a fresh project with `rn init`. this is 64.1, with Xcode 12.5, deployment target 11

plain implementation with out bridging header build generates 9 errors

after implementing the bridging header there are 5 errors
[code]

Here are my specs
[code]

This is the library search path listed
<img width="678" alt="Screen Shot 2021-05-21 at 5 02 41 PM" src="https://user-images.git

[2021-05-22 05:59] jimji1005 commented on #241
I found the issue on my build.

I was a bit puzzled by the troubleshoot step of removing entry from LIBRARY_SEARCH_PATHS, because when I looked at my Xcode project no such path existed.

But I do see the paths there.... however just not in the entry.
<img width="1114" alt="Screen Shot 2021-05-21 at 10 52 06 PM" src="https://user-images.githubusercontent.com/5834998/119216275-acf4ae80-ba87-11eb-91c

[2021-05-22 07:42] arekkubaczkowski commented on #241
it's already described here https://github.com/stripe/stripe-react-native#troubleshooting

[2021-05-22 20:40] jimji1005 commented on #241
Correct, it just wasn't clear it had to be done via an editor instead of using Xcode, since via Xcode the entry did not show up.

[2021-05-23 05:43] satyamdorville opened #256 "Native module cannot be null with Expo Managed Workflow"
**Describe the bug**
At init got this error :
![image](https://user-images.githubusercontent.com/8899089/119249601-bf461980-bb67-11eb-87fa-7dba1ce4037f.png)

Context :
IOS (Physical Device
Using Expo Managed Workflow
Typescript

**To Reproduce**
[code]

App.tsx
[code]

package.json
[code]

[2021-05-23 06:50] satyamdorville opened #257 "Deep Customization of Paymentsheet"
It is possible to localize the payment sheet texts ?
To change them ?

Thanks

[2021-05-23 20:56] robert-nash opened #258 "ApplePayButton cornerRadius"
ApplePayButton doesn't appear to expose any way of setting cornerRadius, it would be useful if it did. https://developer.apple.com/documentation/passkit/pkpaymentbutton/2999416-cornerradius

[2021-05-23 21:01] pritamsoni-hsr opened #259 "[Android] : method addObserver must be called on the main thread."
**Describe the bug**
stripe android not working in an existing project, followed all the instructions as given.

**Screenshots**
![Screenshot_1621796929](https://user-images.githubusercontent.com/23050213/119276459-fedc3680-bc37-11eb-9420-ec2f8d747d7a.png)

**Desktop (please complete the following information):**
 - OS: M1, MacOS, 10.15, node 14.15

**Smartphone (please complete the following info

[2021-05-24 00:37] cinnabarcaracal commented on #235
thanks @arekkubaczkowski

I have tried installing that plugin (or the superset of typescript presets) to no success. I have also tried various combinations and degrees of babel dependency upgrades, but there was always some issue (loss of jsx support, metro locking up and so on). I'm now halfway through upgrading the app to the latest RN (and oh boy is that pbxproj file a monster when the automate

[2021-05-24 04:13] thorsten-stripe commented on #256
Can you follow the update steps here and see if that resolves it? https://github.com/stripe/stripe-react-native/issues/3#issuecomment-846225534

[2021-05-24 09:31] thorsten-stripe commented on #196
@Yonom thank you for the feedback! As mentioned, standalone Google Pay support is being tracked here: https://github.com/stripe/stripe-react-native/issues/9

I'm going to close this issue out as I believe all mentioned asks are being traced in their own issues: https://github.com/stripe/stripe-react-native/issues/196#issuecomment-838734268

Please let me know if that isn't the case, thanks.

[2021-05-24 09:31] #196 closed

[2021-05-24 09:36] thorsten-stripe commented on #235
Thanks for the update, @cinnabarcaracal. I'll close this out for now as we've added the additional requirements to the README, but please reopen or file a new issues should it not get resolved. Thanks.

[2021-05-24 09:36] #235 closed

[2021-05-24 09:41] #249 closed

[2021-05-24 09:43] thorsten-stripe commented on #256
Closing this out as I believe mentioned comment will help you resolve this. Please do reopen if that's not the case. Thanks!

[2021-05-24 09:43] #256 closed

[2021-05-24 09:44] satyamdorville commented on #256
Just for info specifically upgrading SDK to v41 solve this

Le lun. 24 mai 2021 à 05:43, Thor 雷神 ***@***.***> a écrit :

--

--
Satyam Dorville
+596 (0) 696 45 04 45

[2021-05-24 09:50] thorsten-stripe commented on #243
@fedebaier thanks for the feedback! Currently the sheet is localised based on the language in the phone device settings. But I agree that we should allow you to overwrite it. I've forwarded this to the team.

[2021-05-24 09:52] thorsten-stripe commented on #257
Duplicate of https://github.com/stripe/stripe-react-native/issues/243

[2021-05-24 09:52] #257 closed

[2021-05-24 10:44] DanGDroid commented on #196
An AutoFocus/focus function on the CardField component could be really cool. It will save some clicks to my user and by abtesting we saw that the conversion rate was better in the past

we actually preffer not to force Auto focuse (it can be good to set as an optional param),
because we have another InputText - Card Holder - before the Card Input
![Screenshot 2021-05-24 at 13 43 49](https://user-i

[2021-05-24 10:48] thorsten-stripe commented on #196
@DanGDroid `autofocus` is `false` by default, so it only focuses if you set `autofocus` to `true`.

[2021-05-24 12:49] arekkubaczkowski commented on #242
@rahu431  can you share a bit more context of this error? It seems to be compilation error but it's hard to figure out what is the cause based on this information

[2021-05-24 12:51] Sunhat opened #263 "Do we need to use your components?"
Do we need to use your components or can we just continue the more simple and elegant tipsi-stripe?

[2021-05-24 13:09] arekkubaczkowski commented on #253
@AliShirzad can you make sure that you have set `deployment target >= 11` in your project configuration?
<img width="394" alt="Zrzut ekranu 2021-05-24 o 15 08 16" src="https://user-images.githubusercontent.com/18654447/119352470-046e6680-bca2-11eb-82f5-a06774066fa8.png">

[2021-05-24 13:12] arekkubaczkowski commented on #253
and actually it should be the same as in your Podfile

[2021-05-24 13:15] ImPDP opened #264 "Apple Pay Docs - Server side confirmation code snippet is native"
React Native Apple Pay's documentation has Swift/Objective-C code snippet in the payment intent section. Can anyone please check and update with js codes?

[2021-05-24 13:30] arekkubaczkowski commented on #259
could you share some more details? When it occurs? once application is started or after calling some stripe method?

[2021-05-24 13:43] pritamsoni-hsr commented on #259
when the application starts.

[2021-05-24 13:59] arekkubaczkowski commented on #259
so it occurs even if you don't `init` sdk by `StripeProvider` or `initStripe` method correct?

[2021-05-24 14:18] pritamsoni-hsr commented on #259
nah, I just added the sdk, `npm i`, then `gradlew bundleDebug`, updated build.gradle to 4.x.x.
it builds and when I try to run the code, it loads the js, tried to console log NativeModuels.StripeSdk, js code never gets executed. this is the only screen that I see.
my App code is just this.

`export default () => (<Text>Hello World!</Text>)`

some references that I found

segmentio/analytics-react-

[2021-05-24 14:33] arekkubaczkowski commented on #259
can you run application via android studio and copy paste some more context of this error from the logcat?

[2021-05-24 14:33] #222 closed

[2021-05-24 14:48] thorsten-stripe commented on #264
Thanks for flagging @ImPDP. The server-side confirmation flow is not available in React Native. We will remove the tab from the docs, thanks. Please use the "Payment Intents API" path instead.

[2021-05-24 14:55] thorsten-stripe commented on #263
@Sunhat, it's all about tradeoffs. If you want the easiest possible PCI compliance, you will want to use either the [prebuilt payments UI](https://stripe.com/docs/payments/accept-a-payment?platform=react-native&ui=payment-sheet) or the [CardField component](https://stripe.com/docs/payments/accept-a-payment?platform=react-native&ui=custom).

If you prefer to manage PCI compliance requirements yours

[2021-05-24 16:46] thorsten-stripe commented on #102
@pvinis unfortunately we do not have the ability to detect onBlur on Android atm. Can you outline what your need is for this?

[2021-05-24 17:15] pvinis commented on #102
It's pretty useful for forms and error showing etc, so that we only show/trigger them onBlur.

[2021-05-24 17:15] pvinis commented on #102
If it's not doable now, maybe it can be a non-blocker, but I think this should be there, at some point.

[2021-05-24 20:08] DZuz14 opened #265 "Card Details Not Resetting Properly. Able To Submit With Empty CardField."
## Issue
While I was doing some error validation for my applications checkout screen, I noticed that after entering information into a CardField component, I could then erase all of that information, and still submit and get a successful payment. If this isn't clear, the steps to reproduce listed below should clarify things.

## Steps To Reproduce
I know most of the Stripe test information can be

[2021-05-25 04:06] thorsten-stripe commented on #265
This has been fixed in https://github.com/stripe/stripe-react-native/releases/tag/v0.1.2 please update to that version

[2021-05-25 04:06] #265 closed

[2021-05-25 04:09] #241 closed

[2021-05-25 04:11] thorsten-stripe commented on #248
@davidme-stripe can you help look into this?

[2021-05-25 06:40] thorsten-stripe commented on #185
@michelleb-stripe can you help out with this?

[2021-05-25 06:43] #258 closed

[2021-05-25 06:43] thorsten-stripe commented on #258
This will be part of the v0.1.3 release later this week

[2021-05-25 07:58] robert-nash commented on #258
Brilliant, thank you

[2021-05-25 11:07] michelleb-stripe commented on #185
@thorsten-stripe and @arekkubaczkowski Let me get back to you on this.

[2021-05-25 11:14] anija commented on #239
I'm experiencing this problem also.
I'm migrating from tipsi-stripe, but i can't obtain the paymentMethodId from createPaymentMethod method.
I'm trying createPaymentMethod from the same screen where the CardField component is rendered, and if i log cardDetails i see:
`Object { last4: "4242", expiryMonth: 4, expiryYear: 24, complete: true, brand: "Visa" }`
But the method gives the error:
`{ code: "

[2021-05-25 12:04] hpvnarola opened #267 "[Android] : presentPaymentSheet() is not opening stripe payment sheet in android"
**Describe the bug**
presentPaymentSheet() is not opening the stripe payment sheet in android when passing direct charge payment intent client secret. it's working fine in iOS.

**server-side**
[code]
**client-side(react-native -> android)**
[code]

**Expected behavior**
The payment sheet should open in android as well like in IOS.

**Screenshots**
If applicable, add screenshots to help explain yo

[2021-05-25 12:07] fedebaier commented on #243
I've tested changing the device's language but it always shows in English.

[2021-05-25 12:27] anija opened #268 "CardField testID with Typescript"
**Describe the bug**
Using typescript and adding the testID property to the <CardField> component raise a TS2322 error because testID don't exists in CardField Props.

**Expected behavior**
To run end-to-end tests, it  should be possible to set a testID for the CardField.

[2021-05-25 12:49] anija commented on #196
tipsi-stripe allowed to get the Apple Payment token using paymentRequestWithNativePay (https://tipsi.github.io/tipsi-stripe/docs/paymentRequestWithNativePay.html).
Any chance to get the same feature?

[2021-05-25 15:33] DZuz14 opened #269 "Make Displaying Error Messages Easier"
Is it possible to make displaying API errors to the user easier? The Stripe API does provide error messages that are descriptive enough to what the actual problem is, but it takes some string manipulation in order to get the pretty printed version of them.

For example, here is my code that will set an error message above the submit button of my payment screen.

[code]

The error that is returned

[2021-05-25 15:36] arekkubaczkowski commented on #269
it will be handled here https://github.com/stripe/stripe-react-native/issues/206

[2021-05-25 15:36] #269 closed

[2021-05-25 16:02] thorsten-stripe commented on #267
Are you setting `stripeAccountId` to be the same value as `user.stripe_connect_id` in your `StripeProvider` component? https://stripe.dev/stripe-react-native/api-reference/interfaces/stripeproviderprops.html#stripeaccountid

[2021-05-25 21:15] vxgnesh opened #270 "Prebuilt UI multi step"
I need more info on this specific code. It is located in the Server.js file. So the api call /payment-sheet is used by the Prebuilt UI Custom Screen. In this how do we specify or pass the customer. Here it takes the latest one but how do we pass a customer other than the latest one/customers.data[0]?

Is there any documents i could look into to get a better sense of what's going on in this code?

[2021-05-26 02:21] trex-quo opened #271 "Create PaymentMethod with Apple Pay"
**Is your feature request related to a problem? Please describe.**
When creating a subscription for a customer with a debit card, it is clear and straightforward that the payment method is stored with the subscription and associated with the customer object. You can either create a PaymentMethod using the card information and associate it with the subscription in that manner, or you can pass in `s

[2021-05-26 02:52] michelleb-stripe commented on #185
We have this on our list to look at, but I am not sure I will get to it this week.

[2021-05-26 05:19] krishan-digitalglyde opened #272 "Run-Android on Example gives : Could not resolve org.jetbrains.kotlin:kotlin-reflect:1.5.0."
We are trying to build an Stripe integration into our react-native app. Before that we were trying to run the Example provided in the code and we are getting error when trying to npx react-native run-android on windows.

JDK used is 11

Can anybody help for it.

[2021-05-26 05:26] hpvnarola commented on #267
Yes, I'm doing the same, I wrapped the children components inside StripeProvider, below you can see the code for the `StripeProvider` setup.
Below also have attached the video for what happens when invoking stripe payment in android.
It's a live project and we are facing a problem with android please help us with this.

Video link: https://drive.google.com/file/d/1NCW12oiso_InVKEEZ3VU3h3uGJpxK1il/

[2021-05-26 12:36] AlixH opened #275 "How to scale the CardField fontSize ?"
I'd like to scale the CardField fontSize to have a proper size on all devices (iPhone, iPad, etc)
I am using the https://github.com/nirsky/react-native-size-matters library to scale my UI. When using it inside the cardStyle object, it does not work on the fontSize property.

[2021-05-26 14:33] thorsten-stripe commented on #275
Please provide code snippets and screenshots

[2021-05-26 14:54] thorsten-stripe commented on #271
Thanks @trex-quo, we should provide a way to get the payment method from Apple Pay. We'll track this work here.

[2021-05-26 15:01] arekkubaczkowski commented on #272
I think it might be related with the JDK version, but let's make sure that your project meets our requirements https://github.com/stripe/stripe-react-native#android

if it won't help you should try to use JDK 8 since I see that many folks have issue with running RN projects with this specific version of jdk.

[2021-05-26 15:04] AlixH commented on #275
iPhone UI
<img width="503" alt="Screenshot 2021-05-26 at 16 55 08" src="https://user-images.githubusercontent.com/32574035/119682434-2c490000-be43-11eb-8e96-21fbe3cac4ae.png">
iPad UI
<img width="756" alt="Screenshot 2021-05-26 at 16 55 03" src="https://user-images.githubusercontent.com/32574035/119682439-2d7a2d00-be43-11eb-9913-0f0c3b35233f.png">

[code]

Note: I dont manage to use percentage eit

[2021-05-26 15:05] arekkubaczkowski commented on #275
@AlixH  what is the output of `scale()` function?

[2021-05-26 15:06] tareq0065 commented on #241
library search paths doesn't work. You need to change it manually by editing the Xcode project file. can you update the README please? I did not get the paths in the library search paths list in the Xcode.

[2021-05-26 15:06] thorsten-stripe commented on #270
You will need to provide the customer ID for your authenticated user. In our example we do not handle authentication, that's why we simply feed in the latest customer object, but that's only for demo purposes. In your application you will need to make sure the customer is authenticated.

You can see an example with Firebase Auth being used here: https://github.com/stripe-samples/firebase-mobile-pa

[2021-05-26 15:06] #270 closed

[2021-05-26 15:11] thorsten-stripe commented on #178
Closing this out, but @adkenyon feel free to reopen if the above mentioned resolution doesn't work for you.

[2021-05-26 15:11] #178 closed

[2021-05-26 15:18] AlixH commented on #275
It's a number

[2021-05-26 15:35] thorsten-stripe commented on #243
If you go to Settings -> System -> Languages & Input -> Languages -> and then add your language to the top of the list, you should see a different version when you go back to the payment sheet.

@fedebaier have you tested both platforms?

[2021-05-26 16:41] fedebaier commented on #243
Yes, I've tried this in both iOS and Android, on simulators and on physical devices, and it always displays in English.

[2021-05-26 17:04] #267 closed

[2021-05-26 17:07] thorsten-stripe commented on #267
@hpvnarola thank you for reporting this, and sorry for the inconvenience! I've just merged the fix into master and am hoping to release it within v0.1.3 by end of week. If you need it earlier, you can clone down master branch and build the library locally: https://github.com/stripe/stripe-react-native/blob/master/CONTRIBUTING.md#install-library-as-local-repository

[2021-05-26 17:46] trex-quo commented on #271
I think that a workaround for the time being would be to retrieve the PaymentIntent from the subscription immediately after creating it server-side, and then update the PaymentIntent with `{setup_future_usage: 'off_session'}` before returning the client_secret to the client. Does that sound reasonable?

[2021-05-26 20:00] agentscamp5 commented on #178
@thorsten-stripe our team has been using a beta version of the package that did allow us to submit card information directly using our own form. We weren't sending it to our servers though, it was directly between the client application and Stripe's servers.

What about using the CardField allows special PCI compliance rules versus our own form that does not send information to our servers?

The d

[2021-05-26 20:30] pritamsoni-hsr commented on #259
Hi guys, not sure if this will help,

[code]

[2021-05-26 20:49] pritamsoni-hsr commented on #259
Ok guys, the issue was with `expo-notifications`, I was using an older version.
Closing this issue.

[2021-05-26 20:49] #259 closed

[2021-05-26 22:14] agentscamp5 commented on #206
@arekkubaczkowski looking at your MR, what I meant by the ticket was that the API error response looks like
`{
  "error": {
    "code": "card_declined",
    "decline_code": "generic_decline",
    "doc_url": "https://stripe.com/docs/error-codes/card-declined",
    "message": "Your card was declined.",
    "payment_method": {
      "id": "someId",
      "object": "payment_method",
      "billing_det

[2021-05-27 05:50] jigartankhupp opened #278 "Duplicate class org.bouncycastle.LICENSE found in modules jetified-bcprov-jdk15on-1.54"
**Describe the bug**
After installing stripe-react-native i got this error while running for android.

`@stripe/stripe-react-native` version is **0.1.2**

**To Reproduce**
Steps to reproduce the behavior:
1. `npm install @stripe/stripe-react-native`
2. `npm run android`

**Desktop (please complete the following information):**
 - OS: macOS 10.15.6
 - CPU: (4) x64 Intel(R) Core(TM) i5-4460  CPU @ 3

[2021-05-27 06:12] jigartankhupp commented on #278
Found fix at native stripe-android github page.
[https://github.com/stripe/stripe-android/issues/3173#issuecomment-785116680](https://github.com/stripe/stripe-android/issues/3173#issuecomment-785116680)

Adding those configuration inside **android/app/build.gradle** solved issue.

[2021-05-27 06:12] #278 closed

[2021-05-27 07:57] AlixH commented on #275
Ok I solved it, the scale function returned lots of decimals. Using Math.round did the job !

[2021-05-27 08:04] AlixH commented on #275
Would you know how to change the size of the icon on the left of the input ?

[2021-05-27 12:18] thorsten-stripe commented on #271
Thanks @trex-quo for outlining this workaround! It is a good one for subscriptions 👍

[2021-05-27 12:47] thorsten-stripe commented on #239
@anija what are the values of `...card,`? When using the `CardField` no card params need to be provided, we extract the card information securely under the hood: https://github.com/stripe/stripe-react-native/blob/master/example/src/screens/NoWebhookPaymentScreen.tsx#L67-L71

[code]

[2021-05-27 13:02] anija commented on #239
Card parameters are the one logged before:
`{ last4: "4242", expiryMonth: 4, expiryYear: 24, complete: true, brand: "Visa" }`
But the results is the same, with or without card, with or without billingDetails.

[2021-05-27 13:09] thorsten-stripe commented on #206
@agentscamp5 the SDKs do not return that level of information, but in the case of an error you can use `retrievePaymentIntent` to specifically retrieve it:

Code:
[code]

Result:
[code]

[2021-05-27 14:52] thorsten-stripe commented on #243
@fedebaier which languages have you set for your apps? It's working fine for me. Do note that on iOS you need to specify which languages your app supports: https://help.apple.com/xcode/mac/current/#/devafa3a605f on Android that isn't required.

* Android
![image](https://user-images.githubusercontent.com/23213994/119848074-19672600-bf3e-11eb-9a5a-cc532fee1dbc.png)

* iOS
![image](https://user-imag

[2021-05-27 15:02] thorsten-stripe commented on #239
@anija can you please provide your full components code where `CardField` is used?

[2021-05-27 15:06] thorsten-stripe commented on #196
@anija this is being tracked here: https://github.com/stripe/stripe-react-native/issues/271

[2021-05-27 15:19] obates opened #280 "Access full card number in `onCardChange` callback"
**Is your feature request related to a problem? Please describe.**
We use Stripe to take card payments, and a 2nd payment provider to send money to a card. We want to use the Stripe Card component to collect card details & submit them to both Stripe and the 2nd payment provider at the same time (fully PCI compliant).

In order to do this, we require access to the full card details (number, expiry,

[2021-05-27 15:25] thorsten-stripe commented on #280
Yes, I think that's a reasonable request, I'll discuss with the team.

[2021-05-27 15:27] fedebaier commented on #243
It's working now on Android (maybe I didn't test properly there), but the issue persists on iOS, even after specifying the languages like you suggested:

<img width="322" alt="Screenshot 2021-05-27 at 17 20 46" src="https://user-images.githubusercontent.com/2706853/119853492-88c62100-bf10-11eb-93ae-45d2a662b36b.png">

![Simulator Screen Shot - iPhone 11 Pro Max - 2021-05-27 at 17 18 51](https://us

[2021-05-27 15:57] anija commented on #196
thank you!

[2021-05-27 17:06] agentscamp5 commented on #206
@thorsten-stripe THANKS!!!!

[2021-05-27 17:27] agentscamp5 commented on #206
@thorsten-stripe would that work for setupIntents as well? We would similarly want to retrieve a setupIntent that failed

[2021-05-28 00:52] wesvance commented on #253
I'm getting this same error - I have confirmed my deployment target is >= 11, specifically 12.

[2021-05-28 01:06] wesvance commented on #253
Switching to yarn, deleting node_modules and package-lock.json and relying on yarn.lock, cleaning the build, closing XCode and reopening fixed the issue for me. 😊

[2021-05-28 03:40] #253 closed

[2021-05-28 03:47] KalumDog opened #281 "[Android] Payment sheet have infinite loading when call `presentPaymentSheet` function"
**Describe the bug**
Android bottom sheet have infinite loading when call `presentPaymentSheet` function

**To Reproduce**
Steps to reproduce the behavior:
1. Fetch payment params from server
2. Init payment sheet with `initPaymentSheet` function
3. call `presentPaymentSheet` function
4. See error

**Expected behavior**
Payment sheet should have finite loading and present the card form

**Screensh

[2021-05-28 03:56] thorsten-stripe commented on #281
@KalumDog can you please provide your code? And does your cord work on iOS?

[2021-05-28 03:59] KalumDog commented on #281
@thorsten-stripe

I follow instruction from this https://stripe.com/docs/payments/accept-a-payment?platform=react-native&lang=node&ui=payment-sheet

Btw, It works on iOS

[2021-05-28 06:03] jackyang1984 opened #282 "apple pay: don't support this device(both simulator and real device)"
**Describe the bug**
after setting in apple developer and stripe dashboard, apple pay: the device don't support this device

**Expected behavior**
should be support apple pay

**Desktop (please complete the following information):**
 - OS: iOS
 - Version 0.1.2

**Smartphone (please complete the following information):**
 - Device: iPhoneX
 - OS: iOS10

[2021-05-28 08:30] Vivekanand16 opened #283 "[expo go] CardField component shows wrong card details on submit."
Iam using CardField component to get card details.

I entered all the details (card, expiry and cvc), then submitted the form and logged the card details, the card details are shown correctly.
Then I cleared all the fields and submitted the form again, this time in the log I can still see the last4 property holding previsouly enterd value.

[code]

**Expected behavior**
Correct card details needs

[2021-05-28 14:59] thorsten-stripe commented on #283
This has been fixed in https://github.com/stripe/stripe-react-native/releases/tag/v0.1.2 but I guess it will take a while for this to propagate to the Expo Go client. However, I think when you build the app, it will use the latest version. Is that correct @cruzach ?

[2021-05-28 15:00] thorsten-stripe commented on #282
Please provide screenshots and detailed reproduction steps.

[2021-05-28 15:01] cruzach commented on #283
That's correct, as long as you are building with [EAS Build](https://docs.expo.io/build/introduction/), the version of stripe-react-native specified in your package.json is what will be used in your final build

[2021-05-28 15:12] thorsten-stripe commented on #281
@KalumDog we'll need some more information to dig into this. Are you using Stripe Connect? If so, maybe it's the same as https://github.com/stripe/stripe-react-native/issues/267 ?

If not, please provide your server-side and client-side code.

[2021-05-28 21:36] laurenoh-stripe commented on #264
This has now been updated! https://stripe.com/docs/apple-pay?platform=react-native

[2021-05-28 21:36] #264 closed

[2021-05-29 03:35] harbolaez commented on #210
I try adding the  “To scan cards” but still getting the message from apple preventing to release the build. Any tips on how to proceed? Should i contact apple?

[2021-05-29 06:04] remonh87 opened #285 "Not able to set style for paymentsheet on Android"
**Describe the bug**
You expose the property `style` on the SetupParams of the paymentsheet. I found out that this only works on iOS but not on Android. I also dit check the Stripe Android sdk and cannot find an API that sets the style. Is this something that needs to be implemented?  Else it would be more clear we would call it `iosStyle` to prevent consumers from getting wrong expectations.

**T

[2021-05-29 16:01] Sirzs opened #286 "[Android] : When the first call to presentPaymentSheet() does not open the stripe payment sheet in android, but the second call is fine"
When the first call to presentPaymentSheet() does not open the stripe payment sheet in android, but the second call is fine.
BTW,IOS is ok

SDK Version 0.1.2

[2021-05-30 06:28] KalumDog commented on #281
**Server Side**

`
let customer = await this.customerRepository.findOne({
      userId: user.id,
    })

if (!customer.stripeCustomerId) {
      const { id } = await this.stripeClient.customers.create()
      customer.setStripeCustomerId(id)
      customer = await this.customerRepository.save(customer)
    }

    const ephemeralKey = await this.stripeClient.ephemeralKeys.create(
      { customer:

[2021-05-30 18:21] itsBhuviRana opened #287 "Bug!"
This issue occur when i install the @stripe/stripe-react-native
=======================================================================================
* Where:
Build file '/home/kvch/admedic-mobile-app/node_modules/@stripe/stripe-react-native/android/build.gradle' line: 54

* What went wrong:
A problem occurred evaluating project ':stripe_stripe-react-native'.

* Try:
Run with --stacktrace option

[2021-05-31 03:59] thorsten-stripe commented on #281
I think the issue is with

[code]

Here `clientSecret` needs to be the PaymentIntent's client secret, in your case `resp.paymentIntent`.

But I now realise that our parameter naming is not consistent across these methods, and the docs also don't help in making this clear. Thank you for flagging and providing your code!

[2021-05-31 07:01] RajeshRRathod commented on #267
I used master branch "@stripe/stripe-react-native": "https://github.com/RajeshRRathod/stripe-react-native#master", in package.json
but still payment sheet dialog open just one second & its close automatic in android
pls give me any suggestion for this issue, its urgent

[2021-05-31 07:12] scaralfred commented on #242
Having the same issu. Did you find a solution?

[2021-05-31 07:18] rahu431 commented on #242
@scaralfred No am not able to find the solution, used alternative option with tipsi-stripe.
@arekkubaczkowski what kind of information specifically and how should I can get that, pls let me know so that I can share it.

[2021-05-31 08:07] RajeshRRathod opened #289 "[Android] presentPaymentSheet Dialog not open in android"
**Describe the bug**
[Android] presentPaymentSheet Dialog just open one second & close it automatic in android
You can see video : https://drive.google.com/file/d/1aL8GhOSA1J0TZoZiDGyLJe6DAOc_yAxe/view?usp=sharing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'initPaymentSheet success without any error '
2. Click on 'click  pay button for presentPaymentSheet dialog'
4. See error : re

[2021-05-31 08:28] arekkubaczkowski commented on #242
just copy paste a bit more around of this error, or you can try to run it via android studio and take the logs from logcat

[2021-05-31 09:33] paschalidi opened #290 "[ios] `presentPaymentSheet` will crash the app once is being called."
**Describe the bug**
Have been following [this](https://stripe.com/docs/payments/accept-a-payment?platform=react-native&lang=node&ui=payment-sheet) tutorial and even though most of the things went pretty well, the app would crash when I am calling the `presentPaymentSheet` with the `clientSecret` returned from my backend. There isn't any log I could find that would help me debug the issue.

Here i

[2021-05-31 14:38] smeetagrawal commented on #222
Can anyone provide more information as how we dismiss the keyboard, because I am searching for it, is there any property or method we need to call in order to dismiss keyboard.

[2021-05-31 14:46] arekkubaczkowski commented on #222
you have to wrap your screen with `<StripeContainer />` component

[2021-05-31 15:55] thorsten-stripe commented on #272
Closing out as stale.

[2021-05-31 15:55] #272 closed

[2021-05-31 15:57] #283 closed

[2021-05-31 16:02] thorsten-stripe commented on #285
@michelleb-stripe @yuki-stripe remind me, are we planning to allow to override of style on Android? IIRC currently it's based on system settings, right?

[2021-05-31 16:15] #206 closed

[2021-05-31 16:26] thorsten-stripe commented on #286
You need to wait for `initPaymentSheet` to resolve before calling `presentPaymentSheet`: https://github.com/stripe/stripe-react-native/blob/master/example/src/screens/PaymentsUICompleteScreen.tsx#L55

[2021-05-31 16:26] #286 closed

[2021-05-31 16:35] thorsten-stripe commented on #287
https://github.com/stripe/stripe-react-native/issues/203#issuecomment-839710098

[2021-05-31 16:35] #287 closed

[2021-05-31 16:42] thorsten-stripe commented on #290
Can you provide a log of the values of `stripeId`, `ephemeralKey`, `paymentIntent`, and `clientSecret` please?

[2021-05-31 18:29] ljc-codes opened #291 "[Expo] Cannot find '../package.json'"
Not sure if this is a bug or misconfiguration with my current loader / typescript configurations, But I get the following error every time I try to integrate stripe.

```Module not found: Can't resolve '../../package.json' in '/Users/.../client/src/node_modules/@stripe/stripe-react-native/lib/module/components```

Here's my tsconfig, webpack config and babel config respectively

[code]

[code]

[c

[2021-05-31 19:12] smeetagrawal commented on #222
If I understand properly, you mean to say
- First I have to import StripeContainer component like this *import { StripeContainer } from "@stripe/stripe-react-native"*
- Then wrap screen with <StripeContainer /> like below

[code]

[2021-05-31 19:27] smeetagrawal commented on #222
But above code is not working and I am also not able to get StripeContainer from @stripe/stripe-react-native like below.
*import { StripeContainer } from "@stripe/stripe-react-native"*

Version "@stripe/stripe-react-native": "^0.1.2"

[2021-05-31 21:32] Jpoliachik opened #292 "Installation Instructions for Adding Swift Bridging Header"
When adding Stripe React Native to a fresh React Native project, it won't build on its own. It is required to add a Swift file / bridging header in order to build the project.

Consider adding a blurb to the installation documentation about this.

[2021-06-01 00:45] ljc-codes commented on #291
Hmmm... Think this may be more of a fundamental problem with either the documentation/package itself.

I started a new expo TS project and tried to integrate it. No cigar.

I created a repo to replicate the error. You can find it here.

https://github.com/ljc-codes/stripe-react-native-expo

Looking forward to the response.

[2021-06-01 02:55] thorsten-stripe commented on #291
Your repo is working fine for me on both a physical iOS device (Expo Go client v2.19.6):
![image](https://user-images.githubusercontent.com/23213994/120259520-b15e6a00-c2c6-11eb-87d5-6c3311e24675.png)

and on the Android simulator:
![image](https://user-images.githubusercontent.com/23213994/120260042-a821cd00-c2c7-11eb-9630-bce7cdc79652.png)

Can you try updating your expo clients and see if that

[2021-06-01 02:56] thorsten-stripe commented on #292
This is outlined in the README: https://github.com/stripe/stripe-react-native#troubleshooting

[2021-06-01 02:56] #292 closed

[2021-06-01 02:59] thorsten-stripe commented on #222
@smeetagrawal `StripeContainer` has been added here (https://github.com/stripe/stripe-react-native/pull/260) and will be available starting v0.1.3. If you need it earlier, you can clone down the master branch and build and install the library locally: https://github.com/stripe/stripe-react-native/blob/master/CONTRIBUTING.md#install-library-as-local-repository

[2021-06-01 03:39] thorsten-stripe opened #293 "[Payment sheet] add setup mode"
The payment sheet now supports SetupIntents: https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md#16100---2021-05-28

[2021-06-01 03:42] thorsten-stripe commented on #83
Has been added to `stripe-ios`: https://github.com/stripe/stripe-ios/blob/master/CHANGELOG.md#2160-2021-05-27

[2021-06-01 04:41] thorsten-stripe opened #294 "Add `retrieveSetupIntent` method"
* https://stripe.dev/stripe-android/stripe/com.stripe.android/retrieve-setup-intent.html
* https://stripe.dev/stripe-ios/docs/Classes/STPAPIClient.html#/c:@CM@Stripe@objc(cs)STPAPIClient(im)retrieveSetupIntentWithClientSecret:completion:

[2021-06-01 04:44] thorsten-stripe commented on #206
`retrieveSetupIntent` is currently not implemented. I've added an issue to track that: https://github.com/stripe/stripe-react-native/issues/294

[2021-06-01 09:21] carl-passnfly commented on #291
@ljc-codes Try manually removing your `node_modules` folder and then run `npm install`.

[2021-06-01 14:52] JesperLekland opened #297 "Android Crash - onActivityResult"
**Describe the bug**
Whenever we launch a separate activity for a result (e.g the camera) the app crashes upon resuming.
I've managed to narrow it down to get a stack trace to

 but for some reason can't find the exact line it refers to. The detail error message states

**To Reproduce**
Steps to reproduce the behavior:
Start any Android activity for a result and finish it.

**Expected behavior**
A

[2021-06-01 14:59] KalumDog commented on #281
@thorsten-stripe

Thanks for your help.

[2021-06-01 14:59] #281 closed

[2021-06-01 16:07] michaelbayday commented on #297
kind of hacky but we solved this but patching the package and adding this to event listener
[code]

am curious as to what stripe's devs would recommend though

[2021-06-01 16:39] bg-stripe commented on #83
also added to `stripe-android`: https://github.com/stripe/stripe-android/commit/d68e386704716574a50eafbe06d935b94721be1c

[2021-06-01 16:42] thorsten-stripe commented on #297
This has been fixed here (https://github.com/stripe/stripe-react-native/pull/255) and will be released in v0.1.3 later this week. If you need it earlier you can clone down the master branch and install the library locally: https://github.com/stripe/stripe-react-native/blob/master/CONTRIBUTING.md#install-library-as-local-repository

[2021-06-01 16:42] #297 closed

[2021-06-01 16:45] thorsten-stripe commented on #248
@yuki-stripe can you help look into this?

[2021-06-01 16:47] thorsten-stripe commented on #282
Closing out as stale. Feel free to reopen with the above mentioned info.

[2021-06-01 16:47] #282 closed

[2021-06-01 16:48] thorsten-stripe commented on #289
What's the value of `var secretKey = paymentIntents.client_secret;`? That needs to be the same as the value for `data?.paymentIntent?.client_secret`

[2021-06-01 17:27] carl0shd opened #299 "Add prop to change the size of the brand image"
**Is your feature request related to a problem? Please describe.**
I have a mockup from my design team with a brand logo smaller and i can´t change the size of the brand image in the `CardField` component.

**Describe the solution you'd like**
Create a new prop to `cardStyle` like: `brandSize` that receives a number.

**Describe alternatives you've considered**
N/A

**Additional context**
I think

[2021-06-01 17:36] kfiggins commented on #241
This answer is what helped me solve it. https://github.com/stripe/stripe-react-native/issues/45#issuecomment-762927330. The troubleshooting piece was a great hint but I had to dive through issues till I found this and was able to get my build to work. Thanks!

[2021-06-01 18:31] alvaroAsap opened #300 "CardField was not found in the UIManager"
**Describe the bug**
When trying to render the CardField component, an error shows up: CardField was not found in the UIManager.
_Note: This happens only for Android, it works fine for iOS._

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize your app using `initStripe` inside App.js providing just the `publishableKey`, just like [here](https://github.com/stripe/stripe-react-native#st

[2021-06-01 19:57] alfredoLipari opened #301 "null is not an object (evaluating '_NativeStripeSdk.default.initialise')"
Hi im new in reporting something, probably im missing something very clearly and read better the docs but its 2 weeks and I still dont find any help. I also publish this on stack overflow 1 week ago, they suggest me to upgrade expo SDK and I did though it didnt change nothing, but go to my problem:

# Describe the problem
Im trying to setup stripe-react-native using StripeProvider as shown in the

[2021-06-02 00:06] apswak commented on #290
Hi @thorsten-stripe I'm also getting this issue with a slightly varied version of the [official example](https://github.com/stripe/stripe-react-native/blob/master/example/src/screens/PaymentsUICompleteScreen.tsx)

Here's my code:
[code]

Here's the log output I get (in order):

[code]

After the "Come this far 2" log it exits and the app closes (crashes?) with no error or further log/info, so simi

[2021-06-02 00:14] aaronrondina5 opened #302 "[confirmSetupIntent] Illegal Callback Invocation from native module when error is returned"
**Describe the bug**
- When you enter a bad card in a CardField and attempt to confirm the setup intent, the iOS simulator raises the following error:
illegal callback invocation from native module.  This callback type only permits a single invocation from native code

**To Reproduce**
Steps to reproduce the behavior:
1. Render a CardField
2. Enter a bad card
3. Save the card in state
3. Create a

[2021-06-02 01:50] ljc-codes commented on #291
Ah Interesting. Thanks guys this is helpful. It seems to work when I use an ios emulator aswell. apologies, was testing things out in the expo: web view.

Cheers!

[2021-06-02 03:21] carl0shd opened #303 "Xcode AppDelegate.m crash when interact with CardField component in reload state"
**Describe the bug**
When i interact with the `CardField` component (click in the fields, filling the card number input) and when I run the command to reload the application (⌘ + r) the AppDelegate.m crashes. It only happens when i interact with the component and after, execute the reload command. If i press the R key in the RN server to reload the app, or open the debug mode and click Reload, the

[2021-06-02 03:51] brentvatne commented on #301
what version of the expo go app is installed? you can see this on the bottom of the "Projects" tab in the app

[2021-06-02 04:05] thorsten-stripe commented on #301
From your code it looks like you are opening and closing the `StripeProvider` twice rather than wrapping your `AppTab` component
![image](https://user-images.githubusercontent.com/23213994/120421184-64e35f00-c398-11eb-8ba9-a5583815d054.png)

What you want is

[code]

[2021-06-02 06:17] n3rd253 opened #304 "Class based component support"
**Is your feature request related to a problem? Please describe.**

Im trying to port from using tipsi stripe and have a working class based implementation throughout.  Im only seeing function based component support?

**Describe the solution you'd like**
Class based component support

**Describe alternatives you've considered**
Not migrating to this SDK until required, instead of now.

[2021-06-02 06:23] thorsten-stripe commented on #242
Closing out as stale. Feel free to reopen with more information.

[2021-06-02 06:23] #242 closed

[2021-06-02 06:24] hpvnarola commented on #267
Hi @thorsten-stripe
Thanks for resolving the issue and provide quick support

We are waiting for the latest release with fixes

[2021-06-02 06:26] thorsten-stripe commented on #275
@AlixH I don't think that's possible atm. Will need to look into that. Tracking here https://github.com/stripe/stripe-react-native/issues/299

[2021-06-02 06:26] #275 closed

[2021-06-02 06:27] JesperLekland commented on #297
Thank you @thorsten-stripe, great job!

Is this partly a user error? Meaning that we have failed to correctly initialise Stripe and that Stripe related functionality might not work after the fix due to it not being initialised?

[2021-06-02 06:30] thorsten-stripe commented on #290
@apswak you need to use the secrets instead of the ids

[code]

[2021-06-02 06:33] #291 closed

[2021-06-02 06:34] thorsten-stripe commented on #291
React Native for Web is currently not supported

[2021-06-02 06:49] paschalidi commented on #290
@apswak yep seems to be the same. Thanks @thorsten-stripe will try it out tonight! 👍

[2021-06-02 06:50] thorsten-stripe commented on #300
Your repro steps work fine for me. This is the code I end up with based on your steps:

[code]

What's your code?

[2021-06-02 06:55] thorsten-stripe commented on #302
I'm not able to reproduce this
![image](https://user-images.githubusercontent.com/23213994/120437369-92d59d00-c3b2-11eb-84ab-65a68f2dd040.png)

Can you maybe provide a link to your code?

[2021-06-02 07:02] thorsten-stripe commented on #303
I'm not able to reproduce this. I'm not sure this is related to the library. How would this affect your production app?

[2021-06-02 07:06] thorsten-stripe commented on #304
All needed functions are also directly exported `e.g. import { confirmPaymentMethod } from '@stripe/stripe-react-native';` usage of hooks is therefore optional.

[2021-06-02 07:06] #304 closed

[2021-06-02 07:11] #271 closed

[2021-06-02 07:11] #268 closed

[2021-06-02 08:11] obates commented on #280
Thanks @thorsten-stripe - any ideas on when this could happen? I'm happy to add a pull request if you think the above suggestion is sensible

[2021-06-02 08:16] alfredoLipari commented on #301
Im using Client versione: 2.19.3 if  this is what you meant

[2021-06-02 08:18] alfredoLipari commented on #301
My apologise I correct it! the error still appear

[2021-06-02 09:01] paulasjes-stripe commented on #301
@alfredoLipari You need to be on Expo Go version 2.19.6 for it to work with stripe-react-native. Please update Expo Go and try again.

[2021-06-02 09:14] paulasjes-stripe commented on #301
@alfredoLipari You need to be on Expo Go version 2.19.6 for it to work with stripe-react-native. Please update Expo Go and try again.

[2021-06-02 09:17] alfredoLipari commented on #301
Yes it worked, really appreciate and sorry for taking your time guys!

[2021-06-02 09:17] #301 closed

[2021-06-02 12:30] thorsten-stripe commented on #280
We're working on this now. It will be part of the v0.1.3 release later this week.

[2021-06-02 14:29] alvaroAsap commented on #300
Thanks for answering!

Unfortunately, that didn't solve my problem. I used your code but I'm having the same error message. I guess there may be something with the dependencies, since I was using [tipsi-stripe](https://github.com/tipsi/tipsi-stripe) before.

By the way, is there any guide about the flow of this library? Or at least something with the step-by-step API calls? I would appreciate that

[2021-06-02 14:42] thorsten-stripe commented on #280
@obates you don't need access to the CVC, correct? I don't see a usecase where you would, but do let me know if I'm wrong.

[2021-06-02 15:59] carl0shd commented on #303
Hi, this not affect the production build but when you develops your integration with the library and if you use the ⌘ + r command to reload the app, the apps crashes. I attach a video to expand the context of how the crash works.

https://user-images.githubusercontent.com/8359234/120513153-99075180-c391-11eb-9790-6e2521a31919.mp4

[2021-06-02 16:05] aaronrondina5 commented on #302
`import {Stack} from '@mobily/stacks'
import {useNavigation, useRoute} from '@react-navigation/native'
import {CardField, CardFieldInput, confirmSetupIntent} from '@stripe/stripe-react-native'
import React, {useState} from 'react'
import {SafeAreaView, StyleSheet, View} from 'react-native'
import {CappuccinoButton} from 'src/components/widgets/button/CappuccinoButton'
import {useCreateSetupIntentM

[2021-06-02 16:54] n3rd253 commented on #304
@thorsten-stripe great thanks for the prompt reply.  Pardon my ignorance

[2021-06-02 20:15] ramosquito5 commented on #290
This happens to me as well when running without xcode the app just crashes. When running with xcode it shows the following error:

Stripe/PaymentSheet.swift:98: Fatal error: presentingViewController is already presenting a view controller.

Line 98 of said file is :
assertionFailure("presentingViewController is already presenting a view controller")

Don't know how to fix this but will continue to

[2021-06-02 23:10] yuki-stripe commented on #248
@benomatis It looks like some of the 3DS2 UI is being customized e.g., the color of the navigation bar and button, the text color, etc. Can you describe how you're doing that?

[2021-06-02 23:13] yuki-stripe commented on #285
@thorsten-stripe Android will get this feature in an upcoming release!

[2021-06-02 23:17] benomatis commented on #248
@yuki-stripe This is my `threeDSecureParams` object for `StripeProvider`, if that's what you're after

[code]

[2021-06-03 00:10] sheldoncoates opened #307 "Android: A problem occurred evaluating project ':stripe_stripe-react-native'."
While attempting to run my react native Android app using the cli on Mac with:
`npx react-native run-android`

I get the following error in terminal:

`Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/6.2/userguide/command_line_interface.html#sec:command_line

[2021-06-03 00:40] sheldoncoates commented on #307
When I build in Android studios it brings me to the file: `@stripe/stripe-react-native/android/build.gradle`

It bring me to:
` buildFeatures {
    viewBinding true
  }`

Maybe this needs to be changed?

[2021-06-03 02:52] thorsten-stripe commented on #307
Duplicate, see https://github.com/stripe/stripe-react-native/issues/203#issuecomment-839710098

[2021-06-03 02:52] #307 closed

[2021-06-03 07:37] aganov commented on #222
Is there any way to call `endEditing` on ios manually? Our use case involves custom bottom sheet (where `CardField` is rendered and we want to close the keyboard when bottom sheet is dismissed.

[2021-06-03 09:17] obates commented on #280
Correct. Thanks for jumping on this so fast

[2021-06-03 09:48] ramosquito5 commented on #290
So I solved it! In my case I was using wix react-native-navigation. And the app crashed when calling the function presentPaymentSheet on a modal. I had to setRoot  from the modal to go to the checkout process. That closes all modals which solved the issue.

[2021-06-03 09:50] #293 closed

[2021-06-03 11:46] konstantinmv commented on #9
Hi all, thanks for your magnificent work for the react-native community!

A question though - do you have any kind of forecast as to when this library will support Google Pay in the same way it supports Apple Pay?
I've read all the comments and related issues and still haven't understood that part.
Thanks in advance!

[2021-06-03 12:50] aganov commented on #102
Also if possible to add `CardField` methods `blur` `focus` `clear`

[code]

Draft implementation for iOS: https://gist.github.com/aganov/eaffbb691848299458df449a58de3979

[2021-06-03 14:13] thorsten-stripe commented on #52
We're are currently blocked on WeChat Pay requiring additional external SDKs. I'm afraid we don't yet have a timeline when we will be able to proceed.

[2021-06-03 14:29] thorsten-stripe commented on #289
Closing out as stale. Feel free to reopen with the above details.

[2021-06-03 14:29] #289 closed

[2021-06-03 14:32] thorsten-stripe commented on #290
Thanks for providing your resolution @ramosquito5 ! I'm closing this out as it seems resolved. Do reopen if that's not the case. Thanks.

[2021-06-03 14:32] #290 closed

[2021-06-03 14:37] thorsten-stripe commented on #300
Full docs here: https://stripe.com/docs/payments/accept-a-payment?platform=react-native&ui=custom and example: https://github.com/stripe/stripe-react-native/blob/master/example/src/screens/WebhookPaymentScreen.tsx

[2021-06-03 19:21] #280 closed

[2021-06-03 20:53] hierror commented on #291
Hi, @thorsten-stripe. Is there an estimate for support React Native for Web?

[2021-06-04 00:14] apswak commented on #290
@thorsten-stripe just for the record your answer was indeed the solution to my issue (using `id` instead of `secret` / `client_secret`), works now thanks

[2021-06-04 03:06] walkerdb opened #308 "Unsupported native payments flow?"
**Is your feature request related to a problem? Please describe.**
First off, thank you all for all the work in putting this library together! We're very excited to migrate off of `tipsi-stripe` into an officially supported SDK.

Our company works in healthcare, which has a very asynchronous payment structure. Our current flow looks something like this:

1. a patient adds a payment method to their

[2021-06-04 09:01] iuliabarzan15 commented on #300
@alvaroAsap Hi! I was having the same issue and I was able to fix it by adding the `<StripeProvider />` above `<CardField />`.

[2021-06-04 15:11] alvaroAsap commented on #300
@iuliabarzan15 Hi, I tried what you suggested. Unfortunately, I wasn't lucky.

I am using initStripe because when I try to use <StripeProvider />, this [error](https://github.com/stripe/stripe-react-native#typeerror-null-is-not-an-object-evaluating-_nativestripesdkdefaultinitialise-on-android) shows up, despite I'm not using Expo.

[2021-06-04 16:11] #294 closed

[2021-06-04 18:05] trex-quo commented on #308
See if this is any help to you
https://github.com/stripe/stripe-react-native/issues/271#issuecomment-848988884

tldr; `confirmApplePayPayment` also does work with setupIntent secrets, though the documents do not explicitly say this

[2021-06-04 22:52] trex-quo commented on #290
This tripped me up for awhile too, I think that it would be a good caveat to inform people of that you cannot call `presentPaymentSheet` from a modal

[2021-06-05 02:18] thorsten-stripe commented on #308
Since v0.1.4 you can supply a `setupIntentClientSecret` to `initPaymentSheet`. We don't have dedicated docs for it yet, but it behaves exactly like https://stripe.com/docs/payments/accept-a-payment?platform=react-native&ui=payment-sheet but instead of providing `paymentIntentClientSecret` you provide `setupIntentClientSecret`.

[2021-06-06 13:08] mohalhashem opened #312 "presentApplePay [Error: Payment not completed] @0.1.4"
I'm trying to use presentApplePay, but I keep getting this error. Here is exactly what I'm doing.

[code]

Here is the output:

[code]

 - Device: iPhone XS
 - OS: iOS14.6
 - @stripe/stripe-react-native version 0.1.4

Apple pay sheet wasn't presented at all, only got this error.

[2021-06-07 04:49] thorsten-stripe commented on #312
For Apple Pay the amount needs to be a string: https://stripe.dev/stripe-react-native/api-reference/interfaces/applepay.cartsummaryitem.html#amount

[2021-06-07 04:49] #312 closed

[2021-06-07 04:55] thorsten-stripe commented on #308
For standalone apple pay, since v0.1.4 `presentApplePay` returns a `paymentMethod` object (https://stripe.dev/stripe-react-native/api-reference/modules.html#applepayresult). You can use that to confirm the SetupIntent server-side: https://stripe.com/docs/api/setup_intents/confirm#confirm_setup_intent-payment_method

Hope this helps. Going to close this out as I think it's resolved, but please reop

[2021-06-07 04:55] #308 closed

[2021-06-07 04:58] thorsten-stripe commented on #300
@alvaroAsap can you provide the content of your package.json please?

[2021-06-07 07:18] thorsten-stripe commented on #291
Currently no plans. You would have to implement with Stripe Elements separately for the web platform target.

[2021-06-07 10:22] aliboyraz commented on #301
Hi, I'm having same issue even **expo is not being used**. All answers are related with EXPO but same issue is happening on without expo apps.

TypeError: null is not an object (evaluating '_NativeStripeSdk.default.initialise')

![image](https://user-images.githubusercontent.com/5192560/121000643-80d17100-c79b-11eb-96bc-679ea825fc69.png)

[2021-06-07 10:34] aliboyraz opened #314 "TypeError: null is not an object (evaluating '_NativeStripeSdk.default.initialise') with React Native CLI"
**Describe the bug**
I'm having an issue while trying to initialize SDK on Android. SDK is not able to initialized so I am not able to start any transaction.

_TypeError: null is not an object (evaluating '_NativeStripeSdk.default.initialise'_

**PS: Same question had been asked multiple times and answer was related with upgrading Expo version however my app is not using Expo. Its React Native CLI

[2021-06-07 12:56] #314 closed

[2021-06-07 13:02] thorsten-stripe commented on #314
@aliboyraz mind quickly posting how you've resolved it? Might be helpful for others. Thanks.

[2021-06-07 13:14] alvaroAsap commented on #300
@thorsten-stripe sure!

[package.txt](https://github.com/stripe/stripe-react-native/files/6609127/package.txt)

[2021-06-07 14:16] peraltafederico commented on #95
@auchenberg-stripe Hello! I hope you're doing well.

I'm currently working on an app that uses Stripe Terminal. We did could support **Chipset 2** by using the unofficial lib [react-native-stripe-terminal](https://github.com/theopolisme/react-native-stripe-terminal) and now we need to support the new **WisePad 3**, the thing is the library doesn't support it. There is an open issue not answered ye

[2021-06-07 17:00] trex-quo opened #315 "Issues with Payment Sheet not appearing"
**Describe the bug**
Calling `initPaymentSheet()` and `presentPaymentSheet()` in immediate succession does not bring up the Payment Sheet. Adding a short sleep() statement (~1000ms) in between the two calls resolves the issue.

Additionally, calling `presentPaymentSheet()` from a modal crashes the app.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
It seems logica

[2021-06-07 17:02] alvaroAsap commented on #300
Solved. Linking was the problem. I came up with a workaround because I was getting an error while running `react-native link @stripe/stripe-react-native`.

[2021-06-07 17:02] #300 closed

[2021-06-07 17:46] agustinfece commented on #230
The same happens to me, the card field is not fitting the screen width.

[2021-06-07 20:00] tayzlor commented on #315
Just a quick comment to mention I'm experiencing the same issue when you try and call both the initialise function and the present function off the back of a button press, and can confirm that a small delay does resolve the issue.

Currently doing some further troubleshooting to understand why and will provide any more info when I have it!

[2021-06-07 20:27] paschalidi commented on #290
Hey sorry for the super late response @thorsten-stripe but havent had much time lately. I am still facing the same situation. Can you please see if I am missing something or if we can reopen the issue?

https://user-images.githubusercontent.com/4181674/121083041-37a31080-c7df-11eb-9a15-ea56e230cb0a.mp4

[2021-06-07 20:51] tayzlor commented on #315
So looks like this may be occurring because initPaymentSheet uses fragment commit() [https://developer.android.com/reference/android/app/FragmentTransaction.html#commit()] to update the paymentSheetFragment var in  https://github.com/stripe/stripe-react-native/blob/89042f4d54a7b525cea4a245ce8a7fc8ebf8de03/android/src/main/java/com/reactnativestripesdk/StripeSdkModule.kt#L273-L275

The problem with

[2021-06-07 20:55] brentvatne commented on #301
@aliboyraz you need to run pod install if ios and rebuild native app

[2021-06-07 22:15] ththugues44 opened #316 "Build android Fail :cannot find symbol new StripeSdkPackage(),"
Hello

When I try to compile my project just with stripe installation I got this error :

[http://image.noelshack.com/fichiers/2021/23/2/1623104072-capture-d-ecran-du-2021-06-07-23-14-01.png](url)

`Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/6.2/usergui

[2021-06-07 22:27] trex-quo opened #317 "[Payment sheet] Google Pay not showing when setupIntentClientSecret provided"
**Describe the bug**
When initializing the payment sheet on Android with a `setupIntentClientSecret` instead of a `paymentIntentClientSecret`, Google Pay does not appear on the Payment Sheet. When a `paymentIntentClientSecret` is provided, Google Pay does appear on the Payment Sheet. I have confirmed that I am correctly providing a Setup Intent and Payment Intent to their respective fields.

**To

[2021-06-08 02:59] prodev-alt commented on #312
@thorsten-stripe I am still getting the same error.

const { error } = await presentApplePay({
      cartItems: [{
        label: 'Tip for Waitress',
        amount: parseFloat(totalAmount).toFixed(2) + ''
      }],
      country: 'US',
      currency: 'USD',
      requiredShippingAddressFields: ['emailAddress', 'phoneNumber'],
      requiredBillingContactFields: ['phoneNumber', 'name'],
    });

[2021-06-08 06:59] benipuri opened #318 "How to accept on-session payments with saved payment method."
Hi, I am migrating my App from Charges API to PaymentIntents and I think I am missing something very basic here but Is there any documentation about how to accept on-session payments with saved cards/payment methods. I checked Stripe's documentation about saving and reusing a payment method but it only explains about off-session payments and steps one should follow to start a recovery flow in case

[2021-06-08 07:17] cinnabarcaracal commented on #222
Does anyone have any ideas on how to dismiss the keyboard without the press triggering something else?

We have the CardField in a scrollview containing other payment methods (things like loyalty points), and if you click off to dismiss the keyboard it is very easy to accidentally swap the payment method for something else.

The best I can come up with so far is to track when the field is in use a

[2021-06-08 07:35] thorsten-stripe commented on #9
@konstantinmv were waiting on some required updates in the `stripe-android` SDK which should land by the end of the months and will then work on incorporating it early next month.

[2021-06-08 07:41] thorsten-stripe commented on #318
You can simply call `confirmPayment` with the saved payment method's id:

[code]

You can see an example of this here: https://github.com/stripe/stripe-react-native/blob/master/example/src/screens/CVCReCollectionScreen.tsx#L74-L80

Note that if you're not recollecting the cvc, you can just leave out the cvc param as shown above.

[2021-06-08 07:41] #318 closed

[2021-06-08 07:57] benipuri commented on #318
Thank you so much for the prompt reply.

Actually I already tried using `confirmPayment` in the exact same way as mentioned by you but I think I am not importing `confirmPayment` correctly.

My import statement.

`import { initPaymentSheet, presentPaymentSheet, confirmPayment } from '@stripe/stripe-react-native';`

`initPaymentSheet` and `presentPaymentSheet` are working perfectly but `confirmPaym

[2021-06-08 08:02] thorsten-stripe commented on #312
Your above code is working fine for me:
![image](https://user-images.githubusercontent.com/23213994/121146826-e3497080-c872-11eb-9e8f-1d87b47d374e.png)
Have you tried refreshing/rebuilding your app?

[2021-06-08 08:13] mohalhashem commented on #312
Thanks @thorsten-stripe I changed amount to string and it's working just fine now.

[2021-06-08 08:15] n3rd253 opened #319 "Android Gradle Build Failure?"
**Describe the bug**
Receiving the following when trying to run react native on device
[code]
**To Reproduce**
Steps to reproduce the behavior:
Install npm package
Run react-native run-android --deviceId=<mydeviceid>

**Expected behavior**
Build succeeds

**Smartphone (please complete the following information):**
 - Device: Galaxy S10
 - OS: [e.g. iOS8.1]
 - Browser [e.g. stock browser, safari]

[2021-06-08 08:17] benipuri commented on #318
Thank you for the quick clarification. `confirmPaymentMethod` did the work.

[2021-06-08 08:21] thorsten-stripe commented on #319
Duplicate https://github.com/stripe/stripe-react-native/issues/203#issuecomment-839710098

[2021-06-08 08:21] #319 closed

[2021-06-08 09:01] thorsten-stripe commented on #317
I'm able to reproduce this. Will check with the team.

[2021-06-08 09:12] thorsten-stripe commented on #315
Thanks for investigating, we'll take a look.

[2021-06-08 10:11] konstantinmv commented on #303
This also happens to me with the introduction of `CardField` component into the app, this was not happening before that event.
Not sure what will help you to debug this problem and find the solution.

[2021-06-08 11:18] manish-shukla01 opened #321 "[India account] payment not working all the way"
**Describe the bug**
hi, i am trying out https://stripe.com/docs/payments/accept-a-payment?platform=react-native and i am able to integrate it mostly but i am not able to do a successful payment all the way.

it is opening the payment form. i am entering the test card number but then it gives an error saying there was an unexpected error. try again in few seconds. i have just followed the instruct

[2021-06-08 12:01] manish-shukla01 commented on #321
so i know more about the issue. i used us test card  on india account. when i used internation account it worked. two remaining questions on it: 1. how can i use us card on india account. looks like i need to set item description or osmething while creating payment intent. any links on how to do it?
2. how can i set the publishable key on client programatically. the example has it set up declarati

[2021-06-08 15:33] tayzlor commented on #321
@manish-shukla01

on 2. For retrieving publishable key on the client there's an example here retrieving it from an express REST API:

https://github.com/stripe/stripe-react-native/blob/master/example/server/index.ts#L71-L75

In the frontend component you can simply fetch() it. See https://github.com/stripe/stripe-react-native/blob/master/example/src/components/PaymentScreen.tsx#L16

[2021-06-08 19:41] aaronrondina5 commented on #302
seems to be a simulator only issue

[2021-06-08 19:41] #302 closed

[2021-06-08 21:37] ChronSyn commented on #291
I understand it doesn't work on web, and I don't have a problem with that. I know that there's a whole lot of considerations you have to make for a lib like this.

However, some teams are targeting both Web and Native with react-native and Expo. To support this, we're using both the stripe-react-native lib, and stripe-js + react-stripe-js and building different components for each platform.

The i

[2021-06-09 06:51] thorsten-stripe commented on #291
@ChronSyn did you see https://github.com/stripe/stripe-react-native#requirements

The SDK uses TypeScript features available in Babel version `7.9.0` and above. Alternatively use the `plugin-transform-typescript` plugin in your project.

Any chance that helps resolve your errors?

[2021-06-09 07:13] thorsten-stripe commented on #102
Copying these ideas over from https://github.com/stripe/stripe-react-native/issues/222#issuecomment-856520915

[2021-06-09 07:13] thorsten-stripe commented on #222
@cinnabarcaracal thanks for outlining your workaround. I've copied this to the `onBlur` issue.

[2021-06-09 12:39] manish-shukla01 commented on #315
i ran into the same issue. although even with sleep for 2 seconds, issue did not disappear. i tried only with test card. need to try with real card, not sure if it will be any different with real card. i can try to change the UI little bit so these action dont happen right after one another but is this problem going to be fixed. if yes, i can leave as is.

[2021-06-09 14:18] rchoffar opened #322 "retrievePaymentIntent with stripe Custom Connect"
**Describe the bug**
Hello, i am trying to implement this flow: https://stripe.com/docs/payments/save-and-reuse
I am using stripe custom connect so i can't do exactly the same as in the doc

[code]
When i do this ( with a valid clientSecret ) for exemple: pi_1J0S3h4CbU68Y2vvxOzxQEbw_secret_qUR8unO6vVPFx64f407eD1gOj

I have an error:
[code]

This does not help me at all to solve the issue, i suspec

[2021-06-09 14:21] thorsten-stripe commented on #322
@rchoffar the connected account ID needs to be set in the `StripeProvider` or `initStripe` method: https://stripe.dev/stripe-react-native/api-reference/interfaces/stripeproviderprops.html#stripeaccountid

[2021-06-09 14:21] #322 closed

[2021-06-09 14:31] rchoffar commented on #322
So if the connected account change every time, i need to call initStripe multiple times in my app ?

[2021-06-09 16:36] manish-shukla01 opened #323 "payment sheet not opening with unknown error in test mode"
hi, i am able to call initPaymentSheet like below:

[code]
i see no error so far. then when i do the following:
[code]

i get error below(this is the result of logging error:
[code]
i have not changed anything in my code and i believe it was working yesterday. what could be the reason? obviously i am seeing incomplete payments in stripe dashboard as its not even giving me chance to enter the credi

[2021-06-09 17:56] trex-quo commented on #323
What happens if you sleep for 1-2 seconds between those two function calls? I have experienced a similar issue
https://github.com/stripe/stripe-react-native/issues/315

[2021-06-09 19:44] manish-shukla01 commented on #323
@trex-quo i saw that issue so i deliberately designed it in such a way that there will be enough gap between both the calls. there is something else going on. i wish there was better error message indicating what to do. any other ideas anyone?

[2021-06-10 03:45] thorsten-stripe commented on #317
This is currently not supported in `stripe-android`. We will need for a new release of the `stripe-android` SDK to ship this functionality.

[2021-06-10 03:50] thorsten-stripe commented on #323
@manish-shukla01 can you double check your parameters https://github.com/stripe/stripe-react-native/issues/290#issuecomment-852774950 ?

[2021-06-10 06:07] arekkubaczkowski commented on #316
@ththugues44 this errors says that library is not installed or is installed incorrectly, can you provide more information about your env? versions of react-native, gradle plugin, android studio.
Also, can you provide steps how exactly did you install stripe library?

[2021-06-10 07:27] germanp173 opened #324 "Android app crashes when attempting to create a payment method with a "bad" test card"
**Describe the bug**
I'm currently using the `CardField` component to allow users to enter their credit card information.
When I try to enter a "bad" card to test an `insufficient_funds` failure, the app crashes with a `Value for message cannot be cast from ReadableNativeMap to String` low-level error.

The test card number I'm using is `4000 0000 0000 9995` as specified in the documentation [here

[2021-06-10 09:02] manish-shukla01 commented on #323
@thorsten-stripe  i dont think this is my issue. here is my initpaymentsheet:
[code]
and log for this is:
[code]
this happens when page loads. then i have a pay button and pay button code is like this:
[code]
and log is (basically logging disappears after presentpaymentsheet call.this is android emulator. in iphone emualtor it goes in everything worked path. You can see the client secret is being

[2021-06-10 09:32] paulbryan opened #325 "Cannot call confirmSetupIntent with a setup intent created elsewhere"
**Describe the bug**
Cannot confirm a setupIntent created outside the app

**To Reproduce**
Steps to reproduce the behavior:
1. Create a setupIntent with payment_method and usage:off_session outside the app
2. use the client_secret to call confirmSetupIntent
3. error returned = {"code":"Failed","message":"You must provide card details"}

**Expected behavior**
The setup intent to be confirmed

**Sm

[2021-06-10 10:08] konstantinmv opened #326 "ConfirmPaymentMethod returns "Canceled" error after doing 3DS confirmation"
Hi all, thanks for you work on this lib again.
I've discovered a bug which happens just sometimes, making it even worse.

When trying to create a payment method, which is a card, and charge 1 euro to the customer to check if the card is working, the response of the function `confirmPaymentMethod` returns `Canceled`. The full error is as follows:

`code: "Canceled"
declineCode: null
localizedMessag

[2021-06-10 10:10] konstantinmv commented on #326
Here's a video of the problem.
Thanks in advance!

https://user-images.githubusercontent.com/54809274/121507233-bd43dd80-c9e4-11eb-92f2-733815f084b8.mov

[2021-06-10 10:20] carl-passnfly opened #327 "Android equivalement of Apple pay methods such as presentApplePay, useApplePay"
From reading the documentation and looking at examples I don't see any examples to directly open Google Pay, without presenting a `paymentSheet` on android.

Methods seems to exist for iOS but I don't see any way to accomplish the same on android.

My feature request would be to have something similar on android as for example: `presentGooglePay`.

Thanks!

[2021-06-10 11:12] konstantinmv commented on #327
The issue is already open, it also has an updated response from the Stripe team:

https://github.com/stripe/stripe-react-native/issues/9

[2021-06-10 12:52] enormousrodent opened #328 "Undefined symbols for architecture arm64: "_swift_getOpaqueTypeConformance", referenced from:"
**Describe the bug**
When building locally it is successful.  When automated build via AppCenter get the following error:

    ld: warning: -sdk_version and -platform_version are not compatible, ignoring -sdk_version
    Undefined symbols for architecture arm64:
      "_swift_getOpaqueTypeConformance", referenced from:
          __hidden#62050_Tm in 1177.o
          __hidden#62129_ in 1177.o

[2021-06-10 13:18] rkyle35242 opened #329 "[Apple Pay]: createToken-esque support for Apple Pay"
**Is your feature request related to a problem? Please describe.**

We are looking to move off `tipsi-stripe` in favor of `stripe-react-native`. The recent support for `createToken` could allow us to do that while our backend updates to support PaymentIntents/PaymentMethods, but `presentApplePay` returns a PaymentMethod.

**Describe the solution you'd like**

Could support be added for getting a c

[2021-06-10 13:26] konstantinmv commented on #303
I may have some more information on this problem.
So after building on a real device in development, I still have this issue (fortunately, it does not happen not in dev)
I have a modal, which then has the `CardField`. When dismissing this modal, the app crashes.

The crash is logged as:
File `STPValidatedTextField.swift`
Line 88, `func updateColor`
Thread 1: EXC_BAD_ACCESS (code=1, address=0x69942

[2021-06-10 13:26] robsco commented on #328
This sounds familiar, I had a perfectly working RN app earlier, after installing this library, and up'ing my build target in both the podfile and Build Settings, I now get a failing build, with these errors:

Undefined symbol: type metadata accessor for (extension in Foundation):__C.NSOperationQueue.SchedulerTimeType
Undefined symbol: protocol conformance descriptor for __C.NSOperationQueue : Comb

[2021-06-10 13:54] enormousrodent commented on #328
As per my additional context...I have tried removing all Search Paths already...When I view the search paths in the UX it shows nothing and when viewing via code its only inherited..

[2021-06-10 15:18] enormousrodent commented on #328
To rule out any other issues i have removed the Stripe SDK from my project for RN and it successfully built (this was to rule out any possible 3rd party problems and isolates the issue to just this library.  Any guidance would be great.

[2021-06-10 15:56] thorsten-stripe commented on #328
Have you created the swift file with the bridging header as outlined here https://github.com/stripe/stripe-react-native#undefined-symbols-for-architecture-x86_64-on-ios ?

[2021-06-10 16:35] sushilbansal opened #330 "[Question] - Is stripe allowed to take payments on Mobile app (without google or apple pay)"
I integrated stripe with my React Natve App. My question is: Is stripe allowed to collect payments for in app purchases? We are selling online consulting services.

In the screenshot below if the user selects credit/debit card option then Google pay will not recieve its cut. I am worried that this might cause ban on Google or Apple stores. Have you guys considered this issue? Apologies if this iss

[2021-06-10 16:38] #327 closed

[2021-06-10 17:37] enormousrodent commented on #328
Yes...created a swift file..and we already have a bridging header created for other dependencies in our project.

[2021-06-10 18:12] enormousrodent commented on #328
Out of interest...what should the bridging header do?  I only ask this as we have a file in our solution already called App-Bridging-Header.h which has no contents apart from:

//
//  Use this file to import your target's public headers that you would like to expose to Swift.
//

Should this contain any specific Stripe stuff?

[2021-06-10 19:16] manish-shukla01 commented on #323
@thorsten-stripe my suspicion was true in that issue was  stripeprovider publishablekey not being set if i set it through code or at least i am not setting it correctly. it all started working correctly if i just wrapped the whole screen in stripeprovider element and set the publishable key hardcoded. now only thing i need to figure out is how to make it dynamic. any pointers on that?

[2021-06-10 19:42] patrickcoca opened #331 "createToken - Card Details not complete when passing specified props"
I am trying to implement the dependency's `createToken` function in my React Native app. In the `params` argument I have passed a `name`, `type`, and `address` as specified in the [API reference](https://stripe.dev/stripe-react-native/api-reference/interfaces/card.createtokenparams.html). I have called `initStripe()` in my root component to initialize the dependency. (I have also implemented the `

[2021-06-10 19:53] patrickcoca commented on #331
@thorsten-stripe I have also experienced similar issues trying to use `createPaymentMethod`, but I am hoping it's a simple solution and I am just using the dependency wrong. In either case, any help would be appreciate very much!

[2021-06-10 21:29] paschalidi commented on #290
@thorsten-stripe wondering if we can reopen this after my last comment?

[2021-06-11 03:15] thorsten-stripe commented on #331
`createToken` is a legacy method that should only be used in exceptional cases, please use `createPaymentMethod` instead. In any case, these methods have to be used in combination with the `CardField` component. Please see the docs: https://stripe.com/docs/payments/accept-a-payment-synchronously?platform=react-native

[2021-06-11 03:15] #331 closed

[2021-06-11 03:26] thorsten-stripe commented on #330
If you're selling digital products or services within your app, (e.g. subscriptions, in-game currencies, game levels, access to premium content, or unlocking a full version), you must use the app store's in-app purchase APIs. See [Apple's](https://developer.apple.com/app-store/review/guidelines/#payments) and [Google's](https://support.google.com/googleplay/android-developer/answer/9858738?hl=en&r

[2021-06-11 03:26] #330 closed

[2021-06-11 03:29] thorsten-stripe commented on #329
Tokens are legacy and we're not planning on supporting them in this library. Please use PaymentIntents going forward: https://stripe.com/docs/apple-pay?platform=react-native

[2021-06-11 03:29] #329 closed

[2021-06-11 03:36] thorsten-stripe commented on #325
Can you explain your use case, please? Why would you create a SetupIntent if you already have a payment method for the customer? The `confirmSetupIntent` method has to be used in conjunction with the `CardField` component: https://stripe.com/docs/payments/save-and-reuse?platform=react-native

[2021-06-11 03:41] thorsten-stripe commented on #324
I'm not able to reproduce this. Can you please update to the latest version and see if that resolves it?
![image](https://user-images.githubusercontent.com/23213994/121627436-eed2ac80-caa9-11eb-8eae-12b99ea8be06.png)

[2021-06-11 04:58] paulbryan commented on #325
We want to move to paymentIntents but have some legacy code that is using the old charges api to charge the customers default source (we are upgrading this legacy code but it will take time).

We tried adding the card info using the stripe cardfield but the legacy code did not charge because it is looking for the default_source and adding the card as a paymentMethod the default is stored in invoic

[2021-06-11 05:20] arekkubaczkowski commented on #328
@enormousrodent can you open project.pbxproj file in editor and check whether `LIBRARY_SEARCH_PATHS` does contain only `inherited` value?
like this:
[code]

[2021-06-11 05:25] arekkubaczkowski commented on #328
[code]

[2021-06-11 05:46] thorsten-stripe commented on #325
I'm afraid that isn't something we're planning to support.

[2021-06-11 05:46] #325 closed

[2021-06-11 06:00] thorsten-stripe commented on #323
You can set the publishable key on the StripeProvider via a state variable. The Stripe provider automatically reinitializes the library when the props change. The important thing though is that that needs to happen before you call `initPaymentSheet`. Here an example that uses `initStripe` instead of `StripeProvider`: https://github.com/stripe/stripe-react-native/blob/master/example/src/components/

[2021-06-11 06:00] #323 closed

[2021-06-11 07:57] paulbryan commented on #325
Can your CardField element create a card token rather than a payment method for the setupIntent?

[2021-06-11 08:26] thorsten-stripe commented on #326
Hm, I'm not able to reproduce this. Are you using the latest version? And do you have a link to your code maybe? Do you see any logs in your Stripe Dashboard? https://dashboard.stripe.com/test/logs

[2021-06-11 08:33] germanp173 commented on #324
My apologies, this was an error on my end. I really appreciate your time @thorsten-stripe.

[2021-06-11 08:33] #324 closed

[2021-06-11 09:05] enormousrodent commented on #328
Inherited is the only value i see against any search paths..

[2021-06-11 11:25] konstantinmv commented on #326
Hi!
Seeing that you can't reproduce it, we just checked with our backend team and saw that it's actually our fault. It's caused by a difference between webhook handling between Stripe and tipsi-stripe. We were cancelling the payment (reverting the 1 euro charge) too fast, so we were getting this error.

Setting a timeout for cancelling this solved the issue.

Thanks anyway!

[2021-06-11 11:25] #326 closed

[2021-06-11 12:03] rkyle35242 commented on #329
@thorsten-stripe No worries, I thought it would be a long shot. Thanks for the reply!

[2021-06-11 17:17] NicholasPeck opened #332 "createPaymentMethod- Throws error on IOS "This payment type is not supported yet""
**Describe the bug**
createPaymentMethod throws the following error on IOS but works as intended on Android when passed the same card information.

{code: "Failed", declineCode: null, localizedMessage: "This payment type is not supported yet", message: "This payment type is not supported yet", stripeErrorCode: null, type: null}

**To Reproduce**
Steps to reproduce the behavior:
1. Enter Card infor

[2021-06-11 18:58] #321 closed

[2021-06-11 19:05] manish-shukla01 opened #333 "build archive fails but build from react-native run-ios works after adding react-native-stripe"
hi, i am not sure if this issue belongs here but i will ask here as i got this issue first time after adding stripe and cant troubleshoot to fix it. When i added react-native-stripe to my project, i had to add a fix.swift file and a bridging file that xcode added itself. now i think my integration is working fine but i want to do a test flight so wanted to publish to app store. for that i do the a

[2021-06-11 22:45] robsco opened #334 "CardField not hiding keyboard when complete, or clicking away"
My app is component based, and/therefore I'm using initStripe, createPaymentMethod, handleCardAction, and the CardField.

This mirrors my web-based way of working, so helps keep things simple, to me, and able to re-use a lot of my existing code.

Everything is working fine, in taking payments, but when I've finished entering the card details, the keyboard doesn't hide, and even when clicking away,

[2021-06-11 22:50] Jpoliachik commented on #250
This definitely confused me as well, especially because the documentation says specifically to

https://stripe.com/docs/payments/save-during-payment

[2021-06-12 12:53] enormousrodent commented on #328
Any other suggestions?

[2021-06-12 14:55] harbolaez opened #335 "Ability to hide the close CTA in presentPaymentSheet, when Pay is press and payment is processing state"
**Is your feature request related to a problem? Please describe.**
When presentPaymentSheet is call the bottom sheet will open with the close, which great. But when the user press Pay, and they payment in underway, they user can close the X and it closes the sheet, but they payment still got process. Will be great if the X to close the sheet, is hidden when the user press Pay.

Maybe there is a wa

[2021-06-12 15:29] harbolaez commented on #243
Same here, after adding Spanish through Xcode and building. The issue seems to persist in iOS.

[2021-06-12 17:08] harbolaez commented on #243
fixed mine, by adding to info.plist:
[code]

[2021-06-12 20:00] fedebaier commented on #243
That solved the issue also for me, thanks! Still would be nice to have the option to pass a locale to the payment sheet.

[2021-06-13 03:27] simawn commented on #235
I managed to fix this issue by upgrading @babel/core and @babel/runtime to 7.9.0 (Upgrading to the latest version 7.14.5 didn't work. Using babel-plugin-transform also didn't work)

I'm using React Native 0.61.5, the previous version of both core and runtime were 7.6.2

[2021-06-13 04:48] simawn commented on #332
`type: 'card'` should be `type: 'Card'` (Notice the capitalization)

[2021-06-14 05:31] ruida-shen opened #336 "[Expo Go] The result of the confirmPayment API is undefined."
**Describe the bug**
The result of the confirmPayment API is undefined. I am following this setup [guide](https://stripe.com/docs/payments/accept-a-payment?platform=react-native&lang=node&ui=custom).

**To Reproduce**
Steps to reproduce the behavior:

**Here's the client code:**
[code]

**Here is the server code:**
[code]

**Expected behavior**
Getting a correct response from the confirmPayment AP

[2021-06-14 06:56] arekkubaczkowski commented on #102
https://github.com/stripe/stripe-react-native/pull/337
thanks @aganov for providing the approach

[2021-06-14 07:18] paschalidi commented on #290
More info:
![image](https://user-images.githubusercontent.com/4181674/121853600-65adb680-ccf1-11eb-829c-d64f7706210e.png)

I think, it looks similar to [this](https://github.com/stripe/stripe-ios/issues/1722) one (?)

[2021-06-14 10:41] Jackyaung opened #338 "app crash"
when I press the button "pay with passcode", the process for one or two second then app crash. I even couldn't track what the problem is, it just crash when I press the button. is anyone having this problem?

[2021-06-14 13:08] thorsten-stripe commented on #338
Please fill out the bug report template with the necessary information to help us help you: https://github.com/stripe/stripe-react-native/issues/new?assignees=&labels=&template=bug_report.md&title= Thanks.

[2021-06-14 13:08] #338 closed

[2021-06-14 13:10] thorsten-stripe commented on #336
What's the full log of `confirmPaymentResult`? Does the error object tell you anything?

[2021-06-14 13:27] #332 closed

[2021-06-14 13:31] thorsten-stripe commented on #334
You'll need to wrap the `CardField` component with the `StripeContainer` component to achieve this: https://github.com/stripe/stripe-react-native/blob/master/example/src/components/PaymentScreen.tsx#L34

[2021-06-14 13:31] #334 closed

[2021-06-14 15:21] vaibhavcis2912 opened #339 "Stripe SDK not worked for ios work fine in android."
**Describe the bug**

* BUILD FAILED *

The following build commands failed:
        CompileSwift normal x86_64 /Users/cis/Desktop/untitled_folder/VaibhavDevelopment/new/RymindrMobile/ios/Pods/Stripe/Stripe/AddPaymentMethodViewController.swift
        CompileSwift normal x86_64 /Users/cis/Desktop/untitled_folder/VaibhavDevelopment/new/RymindrMobile/ios/Pods/Stripe/Stripe/AlipayDetailsEditView.swif

[2021-06-14 15:23] vaibhavcis2912 commented on #339
Application worked without stripe package but once I install this package. It starts throwing above error.

[2021-06-14 17:29] ruida-shen commented on #336
The full log of confirmPaymentResult is:
![Capture](https://user-images.githubusercontent.com/75506336/121933740-4f0c5d00-ccfb-11eb-856a-97412f35f505.PNG)

There is no error object

[2021-06-14 21:01] EinarHm opened #340 "Problem when yarn bootstrap node-pre-gyp install --fallback-to-build"
**Describe the bug**
Problem when trying to install dependencies

/Users/einarhohenstein/Desktop/stripe-react-native/node_modules/canvas: Command failed.
Exit code: 1
Command: node-pre-gyp install --fallback-to-build
Arguments:
Directory: /Users/einarhohenstein/Desktop/stripe-react-native/node_modules/canvas
Output:
node-pre-gyp info it worked if it ends with ok
node-pre-gyp info using node-pre-gy

[2021-06-14 21:42] paschalidi opened #341 "[iOS] Error: Assertion failed: Failed to find an image named icon_x"
When I am calling the `await presentPaymentSheet({clientSecret})` on my client side I am getting an error
[code]
I am trying to make the `presentPaymentSheet` visible on the screen and the app crashes.

Probably related to the https://github.com/stripe/stripe-ios/issues/1722 & https://github.com/stripe/stripe-react-native/issues/290

**Desktop (please complete the following information):**
 - OS:

[2021-06-14 23:09] dorlandimort opened #342 "[android] Build issue: Resource linking failed"
**Describe the bug**

SDK version: 0.1.4
React Native Version: 0.63.3
Android Gradle Plugin Version: 4.0.0 (also tried 4.2.1)
Gradle Version: 6.9

Hello guys. I'm having trouble making the SDK work in my project. I added the SDK using yarn. First I had some trouble with `buildFeatures` but fixed that with [this](https://github.com/stripe/stripe-react-native/issues/203#issuecomment-839710098).

Now

[2021-06-15 06:47] thorsten-stripe commented on #342
What's your `minSdkVersion` and `compileSdkVersion`?

Can you try the following: https://github.com/stripe/stripe-react-native/blob/master/example/android/build.gradle#L5-L8

[2021-06-15 06:50] thorsten-stripe commented on #341
@yuki-stripe @davidme-stripe any ideas on this?

[2021-06-15 07:45] i-suraj007 opened #343 "[Android] lateinit property stripe has not been initialized"
Steps to produce this error:

Step 1: Make Sofort Payment
Step 2: You will get this error Screen **`lateinit property stripe has not been initialized`**
Step 3. Reload the App and try again. It works!

I am getting this error **sometimes**.

**Screenshots**
![photo_2021-06-15_13-06-16](https://user-images.githubusercontent.com/24787428/122012180-843bac80-cdda-11eb-879b-96745f1baca1.jpg)

**Smartph

[2021-06-15 09:20] thorsten-stripe commented on #336
Your code works fine for me on `Expo/2.19.6.1011482`. Can you check if you see any errors in your Stripe logs: https://dashboard.stripe.com/test/logs

[2021-06-15 09:26] thorsten-stripe commented on #343
How are you initializing Stripe? Are you using `StripeProvider` or `initStripe`? Can you please share your code?

[2021-06-15 09:39] thorsten-stripe commented on #339
Did you run `pod install` in your `ios` folder after installing the library?

[2021-06-15 10:04] i-suraj007 commented on #343
oops! I forgot to initialize Stripe. Thanks for your quick response.
Your question solved my issue :p

[2021-06-15 10:04] #343 closed

[2021-06-15 11:06] vaibhavcis2912 commented on #339
yes i have install the pods

[2021-06-15 15:16] dorlandimort commented on #342
Thanks for your reply @thorsten-stripe
My current config is:
[code]
Tried to change it like the example project to:
[code]

Also changed `com.android.tools.build:gradle:4.0.0` to `com.android.tools.build:gradle:4.1.2`

But still getting the same exact errors.

[2021-06-15 15:57] adrien-may opened #344 "createToken seems to return different object response according to Platform"
**Describe the bug**
I'm using the `createToken` method introduced in 0.1.3 and I'm retrieving the token id (tok_xxxxx) in the response.

**To Reproduce**
Steps to reproduce the behaviour:

Hypothesis: `card` is valid Card object obtained from a stripe `CardField` component. I used a setState on the cardField handleChange to set this card object.

Using the following code :

[code]

I get the expe

[2021-06-15 17:37] Kavf commented on #336
@thorsten-stripe Hello, I used the command "expo install @strip/strip react native" to install the strip of Expo version. When I run Expo in the browser, the following error occurred. Could you help me check the problem?
`Failed to compile.
C:/project/project-name/node_modules/@stripe/stripe-react-native/lib/module/components/StripeProvider.js
Module not found: Can't resolve '../../package.json' i

[2021-06-15 17:39] ruida-shen commented on #336
I think react native stripe is not supported in Web

https://docs.expo.io/versions/latest/sdk/stripe/

[2021-06-15 17:57] aayushm9595 opened #345 "Getting Error Card Details not complete on use of Custom Card Input Component"
**I am using using version "@stripe/stripe-react-native": "0.1.4" and on confirmSetupIntent I get the error **_Card details not complete_** in all scenarios when I use my own custom card input and pass all the required arguments in same format**

**To Reproduce**
Steps to reproduce the behavior:
We have our own custom UI for getting user payment details and on submission of the same with fields po

[2021-06-15 18:16] ruida-shen commented on #336
[code]

Thanks for replying, somehow I missed this message on the console, I have fixed the issue.

[2021-06-15 18:16] #336 closed

[2021-06-15 18:32] kyle-ssg opened #346 "Create card from scratch without using Stripe UI"
We were previously using a card scanning library as a way of creating a stripe card with tipsi-stripe SDK. As far as I can see, there's no way to create a payment method by specifying card fields (expiry,number,cvv).

I'm wondering if I'm missing something here or whether this will be allowed in the future?

[2021-06-15 23:06] dorlandimort commented on #342
I'm closing this issue.

It was caused by a configuration for old android version compatibility. But we don't need them nowadays. This was causing the issue:
[code]
We currently don't use code that requires it so it was safe to remove.

Thanks, @thorsten-stripe  for your help.

[2021-06-15 23:06] #342 closed

[2021-06-16 02:56] thorsten-stripe commented on #346
There are currently no plans to support this due to the PCI compliance considerations this has (e.g. see https://github.com/stripe/stripe-react-native/issues/178#issuecomment-831651413) We recommend to migrate to use the payment sheet or the `CardField` component.

[2021-06-16 02:56] #346 closed

[2021-06-16 03:08] thorsten-stripe commented on #345
Custom UI is not supported due to PCI compliance requirements: https://stripe.com/docs/security/guide#validating-pci-compliance
![image](https://user-images.githubusercontent.com/23213994/122151917-fd96d600-ce92-11eb-8cb1-5902a08f2546.png)
Please use either the payment sheet or the `CardField` component to handle card data as outlined in the docs: https://stripe.com/docs/payments/accept-a-payment?

[2021-06-16 03:08] #345 closed

[2021-06-16 08:32] ledouxvi commented on #333
Hi, I had some similar problem during archive build.
Do you have the right deployment version (iOS 11.0) on your target ?

[2021-06-16 09:43] Sirzs opened #347 "Hi,how should I use the promotion code"
https://stripe.com/docs/api/promotion_codes

[2021-06-16 09:46] chengsam commented on #286
@Sirzs In my case, I need to wait for 1-2 seconds before presenting the payment sheet.

[2021-06-16 12:07] aayushm9595 opened #348 "Element CardField crashes on Android (RN v 0.64.0)"
**Describe the bug**
The CardField provided by the library crashes on React Native version .64 on android platform on tap on the input fields (works fine on lowering the react native version to 0.63)

**To Reproduce**
Steps to reproduce the behavior:

[code]

import this element from library on latest react native element and tap to enter card number details and observe crash

**Expected behavior*

[2021-06-16 15:13] jonasbark opened #349 "createPaymentMethod should also work with card from token"
A related issue for Flutter: https://github.com/flutter-stripe/flutter_stripe/issues/153
Possibly related: https://github.com/stripe/stripe-react-native/issues/239

Essentially it should be possible to create a payment method based on the token that was received with Google / Apple Pay. Right now it's not possible because createPaymentMethod relies only on the information provided from the card fi

[2021-06-16 17:09] trex-quo commented on #347
Make an API request to create a promotion code or create it in the Stripe dashboard. When creating a subscription for the user, you can pass it in as an optional parameter

https://stripe.com/docs/api/subscriptions/create

[2021-06-17 04:02] fdelacruzsoto opened #350 "confirmSetupIntent always return Card details not complete"
**Describe the bug**
When I try to call confirmSetupIntent with the given params in the documentation I always get the same response:

´Card details not complete´

**To Reproduce**
Follow the documentation here https://stripe.com/docs/payments/save-and-reuse?platform=react-native#react-native-collect-card-details

**Expected behavior**
The card is saved on stripe

Example of my code

[code]

How d

[2021-06-17 04:13] thorsten-stripe commented on #350
The card details are extracted from the `CardField` component. It needs to be in the same view that you're calling `confirmSetupIntent`. Here and example: https://github.com/stripe/stripe-react-native/blob/master/example/src/screens/SetupFuturePaymentScreen.tsx

[2021-06-17 04:13] #350 closed

[2021-06-17 04:17] thorsten-stripe commented on #347
Please only use the issues for bug reports and feature requests. For general integration questions please use our support form (https://support.stripe.com/) or technical chat on IRC https://webchat.freenode.net/#stripe

[2021-06-17 04:17] #347 closed

[2021-06-17 04:23] thorsten-stripe commented on #349
`confirmPayment` allows to pass in a token, that's the only client-side use case I see. Otherwise you can send the token to your server and attach it to a customer there etc.

Why would you need to create a payment method from a token client-side?

[2021-06-17 04:29] thorsten-stripe commented on #335
Thanks @harbolaez this is a bug in the respective native payment sheet implementations. I have forwarded it to the team and they are looking into fixing it.

[2021-06-17 04:36] markphillips100 commented on #349
Well in my specific use case my backend only deals with a payment method (no tokens), whether that was created from a credit card or via native pay.  Hence the reason I expected to use the token to obtain a payment method.

[2021-06-17 05:51] thorsten-stripe commented on #349
@markphillips100 can you describe your flow a bit more please. Your backend can turn the token into a payment method if needed: https://stripe.com/docs/api/payment_methods/create#create_payment_method-card

[2021-06-17 06:13] markphillips100 commented on #349
I use an event driven architecture at the backend so "place order" from a client perspective doesn't give me the opportunity to confirm payment.  The payment flow works this way:

1. On user selecting place order, payment method Id for the order is sent to the backend resulting in a message being placed on a queue.  Client is now waiting for a message from server (via websocket) to determine what

[2021-06-17 09:07] AlexGrump commented on #348
A similar problem. The application closes silently without errors by tapping on CardField while autofocus works normally

[2021-06-17 09:58] IbrarButt commented on #348
Facing, similar problem on android by tapping on the CardField android app crashes.

[2021-06-17 10:32] atalon-kn opened #351 "useApplePay, ApplePayButton, presentApplePay does not work at all"
From the doc here: https://stripe.com/docs/apple-pay?platform=react-native
- isApplePaySupported function from useApplePay hook always returns Apple Pay not available even it is indeed available
- ApplePayButton component does not show up
- presentApplePay always return error saying Apple Pay is not available

**To Reproduce**
follow the steps of the official doc: https://stripe.com/docs/apple-pay

[2021-06-17 12:26] DaveyvdBogaard commented on #348
Similar problem here. CardField works for iOS but crashes when used on Android (using RN v0.64.1)

[2021-06-17 12:35] Frankisgek commented on #348
We are experiencing the same problem using RN 0.64.x. Android crashes occasionally when CardField is openend or clicked a few times in a row. No errors.

[2021-06-17 14:47] thorsten-stripe commented on #351
Did you follow all the necessary setup steps: https://stripe.com/docs/apple-pay?platform=react-native#accept ?

Also do note that Apple Pay is only considered available when you have an active payment method set up in Apple Pay.
![image](https://user-images.githubusercontent.com/23213994/122418697-f9ff6e00-cfbc-11eb-8021-1cda280f59f0.png)

Closing this out as we know that with proper setup and con

[2021-06-17 14:47] #351 closed

[2021-06-17 15:12] EinarHm commented on #348
Similar issue: "CardField" was not found in UIManager work fine in IOS

[2021-06-17 18:25] Avinashjain881 opened #352 "Native Module can not be null in ios"
After installing the package and using the provider in the App.js i get Native Module can not be null ,
my package.json looks like this
[{
  "name": "react-native-starter",
  "version": "2.0.0",
  "private": false,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start",
    "test": "jest",
    "test:update": "jest -u",
    "test:coverage": "jest --coverage",
    "run:i

[2021-06-17 21:34] agentscamp5 commented on #346
@thorsten-stripe I don't understand why PCI compliance is a blocker for there to be a way to use this package without the UI components (which my team was doing when we had a pre-v1.0.0 beta version of this package a couple month ago).

There was already just recently added a new field called `dangerouslyGetFullCardDetails` that has a comment warning that if you use it, you are responsible for mak

[2021-06-18 02:19] atalon-kn commented on #351
@thorsten-stripe I have set up apple pay properly as I can use it with initPaymentSheet with applePay set to 'true'.
I have also set up apple pay using [useApplePay, ApplePayButton, presentApplePay] according to https://stripe.com/docs/apple-pay?platform=react-native and my app has been launched to App Store.
However, only the payment sheet works but the Apple Pay module does not work at all.

[2021-06-18 03:02] atalon-kn commented on #351
@thorsten-stripe the style prop of ApplePayButton is not optional, need to specify the height and width for the button to show, please update the doc or set default value to the button.

[2021-06-18 03:15] thorsten-stripe commented on #351
You're right, that's not clear in the docs, thanks for flagging!

[2021-06-18 03:16] qjimmy opened #353 "ACSS Support - PAD payments on React Native"
After a short discussion on the Stripe's discord dev-help channel, I learned that ACSS payments are not supported on React Native.

# Feature Request

Developers would like to allow their 🇨🇦 Canadian customers the option to have pre-authorized debit (PAD) payments on React Native applications. The web version already works very well 😃 but we would like it on React Native.

# Solution we would like

[2021-06-18 03:42] thorsten-stripe commented on #353
@qjimmy thanks for registering your interest for this. ACSS debits are currently not supported on mobile. We will have to wait for our native iOS and Android SDKs to implement it before we can make it available in React Native. We'll use this issue to track it.

[2021-06-18 03:52] thorsten-stripe commented on #352
Can you please update to a newer version of React Native and see if that resolves it?

[2021-06-18 07:22] arekkubaczkowski commented on #328
@enormousrodent
I wasn't able to reproduce it in AppCenter
- I created new RN project
- added stripe library
- Created new swift file with bridging header
- Removed items from release LIBRARY_SEARCH_PATHS
- Changed ios deployment target to be consistent with this from Podfile
<img width="328" alt="Zrzut ekranu 2021-06-18 o 09 12 54" src="https://user-images.githubusercontent.com/18654447/122522535

[2021-06-18 08:36] enormousrodent commented on #328
We discovered that the issue was caused by Bitcode.  When we disable BITCODE on build then we get successful.

[2021-06-18 10:04] thorsten-stripe commented on #344
Yes, sorry about that, and thank you for flagging!
<table>
<tr><td>Android</td><td>iOS</td></tr>
<tr>
<td>
<pre>
{
  "livemode": false,
  "bankAccount": null,
  "card": {
    "address": {
      "postalCode": "77063",
      "country": null,
      "line2": null,
      "state": null,
      "line1": "1459  Circle Drive",
      "city": null
    },
    "name": "Testr Test",
    "last4": "4242",
    "fun

[2021-06-18 10:22] thorsten-stripe commented on #349
@markphillips100 thanks for the details. Yes, you will need some backend changes, but they should be minimal as you can pass a token to payment intent creation directly via `payment_method_data`:

[code]

[2021-06-18 10:22] #349 closed

[2021-06-18 11:26] #328 closed

[2021-06-18 11:29] #348 closed

[2021-06-18 11:54] thorsten-stripe commented on #316
Closing out as stale. Please reopen with additional information if needed.

[2021-06-18 11:54] #316 closed

[2021-06-18 15:01] konstantinmv opened #355 "[Android] 3DSecure confirmation screen closed if app is put in background"
Hi all.
We currently have a bug happening on Android only.
After using `confirmPaymentMethod` on a payment, the 3DS screen is brought up. If instead of confirming / denying the payment on this screen we go into background and then bring the app back to active again, 3DS screen is just dismissed, so the app is stuck.
Obviously, at that moment Stripe payment is pending, but there's no way to bring u

[2021-06-18 15:52] lucasfronza opened #356 "[Question] Replacement for `confirmPaymentIntent` and hooks vs class components"
Hey 👋

Sorry if this isn't the best place to ask questions, but I didn't find a better place for it...

1 - I'm coming from `tipsi-stripe`, and we still use `confirmPaymentIntent`. I do understand, from Stripe docs, that this method is deprecated. But I wonder if there's a replacement for this method, and if so, which one would it be.
If not, are there any tutorials on Stripe about how to migrate

[2021-06-18 16:08] Avinashjain881 commented on #352
Okay i will try this

[2021-06-18 20:04] qjimmy opened #357 "Recent Version Releases Incompatible with Expo"
# Context

Not sure to put this as feature request or bug, sorry in advance if I mislabeled it.

This happened while I was using version 0.1.4 with Expo SDK 41. This is happens due to the fact that anything higher than version 0.1.1 with expo is incompatible. More details as follows.

# Bug Description

I’m trying to save a card payment method using Stripe’s React Native SDK. (To set up future pay

[2021-06-19 02:12] fdelacruzsoto commented on #350
@thorsten-stripe sorry to bother you again, it is in the same view

[code]

The submit function does something like

[code]

I verified that `client_secret` and `billingDetails` are correct.

I debugged a bit on the kotlin code from android and in this code I found that instance is always null

[code]

[2021-06-19 09:55] shanutthankachan commented on #357
The recent version sucks, I follow this setup, https://stripe.com/docs/payments/accept-a-payment?platform=react-native&ui=custom

In step 4, "Submit payment to Stripe " hereafter successful payment nothing returns :D, but the error works !!

`if (error) {
      console.log('Payment confirmation error', error);
    } else if (paymentIntent) {
      console.log('Success from promise', paymentIntent)

[2021-06-19 14:11] IyiolaOwabumowa commented on #352
I have the same issue as well

[2021-06-19 14:55] IyiolaOwabumowa commented on #352
#241 helped me just now. Just open the Xcodeproject file with VSCode and search for LIBRARY_SEARCH_PATHS...

Then remove $(TOOLCHAIN_DIR)/usr/lib/swift/$(PLATFORM_NAME) and $(TOOLCHAIN_DIR)/usr/lib/swift-5.0/$(PLATFORM_NAME)

Save and run your build.

The issue is that the READ ME for this library did not tell us to open the xcodeproject file with another text editor.

Well this was what got my pr

[2021-06-19 18:13] IyiolaOwabumowa opened #358 "Payment Sheet appears and disappears"
Hi this is as simple as it gets and I've been running into this issue for hours, see the video attached

https://user-images.githubusercontent.com/48656619/122651689-53d57480-d132-11eb-9d86-15fbf1ae9f53.mov

[2021-06-19 19:35] flora8984461 commented on #285
I wonder if it's possible to change button colour or something like the pre-built UI for web element, I can customize the theme directly through my dashboard.

[2021-06-19 19:37] qjimmy commented on #357
Alright here's the workaround.

You can use the `@stripe/stripe-react-native` SDK with Expo but only on version 0.1.1 as of now. You can install it with `expo install @stripe/stripe-react-native` or `yarn add @stripe/stripe-react-native@0.1.1`.

Functionality will works, such as `confirmSetupIntent`, etc. But as mentioned, the `<CardField />` element will display the keypad on focus. On blur, the

[2021-06-19 20:03] #358 closed

[2021-06-19 22:56] imsuresh97 commented on #328
Hi Facing same issue even after disabling the BITCODE and with other alternatives tried all the available solutions ... tried in fresh react native project ... only difference ,xcode Version 12.5 (12E262) ... kindly advice