[2021-06-20 05:09] TiagoX9 opened #359 "Invariant Violation: requireNativeComponent: "CardField" was not found in the UIManager."
**Describe the bug**
After i installed this package (i tried with Yarn and npm) i get this error when i try to call the CardField component.
I installed the pods, and updated the repo but still happening.
Using React Native CLI.

This happens only in iOS, Android seems fine.

Here is my packaje.json:

[code]

**Screenshots**
![Simulator Screen Shot - iPhone 12 - 2021-06-20 at 07 08 16](https://use

[2021-06-20 08:58] Avinashjain881 commented on #352
there is no such paths exists in the xcodeproject file

[2021-06-21 04:47] thorsten-stripe commented on #300
@alvaroAsap any chance you could briefly outline how you resolved this issue. Someone else is running into this also https://github.com/stripe/stripe-react-native/issues/359

[2021-06-21 04:54] thorsten-stripe commented on #357
We will need to wait for SDK 42 for these newer versions to become compatible with Expo

[2021-06-21 04:54] #357 closed

[2021-06-21 05:09] thorsten-stripe commented on #356
If not, are there any tutorials on Stripe about how to migrate from it?

In this library you use `confirmPaymentMethod` instead: https://stripe.dev/stripe-react-native/api-reference/modules.html#confirmpaymentmethod. The docs are here: https://stripe.com/docs/payments/accept-a-payment?platform=react-native&ui=custom Note that in the docs the hook is being used which exports the method `confirmPaym

[2021-06-21 05:09] #356 closed

[2021-06-21 09:43] duasfh opened #360 "confirmPayment returns 'no such payment method' for SCA-cards"
**Describe the bug**
Hi. Not sure is it bug or not.
Currently on our backend we creating payment intent, and processing webhook.
We do not provide payment-sheet for sca (yet).
(Backend uses php laravel cashier for stripe).

When we processing 'simple' cards, the current flow (will describe bellow) works well,
but when it comes to cards with 3d-secure,
confirmPayment (and confirmPaymentMethod too)

[2021-06-21 11:21] mrkp commented on #340
Experiencing the same problem, M1 chip mac. Any fix yet?

[2021-06-21 13:43] rchoffar opened #361 "3D Secure back to merchant Mozilla Android"
**Describe the bug**
On android when confirming 3D secure, return to merchant does not working with mozilla in app navigator ( but work with chrome )

**To Reproduce**
Steps to reproduce the behavior:

Set up an android phone with mozilla as default navigator
Add 4000002760003184 this payment method
Call confirmSetupIntent
Click on confirm authentication

When you click on open with mozilla ( in n

[2021-06-21 14:03] #360 closed

[2021-06-21 15:02] aliboyraz commented on #328
Make sure; all swift releated items are removed from Library_Search_Path. **Even though they are removed via XCODE Editor and its not being showed in editor any more, open project file via Text Editor and search whether they are there or not.**

[2021-06-21 15:04] lucasfronza opened #362 "stripeErrorCode and declineCode empty for iOS on confirmPaymentMethod error"
**Describe the bug**
When calling `confirmPaymentMethod` with the card `4000 0082 6000 3178` (which is expected to fail with insufficient funds), both `stripeErrorCode` and `declineCode` are empty on iOS. On Android, as expected, both fields are present.

**To Reproduce**
Steps to reproduce the behavior:
1. On iOS, having set up a payment intent with a card that will fail, call
[code]
2. Error obj

[2021-06-21 17:03] imsuresh97 commented on #328
Hi Aliboyraz , i have checked it .. and make sure the only thing present now is ''$(inherited)" in Library_Search_Path ... still facing the same issue ... and OS version 11.4 , m1 processor , xcode Version 12.5 (12E262) ... this is happening only if i add stripe dependencies ...

[2021-06-21 20:11] fdelacruzsoto commented on #350
@thorsten-stripe did you have a chance to check my reply?

[2021-06-22 05:54] shanutthankachan opened #363 "confirmPayment returns nothing after success payment"
**Describe the bug**
When calling confirmPayment with the card 4242 4242 4242 4242 ( which is expected to success ), then succesfull payment retuns nothing,but error works

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
paymentIntent

**Desktop :**
 - OS: Ubuntu
 - Browser : Brave

**Smartphone :**
 - Device:MI
 - OS: Android

**Additional context**
Following Docs

[2021-06-22 15:22] thorsten-stripe opened #364 "[Docs] tipsi-stripe migration guide"
It's come up a couple of times that folks migrating from tipsi-stripe are struggling a bit, especially when they are using class components and can't use hooks. We should provide some migration docs for them.

[2021-06-22 16:12] AlixH opened #365 "error: module map file .../Charts.modulemap' not found [IOS only]"
**Describe the bug**
I have installed stripe-react-native on my project which also includes the lib react-native-charts-wrapper.
After stripe-react-native installation, I faced the issue 'Undefined symbols for architecture x86_64' which I solved thanks the the troublshooting doc. Since then, I am facing the following error on my release build:
<img width="1374" alt="Screenshot 2021-06-22 at 17 29

[2021-06-22 16:29] thorsten-stripe commented on #363
You need to install the exact version of the library which is supported in Expo, which for Expo SDK 41 is `@stripe/stripe-react-native` v 0.1.1 (`@stripe/stripe-react-native@0.1.1`)

You should see this in the expo logs when starting the metro server:
![image](https://user-images.githubusercontent.com/23213994/122964580-fe12fd80-d3b9-11eb-958f-93c47fc30a56.png)

You can fix this by running `expo i

[2021-06-22 16:29] #363 closed

[2021-06-22 21:11] juanolmedogl commented on #280
@thorsten-stripe I'm only using the `CardField` component to collect data and then calling stripe API's directly.
Is it possible to add the CVC value to the callback ?

Please let me know.
Thanks!

[2021-06-23 13:54] saeedtkh commented on #304
@thorsten-stripe: Thanks for your nice library. Ca you please put an example with class base here?

[2021-06-23 14:26] ghitier opened #367 "confirmPayment not accepting setupFutureUsage when using paymentMethodId (Android)"
**Describe the bug**
When calling *confirmPayment* (of the *useStripe* hook) with both the `paymentMethodId` and `setupFutureUsage` options. The `setupFutureUsage` option has no effect. **This issue is Android only**.

**To Reproduce**
Steps to reproduce the behavior:

Call *confirmPayment* as below:
[code]

When testing on Android the card will not be saved, on iOS it will.

**Expected behavior**

[2021-06-23 16:49] jonasbark opened #368 "Discrepancy between Date handling on iOS and Android"
We noticed a discrepancy between iOS / Android regarding "created" attribute on PaymentIntent on the native side:

https://github.com/stripe/stripe-react-native/blob/master/android/src/main/java/com/reactnativestripesdk/Mappers.kt#L328 -> created is a string
https://github.com/stripe/stripe-react-native/blob/master/ios/Mappers.swift#L360 -> created is an int
https://github.com/stripe/stripe-react-

[2021-06-24 06:29] thorsten-stripe commented on #367
Yes, it's missing https://github.com/stripe/stripe-react-native/blob/master/android/src/main/java/com/reactnativestripesdk/PaymentMethodCreateParamsFactory.kt#L104-L109

Thanks for reporting!

[2021-06-24 06:33] thorsten-stripe commented on #365
Hey @AlixH, can you try the steps outlined here? https://stackoverflow.com/questions/55675694/how-to-fix-cocoapod-modulemap-file-not-found

[2021-06-24 06:36] thorsten-stripe commented on #355
@michelleb-stripe can you look into this?

[2021-06-24 12:36] AlixH commented on #365
Thanks a lot, I found the solution in the link provided.
Stipe made me do a IOS version bump to 11.0 in the PodFile but I had to do the same version bump inside the project.pbxproj (or directly from XCode in the Build Settings -> IOS deployment target)

[2021-06-24 17:25] actaruss opened #369 "Error appear after some days, without having change the integrated code: "null is not an object (evaluating '_await$NativeStripeSd9.paymentOption')""
**Describe the bug**
Hello,
I'm using expo on an IOS simulator. I had a perfectly integrated payment system on my plateform, using stripe-react-native on the app. But now I'm getting this error object when I call the "initPaymentSheet" function:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Install and init the StripeProvider at the top of my application
2. Create a component that re

[2021-06-25 00:33] shanutthankachan opened #370 "[EXPO GO] 3D secure not return to Expo"
**Describe the bug**
Cards like Authentication required: 4000 0027 6000 3184, lead to hooks.stripe.com as a webview and  return to **Expo App Home** aftere succefull or failure payment .

also, click on complete authentication or fail clicks then,  If close the webview trigger back to **App screen** .

**To Reproduce**
`            <StripeProvider
            publishableKey="**********************

[2021-06-25 02:15] fdelacruzsoto opened #371 "confirmSetupIntent not working as expected"
**Describe the bug**

Currently when I try to call `confirmSetupIntent` I get the following error:

[code]
Card details are always complete

**To Reproduce**
Steps to reproduce the behavior:

This is my current code for the component

[code]

And this is the submit function

[code]

`client_secret` is always defined, so no issue there.

**Expected behavior**

The card is saved for future payments.

[2021-06-25 02:17] fdelacruzsoto commented on #371
And btw, I also tried with `initStripe` instead of `StripeProvider` and it didn't work either.

[2021-06-25 03:01] thorsten-stripe commented on #369
What's your Expo Go client version, your Expo SDK version, and your `stripe-react-native` version? Are they potentially out of sync?

Can you try running `expo install @stripe/stripe-react-native` and see if that resolves it?

[2021-06-25 03:07] thorsten-stripe commented on #370
@shanutthankachan can you try `urlScheme="exp://192.168.1.102:19000/--/"` and see if that works?

But yah, I think it's not ideal atm. @cruzach do you have any recommendations how we can make this better for usage with Expo Go?

[2021-06-25 03:57] shanutthankachan commented on #370
clicks on "Complete Authentication"  returns to the same "3d secure test payment Page"

[2021-06-25 04:04] thorsten-stripe commented on #370
@shanutthankachan to automatically dismiss the webview you have to implement deep link handling: https://github.com/stripe/stripe-react-native/blob/master/example/src/screens/HomeScreen.tsx#L17-L25

[2021-06-25 04:06] #365 closed

[2021-06-25 05:10] shanutthankachan commented on #370
above solution is not working
https://snack.expo.io/@charliecruzan/stripe-react-native-example,

[2021-06-25 07:21] vipu-sa commented on #355
React Native Android - The previous state of stripe payment screen not getting When app reopens click of app icon after minimize.
when I am performing 3d secure payment using stripe payment screen.When I minimize the application in between this process and, reopen it by clicking on the app icon at that time I am not getting the previous state of stripe payment screen specific for android.

[2021-06-25 09:29] aanalmehta-sa commented on #355
We are facing the same issue. By when we can expect this issue to be resolved?
We are having a major bug because of this.

[2021-06-25 13:06] hbole opened #372 "Migrate from Tipsi Stripe & Payment Using Custom Card Field"
Hi,

I have been using `tipsi-stripe` in my app to make payments. But with new google play policies, I am unable to upload apks to the play store.
So here is my flow which I use to pay using stripe via `tipsi-stripe`

I have my own custom card field which collects name, card number, expiry month, expiry year, and cvv.
With these details I create a token. (https://tipsi.github.io/tipsi-stripe/docs/

[2021-06-25 14:17] cruzach commented on #370
The snack example above works for the Prebuilt UI screens, but for the webhook payment after clicking "confirm authentication" I see "Safari cannot open the page because the address is invalid" (not sure what the difference is between those two in regards to where the redirect is pointing @thorsten-stripe)

But as for urlScheme redirects- you should use [`Linking.createUrl()`](https://docs.expo.io

[2021-06-25 14:22] thorsten-stripe commented on #372
This is not supported as it has PCI compliance implications. Please use the `CardField` component to collect card details: https://stripe.com/docs/payments/accept-a-payment-synchronously?platform=react-native#react-native-create-checkout-page

Using the generated token, I create a payment method for the card.(https://tipsi.github.io/tipsi-stripe/docs/paymentIntents.html)

Tokens are legacy, please

[2021-06-25 14:22] #372 closed

[2021-06-25 14:54] techTutorialsYTube opened #373 "presentPaymentSheet is not opneing the payment sheet."
**Describe the bug**
presentPaymentSheet Does not open the payment sheet.  For the first time when we call presentPaymentSheet nothing happens.
But if we call it again it open the page with old paymentintent values ( price)

**To Reproduce**
This is my code. When I call openPaymentPage on app load. Nothing seems to happen. There is no error.
But if i call openPaymentPage  again. The payment page w

[2021-06-25 17:27] flora8984461 commented on #352
I am having the same issue and only on my standalone app. I use expo and everything works fine, after I run `expo build: ios`, and download the app through testflight or my simulator, it crashes when I try to launch it with the following error:

[code]

Any help is appreciated!

[2021-06-25 17:45] flora8984461 commented on #352
I am having the same issue and only on my standalone app. I use expo management flow and everything works fine, after I run expo build: ios, and download the app through testflight or my simulator, it crashes when I try to launch it with the following error:
[code]

I notice that I have to run `pod install` in ios folder, but the issue is, I am using expo management flow, which does not provide io

[2021-06-25 19:40] trex-quo commented on #373
I believe this one is being tracked already
https://github.com/stripe/stripe-react-native/issues/315

[2021-06-25 19:49] flora8984461 commented on #352
After some trial with expo run:ios, kinda ejected from expo, I got rid of the error.

[2021-06-26 03:50] #373 closed

[2021-06-26 04:19] shanutthankachan commented on #370
@thorsten-stripe  @cruzach  Google Sign In ( [Expo](https://docs.expo.io/versions/latest/sdk/app-auth/) ) using the same method they return back with successfully, then why don't you

[2021-06-26 04:30] shanutthankachan commented on #370
could you please give me a working example, If it fails or not wanna redirect to the App screen and goes to the next step, I think Stripe should help me with this?

[2021-06-27 07:43] hbole commented on #372
@thorsten-stripe It would be more helpful, If you help me with saving cards for future use

[2021-06-27 18:11] actaruss commented on #369
The command `expo install @stripe/stripe-react-native` did work !!!
Big thanks @thorsten-stripe we didn't think about that.
We did an upgrade to "@stripe/stripe-react-native": "^0.1.4" recently.
But when we run `expo install @stripe/stripe-react-native` it passed to :
"@stripe/stripe-react-native": "0.1.1",
Obviously we had some missing dependancy for the last version. Big thanks !!!

[2021-06-27 18:11] #369 closed

[2021-06-27 20:06] stupidtools commented on #371
I wanted to second this. On android, I'm getting a null pointer exception when trying to run this because of a null card manager.

`java.lang.NullPointerException
06-27 13:39:51.518 16650 16778 E unknown:ReactNative: 	at com.reactnativestripesdk.PaymentMethodCreateParamsFactory.createCardPaymentSetupParams(PaymentMethodCreateParamsFactory.kt:160)
06-27 13:39:51.518 16650 16778 E unknown:ReactNativ

[2021-06-27 23:42] cinnabarcaracal commented on #9
I would also like to thank you for all the hard work that has gone into this library, and for stepping up to take over the languishing RN Stripe integration space.

We've just finished reworking and upgrading our server, web and app payments processes - which this library has been a major component of.

To my knowledge this is the only outstanding item that is holding us back from releasing new ve

[2021-06-28 02:52] fdelacruzsoto commented on #371
@stupidtools glad to hear I'm not the only one with this same issue, I've been debugging on both platforms, but haven't found anything in particular yet

[2021-06-28 03:02] stupidtools commented on #371
@fdelacruzsoto I found a work around, but it might not work depending on your payment flow.  I'm trying to store credit cards during a checkout process (in which the user is buying something, not sure storing the card for future use), and then I want to keep them on file so that I can charge them again in the future.  In this case, you can use the createPaymentMethod from the useStripe hook.  The

[2021-06-28 03:08] fdelacruzsoto commented on #371
Thanks!

Our flow need to store the card first and made the charge later without the client present, I was thinking about implementing the flow you mention as a workaround, the only issue is that it probably won't work for our business requirements :(

Anyways, if we can't fix this issue at least in the next week we either are going to change to another payments provider or implement a different f

[2021-06-28 03:23] stupidtools commented on #371
You might be able to use the payment flow above for that.  In my case, I collect the card from the customer, but don't charge it for a few minutes after collecting.  After that, I charge it again when the client is not around.  You just have to make sure to pass the setup_future_usage = "off_session" param to the stripe.paymentIntents call on the server.  The biggest question is how long you can w

[2021-06-28 04:52] thorsten-stripe commented on #372
https://stripe.com/docs/payments/save-and-reuse?platform=react-native

[2021-06-28 05:03] hbole commented on #372
Thanks @thorsten-stripe :)

[2021-06-28 10:28] preflower opened #374 "Apple Pay is work in simulator, but not in real"
**Describe the bug**
when i use `useApplePay` to check is supported Apple Pay, it's return true in simulator, but return false in real;

**To Reproduce**
follow official doc steps:  https://stripe.com/docs/apple-pay?platform=react-native;
and repeatedly confirmed that the merchant ID is consistent

[2021-06-28 10:29] preflower commented on #374
i have configed StripeProvider merchantIdentifier

[2021-06-28 13:28] preflower commented on #374
Mainland China's Apple Pay is not supported...
After I switch to the foreign bank card, it's worked

[2021-06-28 13:28] #374 closed

[2021-06-28 13:39] NikolaP93 opened #375 "Payment Option undefined when calling initPaymentSheet , presentPaymentSheet not working?"
**Describe the bug**
A clear and concise description of what the bug is.

I would like to display the prebuilt payment sheet

**To Reproduce**
I wrapped my whole app with the Stripe provider, and gave it my publishableKey like so:

`  <StripeProvider publishableKey="mypublishabletestkey">
        <App/>
      </StripeProvider>`

And in the App I have

`
const result = await initPaymentSheet({

[2021-06-28 15:52] thorsten-stripe commented on #375
Please provide your library and RN versions and which devices you're testing on.

But it's very likely this https://github.com/stripe/stripe-react-native/issues/290#issuecomment-852774950

Do reopen the issue if that doesn't resolve it. Thanks.

[2021-06-28 15:52] #375 closed

[2021-06-28 17:32] cruzach commented on #370
I can confirm that the example works when you run it locally (not via a Snack), and pass `urlScheme: Linking.createURL('') + '/--/'` into `initStripe`

[2021-06-28 18:06] shanutthankachan commented on #370
what will do in production @cruzach

[2021-06-28 18:19] cruzach commented on #370
https://docs.expo.io/versions/latest/sdk/linking/#linkingcreateurlpath-options

[2021-06-28 19:28] pnogier opened #376 "[Android] - Crashes on CardField press"
**Describe the bug**
Hi there, I just migrated from tipsi-stripe to stripe-react-native.
I now have a problem which seems to be related to the actual Android Stripe SDK : When I press the CardField component, the following error is thrown in my Android Studio stack trace :

[code]

**Expected behavior**
I should be able to press on the component in order to input something in it.

**Smartphone (pl

[2021-06-29 09:39] thorsten-stripe commented on #376
https://github.com/stripe/stripe-react-native/issues/348#issuecomment-863355782

[2021-06-29 09:39] #376 closed

[2021-06-29 14:27] loisestint opened #377 "Card number overlaps with the mm/yy on android - CardField component"
**Describe the bug**

This styling bug relates to the the `CardField` component on android.

On small devices or inside small containers, the `card number` part of the input overlaps with the `mm/yy` part of the input. See images below.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the `CardField` component:

[code]
2. Put it inside a `300` width container.
3. Notice how the card numbe

[2021-06-29 14:47] ghitier opened #378 "Providers urlScheme ignored when using paymentMethodId in confirmPayment (iOS)"
**Describe the bug**
When calling confirmPayment (of the useStripe hook) with the paymentMethodId option. The urlScheme of the StripeProvider is ignored. This issue is iOS only.

**To Reproduce**
Steps to reproduce the behavior:

Call confirmPayment with an existing paymentMethodId, and have your app scheme in the provider:

[code]

**Expected behavior**
The "return_url" should visible in the `POS

[2021-06-29 15:49] thorsten-stripe commented on #378
Thanks for flagging it, indeed missing it here https://github.com/stripe/stripe-react-native/blob/master/ios/StripeSdk.swift#L587

[2021-06-29 16:02] #377 closed, assigned to nobody

[2021-06-29 16:07] loisestint commented on #377
Thanks @thorsten-stripe. I think we will wait for the multi line component then.

Increasing the width of the container won't make a difference on smaller devices. They styling issue was picked up on smaller devices during our QA process.

I just changed the container size to easily reproduce the problem.

It's strange though, because iOS behaves so nicely with the small container. The card input

[2021-06-29 16:39] thorsten-stripe commented on #377
FYI @michelleb-stripe as this seems to be an Android quirk?

[2021-06-29 23:59] richkuo commented on #364
Hi,

I just completed the migration - would love to help contribute.
Are there some sample migration docs to help get started?
Thanks!

[2021-06-30 01:18] fdelacruzsoto commented on #371
@thorsten-stripe I found the root cause for the error.

For some reason whenever I call `confirmSetupIntent` from my js code it calls the `onDropViewInstance` (android) and `onDidDestroyViewInstance` (iOS) on the native code, which removes the existing instance from the map you are using on both platforms to keep the instance reference.

I commented these both lines in both platforms and it works

[2021-06-30 02:06] carlosq-ordering opened #380 "JSON value '<null>' of type NSNull cannot be converted to NSString"
**Describe the bug**
The app shows this message after create a card

`JSON value '<null>' of type NSNull cannot be converted to NSString`

any idea?

[2021-06-30 07:46] smeetagrawal commented on #345
Hi, I want to create custom input for card number, expiry date and cvc number. Is it possible to create it using stripe-react-native package.

Right now I am using cardfield for getting information from users in our app.

[2021-06-30 08:50] 034502219988 commented on #83
@bg-stripe  hi. when will this be released?

[2021-06-30 10:18] naishadh-hyperspace opened #381 "is this library having createTokenWithCard method for token generation?"
is this library having `createTokenWithCard` method for token generation like tipsi-stripe having this feature?

[2021-06-30 12:31] Sunhat opened #382 "Customisations for fields"
**Is your feature request related to a problem? Please describe.**
Hi - The current CardField is not very user friendly, hides the long card number and throws the post code off screen. Is there are chance of getting a more traditional layout?

**Describe the solution you'd like**
Long card number, cvv and expiry as separate fields,
ideally able to place other fields like country in between the fie

[2021-06-30 14:59] Devon66h opened #383 "Apple Pay - "Payment not Complete""
I am able to run through test payments with Apple Pay in simulators, although it's when I try it on a physical device is where I run into issues.

The error that's returned from `presentApplePay()` just says "Error: Payment not Complete".

Here is my code that initiates the purchase. It never makes it past `presentApplePay()` block.

Also check out screenshot below.

Any idea why this may be happe

[2021-06-30 15:56] raldred opened #384 "[iOS] StripeProvider will cause watchdog crash if publishableKey and merchantIdentifier are null in archived released"
**Describe the bug**
A app that is archived and rolled out for distribution will crashing during boot when using the `<StripeProvider>`
If the `publishableKey` and `merchantIdentifier` are null

It causes a WatchdogEvent on the main thread during scene-create

*This happened due to an error is our build pipeline which did not define the config for these props
Please close if this is intended behav

[2021-06-30 17:42] salehshah commented on #341
any update to this? facing the same issue.

[2021-06-30 18:04] #383 closed

[2021-07-01 02:33] paulasjes-stripe commented on #381
Tokens are a legacy integration path and aren't supported with this library. Please upgrade to use PaymentMethods instead: https://stripe.com/docs/payments/accept-a-payment-synchronously?platform=react-native#react-native-collect-card-details

[2021-07-01 02:33] #381 closed

[2021-07-01 05:39] arekkubaczkowski commented on #339
@vaibhavcis2912 are you still facing above issue?

[2021-07-01 05:41] arekkubaczkowski commented on #340
@EinarHm @mrkp have you managed to solve above issue or you still need help with this?

[2021-07-01 05:48] arekkubaczkowski commented on #352
@Avinashjain881 Have you tried to update RN version? Are you still facing this issue?

[2021-07-01 05:51] arekkubaczkowski commented on #359
@TiagoX9 can you provide some piece of your code, to help us find and remove the cause?

[2021-07-01 06:47] arekkubaczkowski commented on #362
@bg-stripe
it seems that stripe-ios doesn't provide enough information in this specific case:
[code]
there are missing keys like `com.stripe.lib:DeclineCodeKey`, `com.stripe.lib:StripeErrorCodeKey`, `com.stripe.lib:StripeErrorTypeKey`

cc @thorsten-stripe

[2021-07-01 07:25] arekkubaczkowski commented on #371
@fdelacruzsoto have you had a chance to verify if it's related with react native navigation library?
if not I can help you with that but please provide code snippet which contains also navigation configuration.

[2021-07-01 09:25] Sunhat commented on #371
tipsi-stripe deprecated, stripe RN doesn't appear fit for use at current. Blocking app development globally?

[2021-07-01 09:28] Sunhat commented on #350
Any luck here @fdelacruzsoto ?

[2021-07-01 09:38] arekkubaczkowski commented on #371
@Sunhat what you mean? Are you facing the same issue? If so, please provide repro steps and I'll try to help you.

[2021-07-01 10:48] seamive commented on #272
Does this work with JDK 15?
We just updated to
[code]

Seems to break the change with errors
[code]

[2021-07-01 10:49] seamive opened #385 "[Question] JDK 15 or Java Support | Running Android"
Does this work with JDK 15?
We just updated to
[code]

Seems to break the change with errors
[code]

[2021-07-01 11:41] Sunhat opened #386 "Hot reloading"
Hot reloading in react native dev env empties CardField details

[2021-07-01 11:58] seamive commented on #170
https://github.com/stripe/stripe-react-native/issues/385

[2021-07-01 12:25] seamive commented on #272
Reference To JDK 15: https://github.com/stripe/stripe-react-native/issues/385

[2021-07-01 13:27] umerchaudhary34 opened #387 "Installation issue in IOS"
I'm trying to open this package in IOS and having issues while building a project in xcode.In android its working fine but I'm unable to run it in IOS.I'm using MacBook m1 air. I've also tried a file.swift file but It didn't work either.

Issues I'm facing in IOS are:
- Undefined symbol: type metadata accessor for (extension in Foundation):__C.NSOperationQueue.SchedulerTimeType
- Undefined symbol:

[2021-07-01 13:32] mrkp commented on #340
Can't remember what I changed exactly but it was because the external environment of the examples folder wasn't installed correctly. If you need help I can walk you through

[2021-07-01 13:45] arekkubaczkowski commented on #387
@umerchaudhary34 please follow troubleshooting section https://github.com/stripe/stripe-react-native#troubleshooting

[2021-07-01 13:47] arekkubaczkowski commented on #340
@mrkp  actually I just wanted to help but would appreciate if you could share the solution with other folks facing this issue

[2021-07-01 14:16] vaibhavcis2912 commented on #339
Yes I am still facing the same issue

[2021-07-01 15:57] thorsten-stripe commented on #386
That seems fine.

[2021-07-01 15:57] #386 closed

[2021-07-01 15:59] thorsten-stripe commented on #380
Please use the bug report template and provide the necessary information prompted there to help us debug this: https://github.com/stripe/stripe-react-native/issues/new?assignees=&labels=&template=bug_report.md&title=

[2021-07-01 15:59] #380 closed

[2021-07-01 16:01] thorsten-stripe commented on #382
Component with separate fields is being tracked here: https://github.com/stripe/stripe-react-native/issues/83

[2021-07-01 16:01] #382 closed

[2021-07-02 01:50] fdelacruzsoto commented on #371
@arekkubaczkowski the current configuration for the project is a bit complex but I can give you some steps of what I did to get to the screen with the card component.

- Install wix react native navigation.
- Set up the bottom tabs navigation pattern with at least two screens.
- In one of those screens, use the push screen method to open a screen that will display the card component.
- Create the

[2021-07-02 06:14] jbpineiroc opened #388 "Set up future payments - [parameter_unknown - client_secret]"
I am following the https://stripe.com/docs/payments/save-and-reuse documentation in order to save a card for a later charge. When I call the confirmSetupIntent hook I get an error from the API "parameter_unknown - client_secret"
I found that the requested endpoint doesn't support those parameters in API documentation https://stripe.com/docs/api/setup_intents/confirm?lang=curl

[code]

![stripe](ht

[2021-07-02 07:30] arekkubaczkowski commented on #339
@vaibhavcis2912 have you followed all of troubleshooting steps from README? https://github.com/stripe/stripe-react-native#troubleshooting

[2021-07-02 07:31] #340 closed

[2021-07-02 07:47] arekkubaczkowski commented on #368
Which version of library do you use?
https://github.com/stripe/stripe-react-native/blob/master/ios/Mappers.swift#L824
`convertDateToUnixTimestamp` returns string so it should be consistent with the rest of cases

[2021-07-02 07:48] arekkubaczkowski commented on #368
@jonasbark ok I guess you meant that on ios 'created` is a string but on android is `int` right?

[2021-07-02 08:23] aganov opened #391 "CardField crash the app with EXC_BAD_ACCESS on iOS 13.*"
**Describe the bug**
`<CardField />` cause a crash if field is not completed when focused previously and got unmounted later on. Happens only on iOS 12

**To Reproduce**
Steps to reproduce the behavior:
1. Create navigation stack with react-navigation
2. Add `<CardField />` component
3. Focus on CardField without enter anything
4. Go back `navigation.goBack`
5. Navigate to the screen with `CardFie

[2021-07-02 09:36] HQDung opened #393 "expo: "CardField" was not found in the UIManager."
**Describe the bug**
Im trying to integrate stripe with Expo, and I got this issue.

**To Reproduce**
Steps to reproduce the behavior:
expo version : 40.0.1
stripe-react-native: 0.1.4

Here is my code (just copy the example):
[code]
**Expected behavior**
CardField showed up

**Screenshots**
<img width="517" alt="Screen Shot 2021-07-02 at 16 24 23" src="https://user-images.githubusercontent.com/984

[2021-07-02 09:39] arekkubaczkowski commented on #393
https://github.com/stripe/stripe-react-native/issues/363#issuecomment-866142212

[2021-07-02 09:40] #393 closed

[2021-07-02 11:10] kperdomo1 opened #396 "Can't programatically close the keyboard"
**Describe the bug**
Unable to close the keyboard using ReactNative's [Keyboard.dismiss()](https://reactnative.dev/docs/keyboard#dismiss) when `CardField` has focus.

In my use case, I want to close the keyboard programatically once user finished providing all card details.
[code]

**To Reproduce**
1. Use `CardField` component.
2. Provide all card details
3. Programatically dismiss the keyboard
4.

[2021-07-02 11:56] arekkubaczkowski commented on #396
https://github.com/stripe/stripe-react-native/pull/337 it will be available from the next release

[2021-07-02 12:16] kperdomo1 commented on #396
great news, thanks @arekkubaczkowski :) are you able to share any ETA for next release?

[2021-07-02 12:35] jackbridger commented on #350
I'm also experiencing the same issue

[2021-07-02 12:37] umerchaudhary34 commented on #387
@arekkubaczkowski still having the same issue.
I've removed all the swift entries and created Fix.swift file but still same error showing.

[2021-07-02 14:45] pablogdcr opened #397 "[Android] Cannot find a parameter with this name: returnUrl"
**Describe the bug**
When building on Android (`react-native run-android`), it fails with the error below:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install the library
2. Run the build on Android
3. See the error

**Expected behavior**
Build and run on Android

**Desktop (please complete the following information):**
 - OS: macOS Big Sur
 - Version 11.4

[2021-07-02 14:59] jackbridger commented on #371
I believe I'm having the same/similar issue when trying to call confirmPayment

[code]
_Note: have removed some non-essential code e.g. styling_

The error coming back is:

[code]

Whatever I put into confirmPayment, I seem to get this same error back.

Thank you!

[2021-07-04 06:44] prox2 opened #399 "Customer objects and data in server"
Hi everyone,
I am new to stripe in general and I feel so confused about how stripe is handling the customers objects, for example in my app  I am using payemnt-sheet api to fetch the customer data before proceeding with the payment as in front-end will be something like this:
[code]

and in the backend as in the example folder is doing something like:

[code]
so the ai call is returning  customer

[2021-07-04 14:24] #399 closed

[2021-07-05 05:50] prox2 commented on #371
I am having the same issue as well !! :)

[2021-07-05 05:57] yayjkCC commented on #314
Can you please re open this? I am facing the same issue

[2021-07-05 06:23] prox2 commented on #371
OKAY, so finally worked for me and what i did was the following:
I have changed the page extension to `type script (tsx)`  instead of `javascript(js)`
i have specified the type of billing  `billingDetails` same as stated in example which to be something like:
[code]
and after success result or fail must re-render to call initiate stripe again or will throw an error in case for example first attemp

[2021-07-05 09:29] bill-pairaktaridis opened #400 "Stripe equivalent for `openNativePaySetup` from `tipsi-stripe`"
`tipsi-stripe`, from which we are migrating, had a method called `openNativePaySetup` which allowed us to open Apple Wallet from within our app, in case the user hadn't set it up (seen here: https://github.com/tipsi/tipsi-stripe/blob/2e777c704bd00833fa1642035b03886049563846/src/Stripe.js#L232).

**Describe the solution you'd like**
We would like to have a method or way to do the same, as well as t

[2021-07-05 09:38] bill-pairaktaridis opened #401 "Ability to add payment methods and native Apple Pay outside of a component"
**Is your feature request related to a problem? Please describe.**
If I'm understanding the documentation and examples correctly, right now the payment method flow (get/create setup intent, create payment method, submit payment method to API) all needs to happen within the same component as the calling component. Meaning, it all needs to happen within the same component as `<CardField />` or `<App

[2021-07-05 11:03] idcuesta commented on #371
## Background
We are in the process of migrating from [tipsi-stripe](https://github.com/tipsi/tipsi-stripe) to official react native library now due to Google Play Store not allowing anymore the version of stripe used by tipsi.

When migrating code, we have followed these steps:

- When creating a new payment method (user adds a new card), we open a modal screen to capture payment method. We have

[2021-07-05 13:44] prox2 commented on #371
so how to over come this issue?  @idcuesta

[2021-07-06 05:52] tantommy opened #402 "Allow passing metadata to confirmSetupIntent"
**Is your feature request related to a problem? Please describe.**
Currently, `confirmSetupIntent` does not allow us to pass `metadata` per https://github.com/stripe/stripe-react-native/blob/3378e6f24d92accfff4b6b8d66ae764561ba470b/src/types/SetupIntent.ts#L23.  `metadata` is part of the `SetupIntent` object and the Stripe api allows us to set it as well, for example, https://stripe.com/docs/api/s

[2021-07-06 08:17] idcuesta commented on #371
@prox2 I have just created a PR with the fixes we did to get our flows working.

[2021-07-06 08:47] ducNgbk commented on #350
Same here, when I call
[code]
then in **StripeSdk.swift**, `cardFieldView.cardParams` is **nil**
[code]

[2021-07-06 13:14] thorsten-stripe commented on #402
Confirming a SetupIntent with a publishable key does not allow passing of metadata. Please pass metadata on the server-side when creating or updating the SetupIntent.

[2021-07-06 13:14] #402 closed

[2021-07-06 13:22] thorsten-stripe commented on #401
It does not need to be called within the same component, the requirement is rather that the `CardField` component needs to be mounted at the time of calling `confirmPayment` or `createPaymentMethod` etc.

We traverse the view stack and find the CardField, so as long as it is visible and filled in we are able to extract the card details.

[2021-07-06 13:22] #401 closed

[2021-07-06 15:33] bill-pairaktaridis commented on #401
@thorsten-stripe thanks! Would be great if a note about this could be added to the docs because right now it's not clear how it all works.

[2021-07-06 19:59] tgensol commented on #83
@thorsten-stripe, any idea when that could come to RN ? That the main missing feature that prevents me from using stripe-react-native over tipsi-stripe

Thanks ☺️

[2021-07-06 23:16] harbolaez commented on #335
Hi @thorsten-stripe any update on above? Thanks!

[2021-07-07 06:21] thevishnupradeep opened #404 "Missing methods to handle errors on apple pay."
**Is your feature request related to a problem? Please describe.**
I am unable to find any methods to cancel apple pay in case of an error. If we pass anything other than proper clientSecret to `confirmApplePayPayment` the whole app crashes. Am I missing

**Describe the solution you'd like**
A new method like `cancelApplePayPrompt` should be enough.

[2021-07-07 12:20] nicolasdet commented on #383
Hello @Devon66h, i have the same issue, did you find the solution to "payment not completed" erorr ?

[2021-07-07 12:29] umerchaudhary34 commented on #387
@thorsten-stripe can you help me with that ? I'm still having the same issue after making changes from troubleshoot section.

[2021-07-07 13:43] thorsten-stripe commented on #404
To show an error in the apple pay sheet you need to use the callback handler, e.g. https://stripe.dev/stripe-react-native/api-reference/interfaces/useapplepayprops.html#onshippingcontactselected

There is no way to close the Apple Pay sheet programmatically.

[2021-07-07 13:43] #404 closed

[2021-07-07 14:55] thorsten-stripe commented on #371
Tokens are considered legacy, you should call `confirmSetupIntent` here instead rather than creating a token.

Here you should confirm the PaymentIntent server-side using the selected payment method ID. If you already have a list of setup payment methods for the customer, you don't need a SetupIntent at this point.

[2021-07-07 14:58] #378 closed

[2021-07-07 14:59] #367 closed

[2021-07-07 15:40] Sotatek-AnNguyen3 opened #405 "[Android] `createToken` not handling incorrect numbers"
**Describe the bug**
when i input bank number into cardfield number on Android it's pass , no error (ios show error number red color but not android) then when i create token with that number , my app got crash

**To Reproduce**
Steps to reproduce the behavior:
1. Go to number field in card field
2. input bank number
3. See error

**Expected behavior**
the bank number will change to red color - me

[2021-07-07 15:41] carl0shd opened #406 "Ability to setParams to the CardInput component"
**Is your feature request related to a problem? Please describe.**
I want to pass certain values to the CardInput to create a functionality (Scan the card and pass the data to the cardInput).

**Describe the solution you'd like**
Expose a method `setParams` through a reference like tipsi-stripe does.
https://tipsi.github.io/tipsi-stripe/docs/paymentcardtextfield.html#instance-methods-available-via

[2021-07-07 15:52] aganov commented on #391
We start to receive similar crash reports from the production app. I'm not 100% confident that this is coming from Stripe lib, but those kinds of issues started to pop after migration from tipsi-stripe. Breadcrumb shows that every crash came after `popToTop` from screen with <CardField /> component.

[code]

[2021-07-07 16:39] german2114 commented on #350
Same issue, any workaround? This issue should be opened

[2021-07-07 16:56] mrmoon-develop commented on #350
I had to go back to v0.1.2 to make it works.

[2021-07-08 00:49] riordanpawley commented on #371
I have exactly the same issue

[2021-07-08 01:57] jbpineiroc commented on #388
I was trying to confirm the payment with the publishable key: the pk_test publishable key should be in the client, and the sk_test secret key should go on the server.

[2021-07-08 01:57] #388 closed

[2021-07-08 03:35] fdelacruzsoto commented on #371
@thorsten-stripe @arekkubaczkowski any chance you are looking into this issue? It seems a lot of people is facing the same problem, and I already give you guys steps to reproduce the error.

My company is close to launching our apps and we heavily depend on this, so this is becoming a major blocking for us.

We can get into a call and I can give you details if that helps.

We really need this to g

[2021-07-08 08:07] thevishnupradeep commented on #404
`tipsi-stripe` managed to do it on their [library](https://tipsi.github.io/tipsi-stripe/docs/cancelNativePayRequest.html). May be we could apply the same logic here?

[2021-07-08 08:12] thevishnupradeep commented on #404
This seems to be how they are doing it.
[code]

[2021-07-08 09:53] aganov commented on #391
Removing `removeFromSuperview` from `CardFieldView` seems to fix the crash on iOS 12.4 and I'm suspecting that deallocation is not done properly or something. @thorsten-stripe can you help with this issue. It cause our app to randomly crash on 10-15% of the payments in production...

[code]

[2021-07-08 11:49] Noolie opened #407 "No possibility to set metadata for "createPaymentMethod" method"
**Describe the bug**
No possibility to set metadata for "createPaymentMethod" method.
For my case it was a try to set default payment method on new payment method creation.

**To Reproduce**
[code]

**Smartphone (please complete the following information):**
 - Device: any
 - OS: any
 - Stripe version: ^0.1.4

[2021-07-09 00:13] LPGuidetti commented on #362
Yep I'm running into the exact same issue. I'm following the [SetupFuturePayment](https://stripe.com/docs/payments/save-and-reuse?platform=react-native#react-native-create-customer) documentation word for word but when I get around to testing the different cards and their failure types I'm consistently getting `"lastPaymentError": null`. This is a bummer because the whole recovery flow is based on

[2021-07-09 06:59] JJK801 opened #408 "`createToken` return doesn't fit Typescript"
**Describe the bug**
When using `createToken` method, `token` and `error` properties are wrapped in an extra `token` property

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
this function should return as expected in typescript.

[2021-07-09 08:14] thorsten-stripe commented on #408
Duplicate of https://github.com/stripe/stripe-react-native/issues/344

The fix will roll out in the next release.

[2021-07-09 08:14] #408 closed

[2021-07-09 17:45] jheslop25 commented on #371
@thorsten-stripe So this is the problem that we are running into. In our case we are launching in the UK so we will need 3D secure. From our reading of the docs it seems like confirming the payment intent server side is not going to work with 3Dsecure.

For background we are migrating from tipsi (like basically everyone else). Our workflow is a bit more complicated than normal because we are build

[2021-07-09 20:26] JJK801 opened #409 "`handleCardAction` thows on fail instead of returning error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
[code]
1/ trigger a 3D Secure using test card
2/ Fail the authorization
3/ returned error is undefined and the error is thrown

**Expected behavior**
Return the error as the other functions

[2021-07-09 20:40] JJK801 commented on #409
weird, it seems that it's sometimes returned and sometimes thrown...

i had to wrap it all in a try / catch and throw error in it when it's returned to cover any cases

[2021-07-10 15:43] jimhill opened #410 "An event for Apple Pay cancel"
**Is your feature request related to a problem? Please describe.**
When using `presentApplePay` to open the Apple Pay sheet, when a user cancels there is no event.

**Describe the solution you'd like**
It would be incredibly helpful to have an event that can be listened to for when a user dismisses the Apple Pay sheet.

**Describe alternatives you've considered**
None

[2021-07-11 08:11] Brechard commented on #387
I am having the same issue, @arekkubaczkowski that solution didnt work

[2021-07-11 08:53] jspauld commented on #371
I'm using react-navigation and was able to work around this issue by moving the credit card screen from a modal stack navigator

``` <Stack.Navigator mode="modal"> ```

to a normal one

``` <Stack.Navigator> ```

No "Card details not complete" error after this

[2021-07-11 22:30] qrosakee opened #411 "OpenPaymentSheet crashes"
**Describe the bug**
Crashes when I trying to open the example payscreen from a modal.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy the code on https://stripe.com/docs/payments/accept-a-payment?platform=react-native&ui=payment-sheet
2. Instead of attaching `openPaymentSheet()` to the button, replace it with a state change `openModal(true)`
3. Add a modal like below with a button that

[2021-07-12 05:49] saxenanihal95 opened #412 "Show save card for future payment in Payment Sheet"
**Describe the bug**
In Payment Sheet documentation: https://stripe.com/docs/payments/accept-a-payment?platform=react-native&ui=payment-sheet, in screenshot which shows checkbox **save card for future payments**, but when i open the payment sheet there is no checkbox for **save card for future payments**,

**To Reproduce**
Steps to reproduce the behavior:
1. Initialise payment sheet:

[code]
2. Ch

[2021-07-12 06:11] thorsten-stripe commented on #412
In order for the save card option to show up the `customerEphemeralKeySecret` secret needs to be provided: https://github.com/stripe/stripe-react-native/blob/master/example/src/screens/PaymentsUICompleteScreen.tsx#L55-L66

[2021-07-12 06:11] #412 closed

[2021-07-12 06:32] thorsten-stripe commented on #411
This has been fixed here https://github.com/stripe/stripe-react-native/pull/366 and will be available in the next release. If you need it earlier you can build and install the master branch locally: https://github.com/stripe/stripe-react-native/blob/master/CONTRIBUTING.md#install-library-as-local-repository

[2021-07-12 06:32] #411 closed

[2021-07-12 06:42] thorsten-stripe commented on #410
`presentApplePay` resolves with an `error` object for this case:

[code]

[2021-07-12 06:42] #410 closed

[2021-07-12 07:02] #315 closed

[2021-07-12 07:02] thorsten-stripe commented on #371
@fdelacruzsoto can you please try https://github.com/stripe/stripe-react-native/issues/371#issuecomment-877764806

@jheslop25

When you already have a payment method ID you should create the PaymentIntent with said method and `confirm:true` and only call `confirmPayment` on the client if needed. That way you minimize the amount of API calls needed. See the docs: https://stripe.com/docs/payments/sa

[2021-07-12 07:26] thorsten-stripe commented on #409
How are you importing the library? How are you setting `this._stripe`?

I think you might be importing `NativeStripeSDK` rather than the top level functions.

[2021-07-12 07:32] jimhill commented on #410
Sorry @thorsten-stripe. That makes sense. Thank you.

[2021-07-12 07:44] thorsten-stripe commented on #407
Metadata is not meant to be set on the client-side. Can you outline your use case more and we can make a recommendation how to best handle this.

[2021-07-12 07:44] #407 closed

[2021-07-12 07:46] thorsten-stripe commented on #406
https://github.com/stripe/stripe-react-native/issues/263

[2021-07-12 07:46] #406 closed

[2021-07-12 11:50] JJK801 commented on #409
there is some legacy code in our app, so i actually inject `useStripe` return in the class constructor while waiting for a rework on this code.

We just migrated from tipsi so we had to make some withdrawals to do it fast.

[2021-07-12 11:57] #368 closed

[2021-07-12 13:05] dimgrav commented on #387
All such entries are added by the var `$(inherited)`, please update the README file.

[2021-07-12 13:24] thorsten-stripe commented on #397
@PabloGiraudCarrier can you provide your code? Does it build fine on iOS?

[2021-07-12 13:26] thorsten-stripe commented on #396
Next release will be later this week. If you need it earlier you can build and install the master branch locally: https://github.com/stripe/stripe-react-native/blob/master/CONTRIBUTING.md#install-library-as-local-repository

[2021-07-12 13:26] #396 closed

[2021-07-12 15:09] jheslop25 commented on #371
@thorsten-stripe Thanks! We managed to sort it out. It took a few hours of bending our heads around the docs, but we got it. I think the confusion came from the fact that calling confirmPaymentIntent() from the client-side was a bit of a useful hack in the old libraries, but not the standard workflow. As far as I can tell stripe intends for the payment intent to be confirmed from the server and on

[2021-07-12 22:21] gslitt91 opened #413 "Is it possible with stripe v3 to have masked credit card information?"
Is it possible with stripe v3 to have masked credit card information?
Only last 4 digits should be visible.
************4242
At least is there a way to mask all digits?

[2021-07-12 22:38] cerezagroup opened #414 "Separate the fields to be used in a customized UI."
From what I've seen now you can only use the <Card Field /> component to enter the card information.
Is there a way to separate the fields of the card? by way of using them a personalized interface of the card input.

I have not found the solution in the current version,

you could put the fields manually at the end when the payment is to be confirmed,

something like:

confirmPayment: (paymentInt

[2021-07-12 23:38] cerezagroup commented on #414
Apparently, that for security reasons is not recommended, due to the issue of data sensitivity,

Someone to get me out of doubt?

[2021-07-13 00:02] trex-quo commented on #414
I believe that the team added this feature in the last release, although you are correct about it not being recommended.

https://github.com/stripe/stripe-react-native/pull/306

[2021-07-13 00:06] fdelacruzsoto commented on #371
@thorsten-stripe as I said before, we are using wix react native navigation, not react-navigation

[2021-07-13 00:10] cerezagroup commented on #414
Thanks, I'll take a look at it.

[2021-07-13 00:53] cerezagroup commented on #414
@tex-quo clarify something for me please. I do not know if your comment is on track with the following:

I need set the fields, separately , i have an inteface like bellow,

![Captura de pantalla 2021-07-12 192409](https://user-images.githubusercontent.com/73009730/125371646-cd820c00-e346-11eb-8876-af8d2bc43937.png)

and the only option that I think stripe provides for me to enter the card data is

[2021-07-13 02:19] Sotatek-AnNguyen3 commented on #405
here is my test number 9704231300893972. I'm using CardField on android and input this number but got crash app event i put try catch when i call createToken

![Screen Shot 2021-07-13 at 09 19 16](https://user-images.githubusercontent.com/61266900/125379814-66eb0580-e3bb-11eb-81c6-0f0664127528.png)

[2021-07-13 05:18] thorsten-stripe commented on #414
Custom card input fields are not supported due to PCI compliance requirements: https://stripe.com/docs/security/guide#validating-pci-compliance

Work on split fields is tracked here: https://github.com/stripe/stripe-react-native/issues/83

[2021-07-13 05:18] #414 closed

[2021-07-13 05:21] thorsten-stripe commented on #83
This is actively being worked on and we're hoping to release it by the end of the month.

[2021-07-13 05:22] thorsten-stripe commented on #413
There is not as this is prone to incorrect input.

[2021-07-13 05:22] #413 closed

[2021-07-13 05:26] thorsten-stripe commented on #409
Okay, sounds like this is an issue with your specific integration, not the library per se. As you can see, the function does never throw but always return: https://github.com/stripe/stripe-react-native/blob/master/src/functions.ts#L228-L248

[2021-07-13 05:26] #409 closed

[2021-07-13 05:34] thorsten-stripe commented on #405
I'm able to reproduce this. Thanks for reporting @Sotatek-AnNguyen3

[2021-07-13 05:45] thorsten-stripe commented on #362
On iOS this information is not directly returned in the error object. You will need to call `retrievePaymentIntent` to access `lastPaymentError`.

[2021-07-13 05:48] thorsten-stripe commented on #352
Closing due to inactivity.

[2021-07-13 05:48] #352 closed

[2021-07-13 05:50] Sotatek-AnNguyen3 commented on #405
@thorsten-stripe
this problem also happen if you enter wrong year exp example : 99 , it's will make app crash . And when i input mounth and year exp then input cvc then i re-input mounth and year exp , CardField won't recognize the new value . thank you very much sir .

[2021-07-13 06:07] souhe commented on #384
@raldred `StripeProvider` does not render its children when the `publishableKey` prop is null. This is probably why Watchdog thinks the app is not rendered and terminates it after some time.

I believe we can support some testing scenarios with `publishableKey` being null. Payments won't be available in this case but the app will be rendered so everything else except payments will be ready to test

[2021-07-13 06:22] aganov commented on #391
We've created example app https://github.com/aganov/stripe-rn-ca-mask-crash containing just `react-navigation` and `stripe-react-native` it crashes with `EXC_BAD_ACCESS` on `CA::Layer::mask()` **every** time you go back from the screen containing `<CardField />` Please note that crash happens only on `iOS 13.*` like our production app.

https://user-images.githubusercontent.com/176610/125401219-8d

[2021-07-13 07:40] Avinashjain881 commented on #352
Yes after updating the RN version it worked.

[2021-07-13 08:19] thorsten-stripe commented on #384
Thanks @souhe, I'll add this to the backlog. Could alternatively setting `publishableKey` in the `StripeProvider` to an empty string work?

[2021-07-13 09:04] aganov commented on #391
Ok getting rid of strange `cardFieldMap` and cleaning up delegate stuff seems to fix the issue

[code]

Also I've added

[code]

to `CardFieldView` class and seems the `CardFieldView` is properly deallocated after unmount (stack navigation pop).

But now obviously `StripeSdk` methods won't be able to work without proper implementation of `getCardFieldReference`

@thorsten-stripe @arekkubaczkowski

[2021-07-13 10:31] PabloGiraudCarrier commented on #397
Hi, it builds fine on IOS yes.
I just created an app from scratch (`react-native init Test`), installed the library (`npm i @stripe/stripe-react-native`)
And then build (`react-native run-android`)

[code]

[2021-07-13 10:38] aganov commented on #391
@arekkubaczkowski Thanks for the update. Just an idea: Since now we have `CardField` `ref` we can pass it to `createPaymentMethod`

[code]

[code]

[code]

or smth like this.

[2021-07-13 10:44] arekkubaczkowski commented on #391
@aganov  thanks for suggestion but we need an access to the card field params synchronously, RN bridge is async for now (until we don't use turbomodules)

[2021-07-13 10:45] umerchaudhary34 commented on #387
can you explain that which var should be added in $(inherited) @dimgrav ?

[2021-07-13 10:58] 034502219988 commented on #83
ok thanks.

On Tue, Jul 13, 2021 at 10:21 AM Thor 雷神 ***@***.***> wrote:

[2021-07-13 11:08] dimgrav commented on #387
@umerchaudhary34 no need to add anything and don't bother with Xcode, search for `LIBRARY_PATH_SEARCH` inside `buildSettings` in `project.pbxproj` and remove any Swift references from there.

[2021-07-13 11:14] souhe commented on #384
Unfortunately using empty string will not change anything @thorsten-stripe

[2021-07-13 11:23] ShoneGT commented on #387
I have the same issue. @dimgrav I did that but I still get the same error... Any ideas? Thanks

[2021-07-13 11:26] arekkubaczkowski commented on #387
@ShoneGT @umerchaudhary34  @Brechard  can you make sure that you have `platform :ios' in Podfile consistent with this from xcode?
<img width="644" alt="Zrzut ekranu 2021-07-13 o 13 25 50" src="https://user-images.githubusercontent.com/18654447/125443957-e4c01b6a-234c-4587-92cb-d1088f662e3c.png">

[2021-07-13 11:48] ShoneGT commented on #387
Damn, that was the issue... Thank you @arekkubaczkowski you saved me! :)

[2021-07-13 11:53] PabloGiraudCarrier commented on #397
I've tested it on another computer and it builds.
However, instead of the error `Cannot find a parameter with this name: returnUrl`, I still have a warning saying that the parameter returnUrl is deprecated and that it will be removed in the next major version.

[2021-07-13 14:29] michelleb-stripe commented on #355
@aanalmehta-sa and @vipu-sa and @konstantinmv

In your manifest file you will have a single activity that has an intent filter of category: `android.intent.category.LAUNCHER` similar to:
[code]

Can you post the launchMode set on this activity?  I believe this might be an issue with a launchMode = singleTask.  If you use the defaultLaunch mode it might work.   (See related issue: https://github.co

[2021-07-13 14:42] michelleb-stripe commented on #185
This does intentionally change the section title colors

From the code it looks like setting the accentColor should set the spinner color.

Let me know if you are seeing anything different @arekkubaczkowski, and if there are any other parts to this issue that I am missing.

[2021-07-13 15:24] Sofianio commented on #235
@cinnabarcaracal can you please share how you fixed the SWIFT_VERSION issue?

[2021-07-13 18:05] tluber commented on #280
Same as @juanolmedogl. It would be nice to have access to the CVC field!

[2021-07-13 21:47] LPGuidetti commented on #362
@thorsten-stripe thanks for your help but that is exactly how I got the response I posted above. My code:
`const { error, paymentIntent } = await retrievePaymentIntent(clientSecret);
console.log('retrieved paymentIntent', paymentIntent)`

So I'm afraid something else must be happening.

[2021-07-14 06:25] sohamb91 opened #417 "[iOS] Undefined symbol: type metadata accessor for (extension in Foundation):__C.NSOperationQueue.SchedulerTimeType"
Ran the npm install command and then ran pod install in ios folder. The project has unity integrations and I am trying to run the project in a real device (iPhone 7). I keep getting the following errors:
**Undefined symbol: type metadata accessor for (extension in Foundation):__C.NSOperationQueue.SchedulerTimeType**

Library search path has two entries :
    ${inherited} and $(SDKROOT)/usr/lib/swi

[2021-07-14 06:29] arekkubaczkowski commented on #417
@sohamb91 https://github.com/stripe/stripe-react-native/issues/387#issuecomment-879006851

[2021-07-14 06:29] #417 closed

[2021-07-14 06:34] sohamb91 commented on #417
@arekkubaczkowski
Podfile:
<img width="274" alt="Screenshot 2021-07-14 at 12 03 37 PM" src="https://user-images.githubusercontent.com/75128071/125574437-0398c439-7033-4849-b6d2-afbbb1e7e368.png">

Deployment info on xcode:
<img width="594" alt="Screenshot 2021-07-14 at 12 04 18 PM" src="https://user-images.githubusercontent.com/75128071/125574516-3a480e39-9b7a-434c-96a1-13b1e3cf83d5.png">

[2021-07-14 06:36] arekkubaczkowski commented on #417
@sohamb91 can you paste your `Library search path` entries from Target -> build settings -> Library search path?

[2021-07-14 06:38] sohamb91 commented on #417
Project -> Build Settings -> Library Search Paths
<img width="811" alt="Screenshot 2021-07-14 at 12 07 41 PM" src="https://user-images.githubusercontent.com/75128071/125574875-3048f4bc-e716-4964-a5cc-ec7e43112c2e.png">

[2021-07-14 06:43] sohamb91 commented on #417
@arekkubaczkowski  updated the pbxproj file as well. But no luck
<img width="223" alt="Screenshot 2021-07-14 at 12 13 15 PM" src="https://user-images.githubusercontent.com/75128071/125575606-100a30ea-f9a3-4baa-a43c-539dcd982565.png">

[2021-07-14 06:44] arekkubaczkowski commented on #417
Can you try clean build folder? `Product -> clean build folder`
Please also make sure that bridging header has been created and added properly to the settings.
Let's navigate to: `**Target** -> build settings -> Objective-C bridging header` and make sure that path indicates to your previously created bridging header file

[2021-07-14 06:49] sohamb91 commented on #417
@arekkubaczkowski editing the LIBRARY_SEARCH_PATHS manually and restarting XCode works. Thank you!

[2021-07-14 06:53] arekkubaczkowski commented on #417
@sohamb91 actually editing any configurations from xCode should automatically make changes in pbxproj file since it basically the same

[2021-07-14 06:55] sohamb91 commented on #417
@arekkubaczkowski Thank you! Let's hope it does not break any of the other integrations/functionalities in the app

[2021-07-14 06:55] thorsten-stripe commented on #362
@LPGuidetti that's because the status of your PaymentIntent is `RequiresAction` so you simply need to call `handelCardAction` on it.

[2021-07-14 08:06] souhe commented on #405
Hi @Sotatek-AnNguyen3, I reproduced the issue and figured out what is wrong. We will have to fix the error handling for `createToken` function so it won't crash your app and you will be able to get the error in your code. After this fix you will be able to get the error message from `res.error.message` like with every other stripe function without the app crash.

Regarding the number validation (h

[2021-07-14 13:35] bill-pairaktaridis commented on #406
@thorsten-stripe I don't think @carl0shd is requesting to not use `<CardField />` just the ability to pre-fill values. I'd like to do the same but for test coverage.

[2021-07-14 14:47] carl0shd commented on #406
@bill-pairaktaridis @thorsten-stripe Thats correct.

[2021-07-14 17:23] Brotakuu opened #420 "PostalCode is not sent with cardDetails"
I'm following the example in [SetupFuturePaymentScreen](https://github.com/stripe/stripe-react-native/blob/master/example/src/screens/SetupFuturePaymentScreen.tsx), but I have enabled `postalCodeEnabled={true}` for better compliance.

[code]

In the example, `postalCodeEnabled` is false so the `postalCode` is set manually. But I have enabled user input for postalCode, yet the postalCode does not g

[2021-07-14 19:25] souhe commented on #397
I'm glad you managed to finally build the app @pablogdcr.

But you're right, `customUrl` was deprecated in Android SDK in version 16.8.0 for some payment methods. The information about it can be found here - https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md

@thorsten-stripe let's fix it and remove the usage of deprecated parameters since it will be removed in the future versions o

[2021-07-14 23:11] ruida-shen opened #421 "Expo build crashes on both ios and android when using stripe-react-native"
**Describe the bug**
App crashes on IOS emulator after app icon clicked (after I remove all stripe-react-native related imports, the app works fine).
On Android emulator, it crashes when the method 'createToken' is called.

Have not tested it on real devices yet, but the app is working perfectly on Expo Go(Android Expo Go still crashes when calling creatToken).

**To Reproduce**
Steps to reproduce

[2021-07-15 00:04] jaaywags commented on #9
Any update on this feature as it has been over a month? Thanks :)

[2021-07-15 02:26] mshafrir-stripe commented on #9
Thanks for checking in. We're planning to release [Stripe Android SDK v17.0.0](https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md#1700---unreleased) tomorrow, which will include `GooglePayLauncher`. `stripe-react-native` will integrate with this release version to offer Google Pay support.

[2021-07-15 02:44] jaaywags commented on #9
That's great! Thank you so much @mshafrir-stripe this  package has been great so far. I've been migrating from tipsi to this the past week and so far everything has been fairly easy to switch over. Y'all did great 😁

[2021-07-15 05:45] LPGuidetti commented on #362
@thorsten-stripe ah interesting, I did not see any mention of that in the [SetupFuturePayment example](https://github.com/stripe/stripe-react-native/issues/362#:~:text=I%27m%20following%20the-,SetupFuturePayment,-documentation%20word%20for) or [documentation](https://stripe.com/docs/payments/save-and-reuse?platform=react-native#react-native-create-payment-intent-off-session).

I have to admit I st

[2021-07-15 07:00] #405 closed

[2021-07-15 07:05] arekkubaczkowski commented on #387
closing due to inactivity, please reopen if you're still having issues

[2021-07-15 07:05] #387 closed

[2021-07-15 09:45] taimoorsultani-10p opened #423 "CardField handle validation errors"
**Is your feature request related to a problem? Please describe.**
I'm using `CardField` and `createToken` method in my application. Everything is working perfectly fine.
But I want to do customizations with `CardField`, and I'm unable to do that.

`CardField` is handling all the validations which are really great, but I also want to display errors to users, that which specific fields have issues.

[2021-07-15 09:51] taimoorsultani-10p opened #424 "CardField, design customization, multiline input."
**Is your feature request related to a problem? Please describe.**
I'm using `CardField` and `createToken` method in my application. Everything is working perfectly fine.
But I want to do customizations with `CardField` design, and I'm unable to do that.
I want to display `CardNumberInput` in a single line. Below `CardNumberInput`, `expiryDate` and `CVC` side by side.

Exactly like this. (The scre

[2021-07-15 09:54] arekkubaczkowski commented on #424
https://github.com/stripe/stripe-react-native/pull/415 this is exactly what you expect, but the name of component is `CardForm`

[2021-07-15 09:54] #424 closed

[2021-07-15 10:00] taimoorsultani-10p commented on #424
@arekkubaczkowski when it will be available? I can't see anything related to it in `0.1.5`.

[2021-07-15 10:01] arekkubaczkowski commented on #424
because work is in progress, it will be probably available around 15 August

[2021-07-15 10:10] taimoorsultani-10p commented on #424
Okay. Sounds good.

[2021-07-15 11:46] pablogdcr commented on #397
Unfortunately, I'm still not able to build on my current computer.
The only difference that I can see between my two computers is the version of node that I'm using (16.4.2 on this computer, 16.1.0 on the computer where the build succeed).

Can the error be due to this?
I don't understand why I have this build error when the error is related to the Android SDK, which does not depend on the compute

[2021-07-15 13:22] tluber opened #425 "Access CVC number in onCardChange callback"
In relation with issue #280, we need access to the CVC value since we are only using `CardField` component to collect data and then calling Stripe API directly.

**Describe the solution you'd like**
Expose CVC value when `dangerouslyGetFullCardDetails` is set to true (like with the card number).

Thanks!
Tomas.

[2021-07-15 14:29] nicolegros opened #426 "[Android] confirmSetupIntent - Exception in native call from JS"
**Description**
When calling `confirmSetupIntent`, the app crashes with the error displayed in the screenshot below.

**To Reproduce**
Steps to reproduce the behavior:
1. Fill the `<CardField/>` (4242 4242 4242 4242 - 02/25 - 345)
2. Save
3. See error

**Screenshots**
![Screenshot_20210715-085038](https://user-images.githubusercontent.com/23622435/125803683-099229a4-73cd-45cd-a6da-e69810af0f36.png

[2021-07-15 17:14] nihedjaz opened #427 "createToken - Account type is not supported yet"
**Describe the bug**
I am trying to implement the dependency's createToken function. In the params argument I have passed a type.

When I call the createToken function like so:
await createToken({ type: 'Account' });

I get the returned error:
Account type is not supported yet

**Additional context**
stripe-react-native version: "@stripe/stripe-react-native": "^0.1.4",

Please let me know what kin

[2021-07-16 03:09] kyapwc opened #428 "presentApplePay onPress background creates unhandled-able error"
**Describe the bug**
By using the `presentApplePay` method, it was fine when I clicked on `cancel` button on the modal. However, if I press on the background, my payment will be logged, but not shown in the stripe dashboard, so I cant cancel it. Furthermore, the error that comes up is `Payment not completed`.

**To Reproduce**
Steps to reproduce the behavior:
1. call `presentApplePay` with appropr

[2021-07-16 09:47] thorsten-stripe commented on #362
My guess is that you're missing the `off_session:true` param, that's why your PI is in `RequiresAction` and therefore your flow deviates from the docs.
![image](https://user-images.githubusercontent.com/23213994/125928116-b37142b0-ff32-472e-a118-b10e0b7ee46e.png)

[2021-07-16 09:59] kperdomo1 opened #429 "[Android] `onBlur` closes the keyboard but doesn't remove focus on input"
**Describe the bug**
On `v0.1.5`'s `CardField`, when executing the imperative `onBlur` method on Android it closes the keyboard successfully, but focus moves to the card number input.

The same behaviour also applies when clicking anywhere on the parent component. Keyboard closes, but focus moves to the card number input.

**It works perfectly for iOS**

**To Reproduce**
Steps to reproduce the beh

[2021-07-16 10:10] thorsten-stripe commented on #429
That's unfortunately a known limitation on Android currently.

[2021-07-16 10:19] dcx86 commented on #339
Hi,

I'm having the same exact issue.
The build works if i uninstall stripe and it breaks when stripe is installed.
`pod install` manages to install stripe no problem

I have tried the same fix and the one mentioned by @arekkubaczkowski but it didn't fix the issue.
- For me `Build Settings > Library Search Paths' is empty there is nothing there to remove
- Adding a new swift file and creating brid

[2021-07-16 10:37] thorsten-stripe opened #430 "[iOS] Add support for JCB"
Create new param called `jcbEnabled` for the `presentApplePay` options which sets

https://stripe.dev/stripe-ios/docs/Classes/StripeAPI.html#/c:@M@Stripe@objc(cs)StripeAPI(cpy)additionalEnabledApplePayNetworks

[2021-07-16 10:40] thorsten-stripe commented on #9
* upgrade stripe-android to https://github.com/stripe/stripe-android/blob/master/CHANGELOG.md#1700---2021-07-15
* docs here: https://stripe.com/docs/google-pay and example here: https://github.com/stripe/stripe-android/blob/master/example/src/main/java/com/stripe/example/activity/GooglePayLauncherIntegrationActivity.kt

[2021-07-16 10:42] kperdomo1 commented on #429
I see, thanks @thorsten-stripe .
FYI, keeping the `<StripeContainer keyboardShouldPersistTaps={false}>` and `<ScrollView keyboardShouldPersistTaps="always">` fixes this behaviour for Android when clicking outside the input.

The imperative onBlur issue still persists though.

[2021-07-16 10:43] thorsten-stripe commented on #427
Account tokens are not supported yet. For the time being please create accounts on the server side.

[2021-07-16 10:45] thorsten-stripe commented on #425
@tluber what's the reason for calling the Stripe API directly? Are you doing this from the client. For PCI compliance reason we recommend to not do that.

[2021-07-16 11:00] thorsten-stripe commented on #421
This might be https://github.com/stripe/stripe-react-native/issues/405

[2021-07-16 12:15] clusterson commented on #427
Hi! is the same for "BankAccount" ?

Thanks!

[2021-07-16 13:26] tluber commented on #425
No, sorry for the misunderstanding, we are calling it from the server. We have an endpoint to create and attach a payment method to a customer.
From Stripe API [docs](https://stripe.com/docs/api/payment_methods/create) we have:
[code]
For this reason, we need to access the CVC value, which is highly recommended that it always be included.

[2021-07-16 14:04] minh-dai commented on #328
same, I delete all in Library_Search_Path, the file has only ''$(inherited)", and create file Swift and a bridging header.

[2021-07-16 14:53] arekkubaczkowski commented on #328
@minh-dai can you try this? https://github.com/stripe/stripe-react-native/issues/387#issuecomment-879006851

[2021-07-16 15:22] LPGuidetti commented on #362
@thorsten-stripe you are spot on! I didn’t know that that flag would affect the PI response. What is the correct flow to follow if you save a card for future use but the user will be on session when it is charged later on? Kind of like Uber or Lyft? Really appreciate all the help.

[2021-07-16 16:20] jaaywags commented on #400
This may be a duplicate of issue #9

[2021-07-16 18:23] nica0012 opened #431 "Fetch customer info from stripe"
Hi all,

Right now I am able to allow my customers to make payments.

My case now is my customer subscribes to a product.

When they do this, I want to be able to show them their subscription details. The stripe API has information on this, but it seems it an only be done server side?

How can I achieve this using this library - is it even possible? I cannot seem to figure this out client side.

C

[2021-07-16 22:16] jgalianoz commented on #406
Any update with this ?

[2021-07-16 22:35] KryptKode commented on #370
This doesn't work for me. I am running locally, it doesn't close the WebView and return to the app on Expo. Can you share a snippet? Was there something else you added?

[2021-07-16 22:40] ruida-shen commented on #421
Thanks for the reply, any idea why the iOS build crashes when opening up the app?

[2021-07-17 04:28] seema2406 commented on #375
I am facing the same issue. I have added publishable key like this
`<StripeProvider publishableKey='publishable_key'>
        <Provider store={store.store}>
          <PersistGate loading={null} persistor={store.persistor}>
            <AppContainer />
          </PersistGate>
        </Provider>
      </StripeProvider>`

after that i have used that initPaymentSheet but getting **{"paymentOption":

[2021-07-17 09:39] minh-dai commented on #328
@arekkubaczkowski i did, but it's not wroking

[2021-07-17 11:13] Zurdge opened #432 "No variants found for 'stripe_stripe-react-native'. Check build files to ensure at least one variant exists."
**Describe the bug**
After running ```npm install @stripe/stripe-react-native```  I am unable to 'sync' my project in Android Studio. I get an error saying ```No variants found for 'stripe_stripe-react-native'. Check build files to ensure at least one variant exists.```

**To Reproduce**
Unfortunately, I cannot reproduce the issue myself. I created a new react-native project and Stripe worked perf

[2021-07-19 01:59] tantommy commented on #429
@kperdomo1 do you happen to have any issues with iOS? When i tap away from the `CardField` after focusing on it, i'm seeing this error
[code]
Once I add `<ScrollView keyboardShouldPersistTaps="always">`, that doesn't happen anymore but then it happens again when i navigate away to another screen.  The app just crashes with the error above.

[2021-07-19 03:07] paulasjes-stripe commented on #431
This issues page is for problems and bugs with the React Native SDK. For integration questions like this you're better off reaching out to support directly (https://support.stripe.com/contact) or joining the official Discord server: https://stripe.com/go/developer-chat

To unblock you, retrieving subscription information would have to happen from your backend using a secret API key: https://stripe

[2021-07-19 03:07] #431 closed

[2021-07-19 06:04] heritvithalani1997 opened #433 "3d secure payment not working"
Describe the bug
3ds payment not working. it shows the status success on the stripe dashboard but in-app it shows as the error (iOS) and processing on android

server-side

// Direct charge
const payment_intent = await payment.getPaymentIntent(
    {
        payment_method_types: ['card'],
        amount: parseFloat(amount) * 100,
        currency: 'usd',
        application_fee_amount: tools.calc

[2021-07-19 08:45] dcx86 commented on #339
The build also fails on AppCenter with the following error:

[code]

Works perfectly fine the moment I uninstall `stripe`.
Any idea what is happening here?

[2021-07-19 08:55] kperdomo1 commented on #429
I haven't faced any issue on iOS @tantommy , maybe you can create a more detailed issue? could be a separate problem.
The `onBlur` call works for me in both platforms, just passing down the handler to the onBlur prop.

[2021-07-19 09:52] rdewolff opened #435 "Is the lib ready for production?"
Hey all

Great seeing this new lib! We have been using `tipsi-stripe` for a few years now and are looking into migrating to this new lib. Before going really deeper, I tried to test some features as described in https://stripe.com/docs/payments/accept-a-payment?platform=react-native. Then I started to face some issues like the one described in #315.

During my initial tests, I tried and failed usi

[2021-07-19 10:15] dilipsuthar97 commented on #433
Hey bro,
I also faced same issue 2 days ago, but didn't get any solution yet.
Hope stripe will solve this issue ASAP.

[2021-07-19 10:19] kyapwc commented on #428
It seems the `amount` has to be in 2 decimal format, therefore my `cartItems` was wrong and my app had some caching issue. No issues. Thanks and sorry for the confusion

[2021-07-19 10:19] #428 closed

[2021-07-19 10:21] souhe commented on #397
@pablogdcr are you testing exactly the same project (same repo) on both devices? Or maybe you created the project separately on the second computer?
Node version should not matter

[2021-07-19 16:52] tantommy commented on #429
I've found out that when I run the app in the simulator, everything works fine.  the onBlur is called and the error i posted above is gone.  Something about the Expo Go development env is giving me the error above.

[2021-07-19 20:39] BrianCortes opened #437 "Pre-file data in CardField component"
**Is your feature request related to a problem? Please describe.**
 I am using an scan system to get the info of the card, so now I need pass this data through of CardField component to pre-load the card info

**Describe the solution you'd like**
I really like pass data (card number and expiration date) via props.

**Describe alternatives you've considered**
I know that we can create a custom fiel

[2021-07-19 21:46] aliriaz-stripe commented on #435
@rdewolff hello! The library is ready for production, yes.

I appreciate your feedback around the places lacking validation or error messages in some integration paths (and the other issue you linked which should be fixed now). PaymentSheet was a recent addition to this library (and also fairly new in the iOS/Android mobile SDKs) so there will be things that will be improved with time and fixed.

[2021-07-19 21:48] aliriaz-stripe commented on #433
@dilipsuthar97 @heritvithalani1997 hello, can you both share the PaymentIntent ID (not the client_secret) for those payments?

[2021-07-20 03:53] heritvithalani1997 commented on #433
Yes sure
Thanks for the quick response

PaymentIntent ID  :  pi_1JEsxGRKY0n0w2BJd8NzIAhI,

[2021-07-20 04:18] fdelacruzsoto commented on #435
I'd say it is not ready, I tried to implement the setup intent method and it didn't work, I opened two issues here asking for help and giving details, the first issue was closed with a "check the documentation" comment and the second issue is still open but no one is looking at it.

I gave details on how to reproduce the issue and got ignored, I submitted a PR with a fix that worked for us and the

[2021-07-20 05:43] vaibhavcis2912 commented on #339
@arekkubaczkowski yes I have followed readme , but no solution there for the issue i have

[2021-07-20 05:44] vaibhavcis2912 commented on #339
My app worked fine when uninstall the stripe

[2021-07-20 05:54] tantommy commented on #426
I noticed you're on SDK41 but i was under the impression that this was released for SDK42

[2021-07-20 06:06] tantommy commented on #420
I believe you'll need to structure your data differently.  the "data" arg you're passing to `confirmSetupIntent` should conform to the `ConfirmSetupIntent.Params` interface below.  In the Params interface, your `address` will also need to conform to the `Address` interface below.
[code]

[2021-07-20 06:15] arekkubaczkowski commented on #339
@vaibhavcis2912 can you provide more details about your issue and say what you have exactly tried so far?

[2021-07-20 06:18] arekkubaczkowski commented on #426
@nicolegros which version of stripe-react-native you got declared in package.json? it was also mentioned here: https://github.com/stripe/stripe-react-native/issues/363#issuecomment-866142212

[2021-07-20 06:27] dhairyasenjaliya commented on #371
do you find any solution ?

[2021-07-20 06:28] dhairyasenjaliya commented on #371
Did you find any solution?

[2021-07-20 07:27] dcx86 commented on #339
I tried a clean install:

`rm -rf node_modules && rm package-lock.json && cd ios && rm -rf Pods && rm Podfile.lock && npm i && pod install && npm run ios`

I had tipsi-stripe installed before but I removed it to replace it with stripe. Could that have caused any issues/conflicts?
Maybe I should try to start a new react-native project to see if I still get the same error when building the app for i

[2021-07-20 08:22] dcx86 commented on #339
I can confirm that starting a new project and installation stripe does successfully build. Thus this seems to be a problem with my current project. Not sure how to identify the issue. Could there be any conflicting npm packages?

[2021-07-20 08:35] arekkubaczkowski commented on #339
@dcx86 can you check this out https://github.com/stripe/stripe-react-native/issues/387#issuecomment-879006851 ?
If it's s not help can you provide more details about the issue and error message?

[2021-07-20 08:38] arekkubaczkowski commented on #371
We think that this issue is related with other reported issue but we are still trying to find a solution, you can track the progress here:  https://github.com/stripe/stripe-react-native/issues/391

[2021-07-20 08:40] pro030 opened #438 "presentPaymentSheet doesn't open in release apk"
Hi ,
I am using [this](https://stripe.com/docs/payments/accept-a-payment?platform=react-native&ui=payment-sheet ) code sample. Payment sheet opens fine when i run the app locally in debug mode but if i create a release apk then payment sheet doesn't open and no error is thrown .
I am using testenv in release apk too .
I am calling initPaymentSheet and presentPaymentSheet sequentially after clickin

[2021-07-20 09:14] Brotakuu commented on #420
@tantommy There no issue with the structure. But how can I retrieve the postalCode that the user entered when confirming the setupIntent?

[2021-07-20 11:54] nicolegros commented on #426
Here's the version in package.json: `"@stripe/stripe-react-native": "0.1.1"`
It's the version installed when running `expo install @stripe/stripe-react-native`

[2021-07-20 12:47] ankurC-AI opened #439 "Not working in expo"
I am using webhook payment card only and
Getting error when calling method confirmPayment

 _NativeStripeSdk.default.confirmPayment is not a function

**Screenshots**

![Screenshot 2021-07-20 at 6 13 03 PM](https://user-images.githubusercontent.com/86366168/126326087-2883e7e1-6095-4458-9d5b-ffbbe9a38627.png)

 - Device: [iPhone12]
 - OS: [ iOS 14.5]

[2021-07-20 13:54] Sirzs commented on #431
Hi, have you found a solution

[2021-07-20 13:56] pablogdcr commented on #397
Yes, exact same repo.

The issue is solved now, I upgraded my react-native version from 0.63.x to 0.64.x today, and now it builds fine.
I suppose that something was wrong with the dependencies installed on this computer and that the problem has been solved by reinstalling everything correctly.

Thanks a lot for your help, let's hope that the problem doesn't come back and that no one else faces it!

[2021-07-20 14:40] ghitier opened #440 "CardField error thrown on RN0.62 after upgrading to 0.1.5"
**Describe the bug**
An error is thrown when the CardField component gets unmounted.

**To Reproduce**
Steps to reproduce the behavior:
1. Use RN version 0.62.3 or below
2. Use v0.1.5 of stripe-react-native
3. Use the CardField component
4. Make the CardField component unmount (in my case navigating to another screen for ex)
5. There should be an error thrown: `TextInputState.currentlyFocusedInput

[2021-07-20 15:28] dcx86 commented on #339
@arekkubaczkowski your solution worked for me! Thank you!
More precisely I had to make sure that **ios version is consistent** across all instances:
1. ios version in Xcode>Target>Deployment Info
2. `platform :ios, '12.1` in Podfile
3. `['IPHONEOS_DEPLOYMENT_TARGET'] = '12.1` in Podfile

[2021-07-20 15:33] #397 closed

[2021-07-20 16:50] MuhammadShaheer97 commented on #316
I get the same issue, it cannot find the library I'm guessing. I tried manually linking but this does not work. I have attempted to clean and rebuild with no success. I can see it's missing from my list of libs in the root folder in android. I can see webview, picker_picker and so on but no stripe. This info is just be trying to help/.

first

/Users/shaheer/VSCode/guest-app/guestApp/android/app/b

[2021-07-21 04:49] heritvithalani1997 commented on #433
@aliriaz-stripe
is there any updates?

[2021-07-21 05:46] tantommy opened #443 "No command found with name "blur" on iOS in Expo Go dev env"
**Describe the bug**
After focusing into the `CardField` and tapping outside of it, the error occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. focus into the `CardField`
2. tap outside of the `CardField`
3. see error:
[code]

**Expected behavior**
I expect no errors.

**Screenshots**
https://user-images.githubusercontent.com/7282254/126436932-640e6e94-8553-4864-ae0d-b567bf3a6b11.MP4

[2021-07-21 08:17] Zurdge commented on #432
Closing, Ended up creating a new project and porting over everything to
[code]

[2021-07-21 08:17] #432 closed

[2021-07-21 08:28] thorsten-stripe commented on #443
Expo Go does not yet support v0.1.5 of `stripe-react-native`, you will need to wait for Expo SDK 43 for this method to be available within Expo Go client.

[2021-07-21 08:28] #443 closed

[2021-07-21 08:40] thorsten-stripe commented on #433
In your Stripe Dashboard logs I'm seeing: "You cannot create a charge on a connected account without the `card_payments` capability enabled." Please make sure to enable the relevant capabilities on the connected account: https://stripe.com/docs/connect/account-capabilities#creating

[2021-07-21 08:40] #433 closed

[2021-07-21 09:19] #391 closed

[2021-07-21 09:20] arekkubaczkowski commented on #391
This will be fixed from the next version (0.1.6)

[2021-07-21 09:22] heritvithalani1997 commented on #433
@thorsten-stripe
We have checked and test the payment which connects account card_payments capability enabled below is payment intent ID

pi_1JCfE8SFege9kljXuAv0QTTw

Looking for your positive response
Thanks

[2021-07-21 09:37] dilipsuthar97 commented on #433
Hello @thorsten-stripe
Have missed the context

I'm also getting the same issue with the live environment, below I have added the intent ID for live transaction.

ID: pi_1JCLAiSFege9kljXfJQBxswB

Thanks

[2021-07-21 09:54] MuhammadShaheer97 opened #444 "Android error: package com.reactnativestripesdk does not exist"
**Describe the bug**
When trying to build for android it always fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Install and set up stripe
2. build for android "npx react-native run-android"

**Expected behavior**
Successful build and launched to the homepage.

**Screenshots**
<img width="1322" alt="Screenshot 2021-07-21 at 10 50 22" src="https://user-images.githubusercontent.com/62882

[2021-07-21 10:40] MuhammadShaheer97 commented on #444
upgrade gradle version -- to 4+

[2021-07-21 10:40] #444 closed

[2021-07-21 12:47] jaaywags commented on #312
For me, I was passing in a display price ($1.99 USD) and didn't even realize. This helped me figure that out. Thanks!

[2021-07-21 12:48] jaaywags commented on #383
@nicolasdet wondering if this is related to #312? Basically, make sure you pass in a string of just the number.

[2021-07-21 14:04] nicolegros commented on #426
Upgrading to SDK42 seems to have fixed the issue.

[2021-07-21 15:33] ghitier opened #445 "createPaymentMethod only works for credit cards (Android)"
**Describe the bug**
On android `createPaymentMethod` only works with credit cards

**To Reproduce**
Steps to reproduce the behavior:

Call:
[code]

You will get an error: **`Card details not complete`**

**Expected behavior**
It should complete the PM creation successfully

**Screenshots**
~~If applicable, add screenshots to help explain your problem.~~

**Desktop (please complete the following i

[2021-07-21 17:14] erikhu commented on #440
i have the same problem, do you resolve it? @ghitier

[2021-07-21 17:24] ghitier commented on #440
@erikhu No, unfortunatly, I gave up for now and rolled back to 0.1.4. I'll probably upgrade my RN soon, so I'm not sure if I'll give it another try.

[2021-07-21 18:04] arekkubaczkowski commented on #440
@ghitier @erikhu good news, this will be fixed from the next release

[2021-07-21 18:27] jaaywags opened #447 "[ios] Close Apple Pay sheet programmatically"
**Is your feature request related to a problem? Please describe.**
I don't think so.

**Describe the solution you'd like**
I would like to be able to call the` useApplePay() `method, and it return a method which can be used to close the Apply Pay window.

Currently, [it returns 3 methods, and one property](https://github.com/stripe/stripe-react-native/blob/14709da7e11907660650f2ecbade8c43cd6306c7/

[2021-07-21 18:37] jaaywags commented on #447
I would be willing to make the code change, I just get a bit lost on how to go from stripe-react-native to the StripeSdk. I followed the call [all the way down to here](https://github.com/stripe/stripe-react-native/blob/14709da7e11907660650f2ecbade8c43cd6306c7/src/NativeStripeSdk.tsx#L29), but I am not sure where to go from there.

[2021-07-21 18:43] aliriaz-stripe commented on #439
@ankurC-AI hello, what version of stripe-react-native are you on? I think 0.1.5, right?

[2021-07-21 19:04] #438 closed

[2021-07-21 21:29] jlayhue commented on #439
We are using Expo 0.42 and react-native-stripe 0.1.5 and seeing the same error.

[2021-07-21 21:56] migue1s opened #448 "CreateToken typescript interface missing some fields"
Hello,

I was browsing the code to check compatibility with some react-native code I currently manage. I noticed that there is some missing information in the create token interface:

https://github.com/stripe/stripe-react-native/blob/ec34e553a631f684efa2199b6ef5efeb6873d8dd/src/types/Card.ts#L61-L65

Whereas in the native swift implementation the parameters are as follows:
https://github.com/stri

[2021-07-21 23:26] Brotakuu opened #449 "Crash when leaving screen without entering any input [Reproducible on the Stripe demo]"
**Describe the bug**
The app will crash when you leave the screen with `<CardField />` and the user did not input anything.

**To Reproduce**

Reproducible on the [demo snack](https://snack.expo.dev/@charliecruzan/stripe-react-native-example?platform=mydevice)

Go to a screen with `<CardField />`
Try to leave the screen without entering anything in.

Here is a [video of the error on the demo snack

[2021-07-21 23:33] brentvatne commented on #439
can you provide a minimal reproducible example?

[2021-07-21 23:45] aliriaz-stripe commented on #439
@jlayhue ah I think Expo 42 only supports 0.1.4 of stripe-react-native right now, so you should move to 0.1.4 in your app and it should work.

[2021-07-22 04:13] heritvithalani1997 commented on #433
@thorsten-stripe @aliriaz-stripe
is there anything that we have missed? Can you please help us for 3ds issue

[2021-07-22 04:38] thorsten-stripe commented on #433
@heritvithalani1997 this is not related to the SDK, please check the error message on your PaymentIntent: "As per Indian regulations, only registered Indian businesses (i.e. sole proprietorships, limited liability partnerships and companies, but not individuals) can accept international payments. More info here: https://stripe.com/docs/india-exports".

For support with this please use https://supp

[2021-07-22 04:40] thorsten-stripe commented on #439
Each Expo SDK version requires a specific `stripe-react-native` version. To install the correct version for your Expo SDK version run:

[code]

[2021-07-22 04:40] #439 closed

[2021-07-22 04:46] thorsten-stripe commented on #449
I'm not able to reproduce this. @brentvatne @cruzach any ideas?

[2021-07-22 04:50] thorsten-stripe commented on #448
For PCI compliance reasons only the native code is allowed to handle card details, they are not exposed via the JS bridge. Also tokens are considered legacy, please upgrade to use PaymentIntents with the CardField component: https://stripe.com/docs/payments/accept-a-payment?platform=react-native&ui=custom or utilize the payment sheet: https://stripe.com/docs/payments/accept-a-payment?platform=reac

[2021-07-22 04:50] #448 closed

[2021-07-22 05:11] thorsten-stripe commented on #447
You will need to extract the PaymentIntent from your subscription object, return that PaymentIntent's client_secret to your app and then call `confirmApplePayPayment` with that client_secret. The SDK will read out the state from the PaymentIntent (e.g. succeeded) and close the sheet accordingly.

[2021-07-22 05:16] thorsten-stripe commented on #445
For SEPA DD please follow the docs here:
- https://stripe.com/docs/payments/sepa-debit/accept-a-payment?platform=react-native
- https://stripe.com/docs/payments/sepa-debit/set-up-payment?platform=react-native

[2021-07-22 05:16] #445 closed

[2021-07-22 05:20] #426 closed

[2021-07-22 05:25] #339 closed

[2021-07-22 05:40] thorsten-stripe commented on #437
https://github.com/stripe/stripe-react-native/issues/346#issuecomment-861997822

[2021-07-22 05:40] #437 closed

[2021-07-22 05:43] thorsten-stripe commented on #429
Each Expo SDK version requires a specific `stripe-react-native` version. See the [CHANGELOG](./CHANGELOG.md) for a mapping of versions. To install the correct version for your Expo SDK version run:

[code]

[2021-07-22 06:21] heritvithalani1997 commented on #433
@thorsten-stripe
Thanks for your quick response.

[2021-07-22 08:36] ghitier commented on #445
Hi @thorsten-stripe thank you for your suggestion to use setup and confirm directly. It seems it would indeed help to simplify my implementation. To clarify, this was my current one: Create a PM > Setup or Confirm with this PM (id).

**Nonetheless I think this is a bug.** Here's a few reasons.

1. The Typescript definitions for this  library:

[code]

as can be seen they all have the same `data: P

[2021-07-22 09:44] thorsten-stripe commented on #435
@fdelacruzsoto I'm sorry that this has been your experience, unfortunately the cause of your specific issue was not obvious and it took quite some time until we were able to reproduce it.

We definitely appreciate that you've taken the time to provide a PR with a potential solution, unfortunately we weren't able to merge it since it would have affected other payment scenarios.

We are sorry it too

[2021-07-22 09:45] #420 closed

[2021-07-22 09:51] thorsten-stripe commented on #371
This has been fixed in https://github.com/stripe/stripe-react-native/pull/436 and will roll out in v0.1.6

If you need it early you can follow these steps to build and install the library locally: https://github.com/stripe/stripe-react-native/blob/master/CONTRIBUTING.md#install-library-as-local-repository

Sorry that it took so long to get this resolved. The cause of this issue was not obvious and

[2021-07-22 09:51] #371 closed

[2021-07-22 10:36] TommysG opened #452 "[Expo Go] You must provide card details, token or paymentMethodId error with CardField"
**Describe the bug**
The implementaion with CardField element gives me error when tapping Pay button (calling confirmPayment), even on the [example ](https://snack.expo.dev/@charliecruzan/stripe-react-native-example?platform=mydevice) given on Snack.
`You must provide card details, token or paymentMethodId`. I did everything like the example shows or like in the [official stripe docs](https://stri

[2021-07-22 13:06] TommysG commented on #452
Fixed after upgrading to Expo SDK 42.0

[2021-07-22 13:07] #452 closed

[2021-07-22 14:18] cruzach commented on #370
@KryptKode I'm using the example from Stripe (also found in the Expo docs), with this change applied:
[code]

- run the example and server
- accept a payment -> card element only screen
- use `4000 0027 6000 3184`
- webview opens, click succeed, then im redirected back to the app and payment is successful

[2021-07-22 15:01] jordipc opened #455 "`undefined` as a response when we do a createPaymentMethod"
**Describe the bug**
We are getting paymentMethod = `undefined` as a response when we do a createPaymentMethod

**To Reproduce**
We are using the same call that we have seen in the example, `handlePayPress` function from `NoWebhookPaymentScreen.tsx `file. Our code:

[code]

Obtained response:
[code]

Thank you! :)

[2021-07-22 15:26] cruzach commented on #449
I am also not able to reproduce. Would be helpful to know if you also get this behavior in your standalone app- that would indicate an issue outside of Expo Go (so I'm assuming in the stripe-react-native code). Best way to find out where is to investigate the logs/stack trace of the crash

[2021-07-22 15:58] erikhu commented on #440
@arekkubaczkowski thank you for the news! i solved it upgrading the project to latest react native version

[2021-07-22 16:52] bramski commented on #364
@russmenum What are the roadblocks with google pay?

[2021-07-22 19:57] jaaywags commented on #447
@thorsten-stripe Hi, thank you for getting back to me.

Creating a subscription does not always create a PaymentIntent. For example, if a customer has credit, that credit is applied to the new cost and if it covers the full amount, no additional payment is required, thus no PaymentIntent is created.

I have an example of this scenario. I attached a screenshot from my debugger. It is a very straigh

[2021-07-22 21:33] shabareesh commented on #83
Hello, when will this feature be available?

[2021-07-23 04:24] thorsten-stripe commented on #455
Please provide which library (and if, Expo) versions you are using.

This might be: https://github.com/stripe/stripe-react-native/issues/369#issuecomment-868166681

[2021-07-23 04:29] #430 closed

[2021-07-23 08:54] thorsten-stripe commented on #370
@KryptKode you might be missing the `handleURLCallback` call. You can find an example here: https://github.com/stripe-samples/accept-a-payment/pull/193/files#diff-14f2faf1e4844e7e9e5bcbb71bea64e1dd27d9c09f0a05aa6d02fec208f9173aR16

[2021-07-23 08:54] #370 closed

[2021-07-23 09:06] thorsten-stripe commented on #406
We should avoid sending card details over the JS bridge. For testing you can specify test mode payment method IDs, e.g. `pm_card_visa` etc: https://stripe.com/docs/testing#cards

[2021-07-23 09:10] thorsten-stripe commented on #362
@LPGuidetti in that case you call `handleCardAction` on the PaymentIntent if it is in `RequiresAction` state: https://stripe.com/docs/payments/accept-a-payment-synchronously?platform=react-native#react-native-handle-next-actions

[2021-07-23 09:12] thorsten-stripe commented on #425
In most cases this should not be done on the server-side. Can you outline why you do this server-side rather than using `confirmPayment` or `createPaymentMethod` on the client-side as recommended?

[2021-07-23 09:26] lucasfronza commented on #362
Hey @LPGuidetti, just to clear some things out.. At the end of an Uber or Lyft ride, the user will be charged regardless if they have the app open or not, which means, it is an `off_session` payment.
User having your app open at the time of the charge doesn't mean an on-session payment. On-session would be something like a product purchase flow, in which the user is buying a product, and is making

[2021-07-23 10:40] jordipc commented on #455
Hi @thorsten-stripe,
Sorry, I forgot. We are using expo version 41 (we can't upgrade to 42 due to our app requirements).
Versions we have tested of `stripe-react-native`
- 0.1.5: In addition to the response
[code]
we get the following error on iOS.
![Simulator Screen Shot - iPhone 11](https://user-images.githubusercontent.com/3213913/126770388-82cbfb4a-180a-4b98-9a20-b80d5227cd92.png)

- 0.1.4 | 0

[2021-07-23 18:13] russmenum commented on #364
@bramski it is resolved now, there were some cumbersome tests to do with the lack of prod access while getting to the request access point. In the end, turned out to be TEST Vs NOT TEST MODE for Stripe. Which in that particular app is a little cumbersome to switch between. Google also is not exactly being RN friendly with the required brand assets. It kind of screwed up our order/check-out flow. B

[2021-07-23 19:10] hanselabreu commented on #448
I'm confused then. What is the use case of the `createToken` function?

[2021-07-23 19:47] hanselabreu opened #457 "Support for External Accounts"
Will this library provide support for [external accounts](https://stripe.com/docs/api/external_accounts) to be used with the Connect feature?

I am in the development stages of a mobile application and have created my own bridge with Stripe similar to [tipsi-stripe](https://tipsi.github.io/tipsi-stripe/).

As per @thorsten-stripe on https://github.com/stripe/stripe-react-native/issues/448#issuecom

[2021-07-25 18:57] theprogra opened #458 "Build fails when installing @stripe/stripe-react-native"
FAILURE: Build failed with an exception.

* Where:
Build file '/Users/ryanrebbas/Documents/imathtutor/node_modules/@stripe/stripe-react-native/android/build.gradle' line: 29

* What went wrong:
A problem occurred evaluating project ':stripe_stripe-react-native'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to

[2021-07-25 19:54] theprogra commented on #458
I'm using it firebase. Fails with both android and IOS

[2021-07-26 05:23] vivekmahato26 commented on #405
App crashes after installing stripe-react-native sdk with error "java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/common/internal/zzbq;". After removing the SDK the app runs fine.

[2021-07-26 05:26] vivekmahato26 commented on #421
https://github.com/stripe/stripe-react-native/issues/405#issuecomment-886386464

[2021-07-26 06:31] arekkubaczkowski commented on #458
does your project meet sdk requirements? https://github.com/stripe/stripe-react-native#requirements
also please try to follow troubleshooting section https://github.com/stripe/stripe-react-native#troubleshooting

[2021-07-26 07:43] arekkubaczkowski commented on #359
closing due to inactivity, please reopen if needed

[2021-07-26 07:43] #359 closed

[2021-07-26 07:50] arekkubaczkowski commented on #421
@ruida-shen

can you provide some error message to help us with debugging?

[2021-07-26 08:04] arekkubaczkowski commented on #355
closing due to inactivity, @aanalmehta-sa @vipu-sa @konstantinmv please reopen if above solution didn't work for you

[2021-07-26 08:04] #355 closed

[2021-07-26 09:21] mppvgithub commented on #359
Same issue. in RN0.59

[2021-07-26 10:05] arekkubaczkowski commented on #359
@mppvgithub as I mentioned above, we need more details to be able investigate your issue. However I would suggest in your case to upgrade RN to 0.6x

[2021-07-26 10:09] thanhcuong1990 opened #459 "[Android] CardField has white text when Dark theme enabled"
**Describe the bug**
I cannot change the CardField text color and placeholder color when Android dark theme enabled.
The text and place holder is white.

**Screenshots**

<img width="417" alt="Screen Shot 2021-07-26 at 5 04 39 pm" src="https://user-images.githubusercontent.com/3401929/126972011-30186f1c-1194-48e8-97da-22a6c1d5b416.png">

**Smartphone (please complete the following information):**

[2021-07-26 10:12] arekkubaczkowski commented on #459
have you tried to update cardStyle when darkmode is enabled? https://stripe.dev/stripe-react-native/api-reference/interfaces/cardfieldprops.html#cardstyle

[2021-07-26 10:22] heritvithalani1997 commented on #433
@thorsten-stripe
We are still facing the issue of the 3ds payment. Can you please help us with the same. We are using live stripe environment
Below is the payment intent id.

1. pi_1JHPncSFege9kljXUSjj2PVd

Request body : -
![request](https://user-images.githubusercontent.com/85918817/126973685-48172574-1704-41eb-aab5-20312f2a0f4d.png)

Response
![response](https://user-images.githubusercontent.co

[2021-07-26 10:25] thanhcuong1990 commented on #459
@arekkubaczkowski Thank you! My mistake.
I was paste the `cardStyle` as StyleSheet. So i can change the `textColor` and `placeholderColor` now.
But the card icon still in white. Do we have any option to change it?

<img width="411" alt="Screen Shot 2021-07-26 at 5 22 04 pm" src="https://user-images.githubusercontent.com/3401929/126974320-2503b26b-614b-44a0-83e6-4614bfa85ec6.png">

[2021-07-26 10:26] arekkubaczkowski commented on #459
@michelleb-stripe could you refer to this issue?

[2021-07-26 18:13] theprogra commented on #458
@arekkubaczkowski thanks that worked for android! i changed the gradle version to 4.0.0 in android/build.gradle and i worked

[2021-07-26 19:08] arekkubaczkowski commented on #458
@theprogra your iOS issue doesn't look like smth related to the stripe sdk, you can make sure by uninstalling stripe library and then try to build an app

[2021-07-26 19:13] #458 closed

[2021-07-26 20:19] stupidtools opened #460 "For Amex Cards, card details show as done before the entire cvv code is entered."
**Describe the bug**
In the CardField component, the onCardChange attribute takes a callback that is passed cardDetails as a parameter.  cardDetails has a boolean field "done"  that should return true when the card details are entered completely, and false otherwise.  In the case of amex cards though, it returns true after only 3 digits of the four digit cvv are entered.

**To Reproduce**
Steps to

[2021-07-26 21:10] ruida-shen commented on #421
Hi, So the behavior of this bug on IOS is that, if my app has imports of the stripe-react-native module, it will crash when app opens up in ios emulator, but if I remove all stripe-react-native imports, the app works fine, also the app is working fine with the stripe-react-native module in Expo Go, too.

Here is the system log of my ios emulator:

[code]

Please tell me what additional logs I can

[2021-07-26 22:10] katiachumakova opened #461 "initPaymentSheet error"
**Describe the bug**
When using initPaymentSheet it always returns an error:

`{code: "Failed", localizedMessage: "There was an unexpected error -- try again in a few seconds", message: "There was an unexpected error -- try again in a few seconds", declineCode: null, type: null, …}`

Also getting the same error on presentPaymentSheet (if I use `confirmPayment: false` the Payment Sheet doesn't open

[2021-07-26 23:16] theprogra commented on #458
For IOS i'm getting the error:
Apple Mach-O Linker (ld) Error Group
Apple Mach-O Linker (ld) Error Group
I tryid changinr arm64 to armv7 and armv6

i'm getting this error when building
ld: warning: directory not found for option '-L/Users/ryanrebbas/Documents/imathtutor/ios/Pods/Stripe/InternalFrameworks'
ld: library not found for -lAppAuth
clang: error: linker command failed with exit code 1 (use

[2021-07-27 04:11] theprogra opened #462 "Hooks and Classes"
i'm trying to use the new stripe-react-native library but it seems that the hooks folder contains what i need (use confirm payment) The problem is i'm using classes and not hooks so whats the solution to implement a the check

[2021-07-27 04:23] thorsten-stripe commented on #462
All methods are also available as top-level exports, usage of hooks is optional.

Do note that before v0.1.5, the top level export for `confirmPayment` is called `confirmPaymentMethod`: https://github.com/stripe/stripe-react-native/blob/master/CHANGELOG.md#015---2021-07-14

[2021-07-27 04:23] #462 closed

[2021-07-27 05:22] thorsten-stripe commented on #461
Can you please double check that you're setting the correct parameters, e.g. could be this: https://github.com/stripe/stripe-react-native/issues/290#issuecomment-852774950

If that doesn't resolve it, please provide your code.

[2021-07-27 05:57] thorsten-stripe commented on #433
Same error message related to https://stripe.com/docs/india-exports as before. Please check your logs: https://dashboard.stripe.com/events/evt_1JHPoISFege9kljXQNWZVHLG

In the future please use our support channels (e.g. https://support.stripe.com/) as this is not related to the library. Thanks.

[2021-07-27 08:27] semenetsvladislav opened #463 "Error: library not found for -lStripeCore (version 0.1.5)"
**Describe the bug**
Have an error library not found for -lStripeCore when trying to build the app on iOS

**Expected behavior**
Be able to build the app normally. It worked on previous version.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]: macOS Big Sur
 - react-native: 0.63.4

[2021-07-27 08:55] arekkubaczkowski commented on #463
@semenetsvladislav have you followed troubleshooting section? https://github.com/stripe/stripe-react-native#troubleshooting

[2021-07-27 09:01] semenetsvladislav commented on #463
@arekkubaczkowski yes. It worked normally on v. 0.1.4.. But it seems like new pod StripeCore was added in 0.1.5 and I've this error during a build.

[2021-07-27 09:02] arekkubaczkowski commented on #463
did you try to remove Pods directory and Podfile.lock and install again? After that I would also clean build folder

[2021-07-27 09:13] semenetsvladislav commented on #463
@arekkubaczkowski yes, but have the same issue... Is it possible to link this StripeCore manually somehow?

[2021-07-27 09:16] arekkubaczkowski commented on #463
it's not recommended, however this error seems like is not related to the library itself

[2021-07-27 09:19] semenetsvladislav commented on #463
@arekkubaczkowski Fixed! It seems like I've missed path to this StripeCore in Build Settings -> Library Search Path. I've just added this "${PODS_CONFIGURATION_BUILD_DIR}/StripeCore" manually there and now it's working :D

[2021-07-27 09:19] #463 closed

[2021-07-27 10:29] Noolie commented on #407
Then is there any possibility to set default card from client during new payment method creation ?

[2021-07-27 12:06] thorsten-stripe commented on #423
Please use `expo install @stripe/stripe-react-native` to install the correct version for your Expo SDK version: https://github.com/stripe/stripe-react-native#expo

[2021-07-27 12:07] thorsten-stripe commented on #455
Please use `expo install @stripe/stripe-react-native` to install the correct version for your Expo SDK version: https://github.com/stripe/stripe-react-native#expo

[2021-07-27 12:07] #455 closed

[2021-07-27 12:14] thorsten-stripe commented on #457
It does: https://stripe.com/docs/connect/authentication#adding-the-connected-account-id-to-a-client-side-application

Potentially, yes, please refer to the "Mobile SDK" tab at: https://stripe.com/docs/security/guide#validating-pci-compliance

[code]

[2021-07-27 12:14] #457 closed

[2021-07-27 14:36] hanselabreu commented on #457
Right, but how exactly do I create the external accounts (Debit Card or Bank Account)? I've gone through the your docs and can't seem to find anything.

Good to know, thanks!

[2021-07-27 15:39] michelleb-stripe commented on #460
@stupidtools American Express cards have a 4 digit CVV on the back, but also provide a 3 digit CVV on the front of the card that also works.

The behavior is as we would expect:
- It is valid after 3 digits
- After 4 digits another callback is called that also has isValid = true

[2021-07-27 15:41] #460 closed

[2021-07-27 16:17] hanselabreu opened #464 "Bank Account support for `createToken`"
Couldn't find an issue for this, but it'd be ideal to allow the creation of Bank Account tokens using the `createToken` function.

[2021-07-27 17:36] ivantacca opened #465 "App not building after adding stripe"
**Describe the bug**
`stripe-react-native` has been added to a working project through `npm`. After the installation, the xcode build fails with these errors:

[code]

Since I am not using `Expo`, I skipped the 'Expo' section after installation

**Steps to reproduce**
- `react-native init newProj`
- `cd newProj`
- `npm install @stripe/stripe-react-native`
- Change the podfile version to 11.0
- `cd

[2021-07-28 01:41] purplecones commented on #421
I get the same issue. I've narrowed it down to just importing `StripeProvider`.
```import { StripeProvider } from "@stripe/stripe-react-native"```
Adding this line to my app makes it crash on splash screen when testing on device. Does not happen in the iOS simulator or native Android device.

[code]

[2021-07-28 02:30] purplecones commented on #421
Here is the error from the device using the Apple Console
[code]

What could be the cultprit of this? I am running on expo@42.0.0 and  @stripe/stripe-react-native@0.1.4.

[2021-07-28 03:37] Georgiyukr commented on #465
Is your RN app in TypeScript or JavaScript?

[2021-07-28 03:49] vivekmahato26 commented on #421
App crashes after installing stripe-react-native sdk with error "java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/common/internal/zzbq;". After removing the SDK the app runs fine.

[2021-07-28 06:33] ivantacca commented on #465
My App is written in JavaScript

[2021-07-28 06:40] arekkubaczkowski commented on #465
it doesn't matter

@ivantacca please follow troubleshooting section https://github.com/stripe/stripe-react-native#troubleshooting

[2021-07-28 08:26] thorsten-stripe commented on #421
@purplecones Each Expo SDK version requires a specific stripe-react-native version. See the CHANGELOG for a mapping of versions. To install the correct version for your Expo SDK version run:

[code]

[2021-07-28 08:54] arekkubaczkowski commented on #458
@theprogra have you followed all of the troubleshooting steps? Please also check this out https://github.com/stripe/stripe-react-native/issues/387#issuecomment-879006851

[2021-07-28 12:21] lucasroca commented on #429
Hi @thorsten-stripe @kperdomo1 , do you know of any workaround to this issue? I have a CardField and a button below. When clicking outside the CardField, the keyboard is dismissed, but the input remains focused, and the button doesn't work.

[2021-07-28 12:42] mohittembe opened #466 "generate id for card details"
I want to generate a unique id to save the card, how can this be done?
want something like token id in tips-stripe

[2021-07-28 12:49] kperdomo1 commented on #429
@lucasisola did you wrap both the CardField and button inside the ScrollView ?

[2021-07-28 13:21] lucasroca commented on #429
@kperdomo1, I removed the styling, this is what I'm trying:

[code]

https://user-images.githubusercontent.com/29613530/127329180-dcee0f9e-7e1e-435d-8516-60ed004b4528.mov

I see you mentioned `StripeContainer`, which I am not using. Could that be the problem?

[2021-07-28 14:49] thorsten-stripe commented on #466
For general integration questions please use https://stripe.com/go/developer-chat

[2021-07-28 14:49] #466 closed

[2021-07-28 16:18] jetonk opened #467 "Invariant Violation: Native module cannot be null."
**Describe the bug**
After installing `@stripe/stripe-react-native` and importing `StripeProvider` from the official guides
`import { StripeProvider } from '@stripe/stripe-react-native';`

the app crashes and it shows: **Native module cannot be null**

**To Reproduce**
Steps to reproduce the behavior:
1. Install `@stripe/stripe-react-native`
2. `import { StripeProvider } from '@stripe/stripe-react

[2021-07-28 20:49] Georgiyukr commented on #467
I have the same problem. App also fails to build.

[2021-07-28 23:20] Georgiyukr commented on #465
Thank you

[2021-07-29 06:31] arekkubaczkowski commented on #467
@jetonk  if you are using expo please follow this: https://github.com/stripe/stripe-react-native#expo

[2021-07-29 07:47] TienNguyenVan1408 opened #468 "[Android] Validate card complete equal false when editing expiry year with any future date"
**Describe the bug**
- Field `last4` null when editing `expiryYear` (on Android)

**To Reproduce**
- Steps to reproduce the behavior:
1. Enter card number: 4242424242424242
2.Enter any future date to expiry year
3. Enter any 3 digits to CVC
4. editing expiry year again with value any future date and `onChangeCard` return `last4` null. Example: return`{"last4":null,"expiryMonth":2,"expiryYear":55,"

[2021-07-29 08:07] #467 closed

[2021-07-29 08:40] onsah commented on #83
Hello, does this mean we will have split card elements or we will have a combined element with fields separated by lines?

[2021-07-29 10:08] hth-developers commented on #290
I'm still getting that error. i tried everything but it doesn't work.

[2021-07-29 11:04] arekkubaczkowski commented on #429
@lucasroca I am able to reproduce it within react-native 062.2 version, could you create a separate issue?

[2021-07-29 11:10] arekkubaczkowski commented on #429
@kperdomo1 this is gonna be fixed in the next release (0.1.6)
@lucasroca your issue same

[2021-07-29 11:50] hth-developers opened #469 "[IOS] presentPaymentSheet will freeze the app once is being called"
**Bug**
App getting freeze once presentPaymentSheet method called.

**Screenshots**
<img width="1680" alt="Screen Shot 2021-07-29 at 3 08 41 PM" src="https://user-images.githubusercontent.com/40497422/127486910-8f5dc9a4-9042-4b49-b4ad-e7fe548a26c5.png">

platform :ios, '11.0'

**Versions**
 "react": "16.13.1",
 "react-native": "0.63.4",

[2021-07-29 12:39] Ihor-Kulpekin opened #470 "Undefined symbol: __swift_FORCE_LOAD_$_swiftWebKit; Showing Recent Messages Undefined symbol: __swift_FORCE_LOAD_$_swiftUniformTypeIdentifiers"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-07-29 12:59] arekkubaczkowski commented on #470
@Ihor-Kulpekin please describe your issue

[2021-07-29 12:59] #470 closed

[2021-07-29 13:14] lucasroca commented on #429
Great! Also, I found out my button wasn't clickable because I was using nested ScrollViews like:

[code]
InputCreditCard being the component from my previous comment. So I removed one ScrollView and now it's working.

Thanks for the support!

[2021-07-29 14:11] jetonk commented on #467
@arekkubaczkowski Exactly I have followed the steps from https://github.com/stripe/stripe-react-native#expo, https://docs.expo.io/versions/latest/sdk/stripe/

[2021-07-29 14:14] arekkubaczkowski commented on #467
Not sure why you get this error but are you able to upgrade expo sdk to the latest version?

[2021-07-29 14:26] thorsten-stripe opened #471 "GitHub action for API ref auto gen"
Create a GitHub action that will run `yarn docs` and copy the output and commit it to the `gh-pages` branch: https://github.com/stripe/stripe-react-native/tree/gh-pages

![image](https://user-images.githubusercontent.com/23213994/127509682-41ec118c-76d0-499a-81bd-4eeb59895ec9.png)

[2021-07-29 14:57] jetonk commented on #467
@arekkubaczkowski Yes, upgrading Expo from 40 to 42 fixed this error. Thank you!

[2021-07-29 15:54] thorsten-stripe commented on #457
@hanselabreu sorry, I was thinking of connected accounts 🙈

For debit cards you can use the `createToken` method with the `CardField` component and then provide the token to https://stripe.com/docs/api/external_account_cards/create

Bank account token creation is currently not supported, her you would need to build your own form to collect the bank account details and then send them to your server

[2021-07-29 17:16] ivantacca commented on #465
@arekkubaczkowski I have just tried to:
- check out my `library search paths`(which doesn't include any /swift entry):

![Libraries](https://user-images.githubusercontent.com/29736939/127535600-333e700c-4f96-4c56-adaf-516043226efe.jpg)

- Create a new Swift file to the project with a bridging header.

But I am still getting these 5 errors:
<img width="605" alt="Errors" src="https://user-images.git

[2021-07-29 17:29] arekkubaczkowski commented on #465
@ivantacca because you need to change `project` build settings rather than `target` ones

[2021-07-29 17:50] ivantacca commented on #465
My bad, thank you @arekkubaczkowski, It works now!

[2021-07-29 17:50] #465 closed

[2021-07-30 04:22] vaibhavgadekar commented on #83
@thorsten-stripe is this released ??

[2021-07-30 07:47] hth-developers commented on #469
Actually I am using an overly modal for loading that's creating the issue I solved it by timer of 0.5s.

![code](https://user-images.githubusercontent.com/40497422/127619523-f4a7e7bb-8e2c-4c7e-a1f3-e72749a6461e.png)

[2021-07-30 07:47] #469 closed

[2021-07-30 07:47] #52 closed

[2021-07-30 09:44] #9 closed

[2021-07-30 09:49] #440 closed

[2021-07-30 09:54] jr360codelab commented on #459
I have similar issue but my phone doesn't even have dark mode, card field defaults to dark theme (inputs and icon are white), when I use custom styling the icon remains white.

[2021-07-30 12:22] nicopir opened #473 "Create a payment method from card information"
Hello everyone,

I'm glad to see that there is now an official library from Stripe for React Native!
I'm using tipsi-stripe for a while to be compliant with the SCA rules but I'm now considering migrate to this new library especially to fix the Google Play warning about "the non-compliant version of Stripe SDK" from tipsi-stripe.

However, while checking the documentation I do not find a method to

[2021-07-30 12:28] vivekmahato26 commented on #421
I am not using EXpo

[2021-07-30 13:55] acatalina commented on #447
I've got another use case for this feature... I am confirming all my payments server side so I need to be able to call the completion block myself when I get confirmation from the server

[2021-07-30 14:08] denny7 opened #474 "Split payment"
**Is your feature request related to a problem? Please describe.**

I would like to make split payment between 2 credit cards in my RN app after migrate from `tipsi-stripe`.
What I want is to have 2 different `CardField` components on the same page. After PAY button is clicked I would like to call `confirmPayment` for both payments. I have 2 clientSecrets from backend and  call `initPaymentSheet`

[2021-07-30 21:10] theprogra opened #475 "Building for IOS not working"
Followed all the instructions, but build fails for IOS [Only]
when running the command npx react-native run-ios i get this error ->
	Ld /Users/[USERNAME]/Library/Developer/Xcode/DerivedData/imathtutor-conivnbweaqkwldniopviygvmimp/Build/Products/Debug-iphonesimulator/imathtutor.app/imathtutor normal x86_64
(1 failure)
tryed changing target build to ios:11 and deleted all swift enteries in Libary Se

[2021-07-31 20:17] togonow opened #476 "Unable to upgrade to v v0.1.5 from 0.1.4"
Describe the bug
was using v0.1.4 trying to upgrade to v0.1.5,

after updating the npm, and doing pod install, i'm getting the error below

`[!] CocoaPods could not find compatible versions for pod "Stripe":
  In snapshot (Podfile.lock):
    Stripe (= 21.6.0, >= 21.3.1, ~> 21.6.0)

  In Podfile:
    stripe-react-native (from `../node_modules/@stripe/stripe-react-native`) was resolved to 0.1.5, whi

[2021-07-31 20:20] togonow commented on #476
Found it, turned out had to run

 pod install --repo-update

instead of only "pod install" seems the pod stripe was locked into 21.6.x instead the needed 21.7.0

may be this should be added to the "troubleshooting section" or migration

[2021-08-01 06:40] trta2352 opened #477 "App will be removed from the Google Play store because of a non-compliant version of Stripe SDK"
**Used stripe-react-native version: v0.1.4.**

After I uploaded an update to my app that is on both the App Store and Google Play store I received an email that contained:

<img width="722" alt="Screenshot 2021-08-01 at 08 40 09" src="https://user-images.githubusercontent.com/20231467/127761852-06740784-cc54-41f7-bfc1-9c6b556b0ca5.png">

Will this issue be resolved when I update to version 0.1.5,

[2021-08-01 06:41] togonow opened #478 "Customize Add a card modal sheet"
**Describe the bug**
add a card modal "Country or region" section defaults to Afghanistan

**To Reproduce**
const { error, paymentOption } = await initPaymentSheet({
                paymentIntentClientSecret: _paymentIntent?.client_secret,
                customFlow: true,
                applePay: true,
                merchantCountryCode: 'US',
                googlePay: true,
                te

[2021-08-01 09:25] ahmaddehnavi commented on #473
Same here,
we have custom design so we can not use the "CardFiled" component and because of Google play warning we have to migrate from "tipsi-stripe".

we were using "confirmPaymentIntent" method of "tipsi-stripe" like this
[code]

how can we use card info to start a payment using this SDK?

[2021-08-01 09:26] ahmaddehnavi commented on #477
https://github.com/stripe/stripe-react-native/issues/473

[2021-08-01 15:05] dexc opened #479 "White space below payment sheet on iphone 11 (SafeAreaView)"
**Describe the bug**

There is white space as if the module is wrapped with a `SafeAreaView`. Obviously this isn't the ideal look so I've raised as bug.
![image](https://user-images.githubusercontent.com/69322193/127775634-0b3c7fcc-bfa1-4ae7-b58c-0da237fd7c18.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Wrap App.tsx with `StripeProvider` (at top level)
2. Setup the app similarly to h

[2021-08-01 22:43] hanselabreu commented on #457
Haha, it happens 🙂

Very interesting! Please excuse my ignorance, but does this mean that bank account details are not subject to the same PCI rules as cards, meaning that the details can be sent to your API?

[2021-08-02 03:36] thorsten-stripe commented on #457
That's correct, only card data falls under the PCI (payment card industry) compliance standard.

[2021-08-02 03:40] thorsten-stripe commented on #473
There are currently no plans to support this due to the PCI compliance considerations this has (e.g. see https://github.com/stripe/stripe-react-native/issues/178#issuecomment-831651413) We recommend to migrate to use the payment sheet or the `CardField` component.

[2021-08-02 03:40] #473 closed

[2021-08-02 03:58] babyrusa commented on #429
I was having this issue. I didn't use `StripeContainer` / have not tried but I notice not having ScrollView like @lucasisola  said helped resolving it.

[2021-08-02 08:05] buiquangduc commented on #52
I notice this issue is closed with a Pull Request, is the WeChat Pay integrated into the next React Native Stripe version?
Thank you guys for your awesome works!

[2021-08-02 14:03] CliffAw commented on #459
Have just come across the same issue as mentioned above regarding the card icon colour. Looks like none of the available options from `CardFieldInput.Styles` changes the colour of the icon.

[2021-08-02 15:45] thorsten-stripe commented on #475
Did you follow step two of https://github.com/stripe/stripe-react-native#undefined-symbols-for-architecture-x86_64-on-ios ?

Create a new Swift file to the project (File > New > File > Swift), give it any name (e.g. Fix.swift) and create a bridging header when prompted by Xcode.

[2021-08-02 15:49] thorsten-stripe commented on #474
You can only have one `CardField` mounted at a time. I'd recommend you collect card details one after the other. For more help with your specific integration please use our developer chat https://stripe.com/go/developer-chat

[2021-08-02 15:49] #474 closed

[2021-08-02 15:54] thorsten-stripe commented on #464
There is currently no timeline for adding this. For now please build your own form to collect the bank account details and then send them to your server and supply them to https://stripe.com/docs/api/external_account_bank_accounts/create#account_create_bank_account-external_account

[2021-08-02 15:55] thorsten-stripe commented on #461
Closing due to inactivity. Feel free to reopen with the above requested information.

[2021-08-02 15:55] #461 closed

[2021-08-02 16:09] thorsten-stripe commented on #425
Closing out due to inactivity.

[2021-08-02 16:09] #425 closed

[2021-08-02 17:52] hanselabreu commented on #457
This is excellent news. Thanks for the enlightenment, I appreciate you 🙂

[2021-08-02 19:36] m-salamon commented on #239
I had the same issue using Expo SDK 41, I needed to upgrade to Expo SDK 42 (latest SDK) it all works now.

[2021-08-02 20:20] trex-quo commented on #9
So native Google Pay support (in the same way that Apple Pay is currently supported) will be added in the next version release?

[2021-08-02 20:48] souhe commented on #421
@purplecones @ruida-shen does installing the proper stripe-react-native version (for your version of Expo) fix the crash for you?

@vivekmahato26 your error seems to be a different one, not connected with the crash explained in this issue.
If you still having this problem can you please create a separate issues with reproduction steps and information about the environment you have (is this a fresh

[2021-08-02 21:12] ruida-shen commented on #421
Hi, that doesn't help unfortunately. But doesn't expo 42.0.0 supports react-native-stripe 0.1.4 out of the box?

[2021-08-02 21:26] souhe commented on #421
@ruida-shen if you are on expo 42 than 0.1.4 version of react-native-stripe should be the right version for you.

If you use the correct version than I will have to investigate this issue more and try to reproduce it. Are you on a fresh expo 42 app?

[2021-08-02 21:29] ruida-shen commented on #421
I recently upgraded my app from expo 41 to 42, and react-native-stripe from 0.1.1 to 0.1.4.

[2021-08-02 21:33] souhe commented on #421
Was it working properly on 41 (with stripe 0.1.1)?

[2021-08-02 21:35] ruida-shen commented on #421
No, it wasn't working either, I was hoping upgrading to 0.1.4 will solve the issue, but unfortunately this is not the case.

[2021-08-02 21:57] souhe commented on #421
One last question @ruida-shen. Are you using bare or managed workflow in expo?

I'm trying to reproduce the issue. I created a new expo app (expo 42), I installed stripe with `expo install @stripe/stripe-react-native`, imported `StripeProvider` and used it in `App.tsx`. After that when opening the app everything works correctly for me, is there something I'm missing here?
Maybe you are able to rep

[2021-08-02 22:03] ruida-shen commented on #421
I am using managed workflow. The app only crashes in standalone build, so after running the command expo build:iOS, and choose emulator. Then, after the build is done, download it and install it in iOS emulator, the app crashes

[2021-08-02 22:53] babyrusa commented on #239
I'm experiencing this same issue on Android. Gradle 4.0.0, react-native 0.64.2

[code]

[2021-08-02 23:05] elco45 opened #481 "Payment sheet only displays "United States" in the "Country or Region" dropdown"
**Describe the bug**
The "Country or region" section only displays "United States" and "United States Minor Outlying Islands"

**To Reproduce**
[code]

**Expected behavior**
Provide the list of available countries to select.

**Screenshots**
<img src="https://user-images.githubusercontent.com/11080628/127933438-a1a525c6-7282-4936-b6f5-69c7d07c296a.png" width="300" height="500" />

**Additional con

[2021-08-03 02:55] m-salamon opened #482 "Set up future payments process billingDetails not saving"
**Describe the bug**
**Set up future payments** process doesn't save billingDetails on `confirmSetupIntent` method (Using Expo SDK 42)
https://stripe.com/docs/payments/save-and-reuse?platform=react-native#react-native-collect-card-details

[code]

**Expected behavior**
The Billing address should get saved with the card.

**Screenshots**
When checking the stripe portal and checking the card that wa

[2021-08-03 03:10] m-salamon commented on #239
You are using an old Gradle Version I would recommend updating to a newer version preferably released after May 2021 and see what happens.

[2021-08-03 05:46] vivekmahato26 opened #483 "React native App Crashes after start."
**Describe the bug**
I am building an eCommerce app with Pure React Native without Expo.
The app runs perfectly until I install the stripe/stripe-react-native package. The Gradle build works fine along with the meteor server but the app crashes immediately without any warnings or errors.
when I ran adb logcat the following error message was there: -
 "java.lang.NoClassDefFoundError: Failed resolut

[2021-08-03 06:26] arekkubaczkowski commented on #476
@togonow  that's great you've managed you solve your issue, however this is a very common thing while upgrading cococapods dependencies and it's not related to this library at all.

[2021-08-03 07:34] #476 closed

[2021-08-03 07:34] #83 closed

[2021-08-03 14:20] denny7 commented on #474
Hi @thorsten-stripe. Thanks for answer.

I've reworked my Payment logic and now I've got different screens for both credit cards.
Now I have problem with second card again. When I try to call `confirmPayment` it gives me this response:

[code]

The screens for the first and the second credit cards are almost same. The first one was processed successfully but the second throws this error. I've coll

[2021-08-03 20:50] babyrusa commented on #239
@m-salamon  I have been trying since yesterday to upgrade Gradle and Android studio but there was a few issues with compilations which have not been resolved
However I want t come back and comment that I WAS able to send a few one-time transaction just fine followed by the stripe-react-native tutorial. However when I started adding like receipt-email/custom email this issue started to happen. I co

[2021-08-04 01:01] babyrusa commented on #435
I agree with @fdelacruzsoto

[2021-08-04 09:48] TommasoTate opened #488 "ApplePay: Confirm payment on the server"
Our implementation needs to tokenize ApplePay and GooglePay payment methods in order to process the payment server side.

As recently added for `useGooglePay` (https://github.com/stripe/stripe-react-native/pull/441), I wonder if there's already a timeline for adding a `createApplePayPaymentMethod` function to `useApplePay` hook.
If not, I would ask if there's any workaround we can follow in order

[2021-08-04 17:50] trex-quo opened #492 "[Bug] Incorrect typing import on useGooglePay hook, type information lost"
**Describe the bug**
Type information is being lost on the `useGooglePay` hook, as it is incorrectly being importing `GooglePay` types.

The file `stripe-react-native/lib/typescript/src/hooks/useGooglePay.d.ts` imports  the `GooglePay` types as follows:
`import type { GooglePay } from './src/types';`
which is incorrect. The file should be imported as follows instead:
`import type { GooglePay } fro

[2021-08-05 08:04] thorsten-stripe commented on #488
@TommasoTate Apple Pay automatically returns the payment method when `presentApplePay` resolves: https://stripe.dev/stripe-react-native/api-reference/modules.html#ApplePayResult

You can then send the payment method to your server and charge it there. Afterward you will need to return the `client_secret` of your PaymentIntent to your client and call `confirmApplePayPayment` with it in order to clo

[2021-08-05 08:04] #488 closed

[2021-08-05 08:13] thorsten-stripe commented on #492
Thanks for catching this @trex-quo

[2021-08-05 08:18] thorsten-stripe commented on #481
Hm, I'm not able to reproduce. What versions are you using?
![image](https://user-images.githubusercontent.com/23213994/128316521-3226280d-e77c-4d62-8df9-0663732a25c5.png)

[2021-08-05 09:49] #492 closed

[2021-08-05 12:07] elco45 commented on #481
I just updated the module on my project to the latest version and I'm still getting the issue.

I'm also getting an ephemeral with the apiVersion at '2020-08-27' as observed in the [example](https://github.com/stripe/stripe-react-native/blob/master/example/server/index.ts).

Does it have to do with any configuration I have set up in the stripe dashboard? The bank account I'm currently using is lin

[2021-08-05 14:15] semenetsvladislav opened #494 "Lower case letters for Canadian postcodes in payment modal leads to an issue"
**Describe the bug**
Lower case letters for Canadian postcodes in payment modal leads to an issue
Found the same issue was here https://github.com/stripe/stripe-android/issues/2302
The same behaviour we have in this module now

**Expected behavior**
We should capitalise Canadian postal codes.

[2021-08-05 14:15] aec2f opened #495 "Clear data in CardField"
I'm looking to clear the data in the Stripe element Card Field.  But don't see a way to do this via the element.

![image](https://user-images.githubusercontent.com/61921037/128365231-b0977c2c-682a-43b9-8671-621702e97b87.png)

                    <CardField
                        onCardChange={(cardDetails) => {
                            setCardDetails(cardDetails);
                        }}

[2021-08-05 15:28] alexbubly commented on #483
I do have same problem with both iOS and Android projects

[2021-08-05 20:55] matthewmorgan opened #496 "iOS: `isApplePaySupported` initial state should be `null` when using `useApplePay` hook"
**Is your feature request related to a problem? Please describe.**
As a developer, I would like to lay out my UI differently if I _know_ Apple Pay is not supported, as opposed to when I am _waiting_ to find out.

**Describe the solution you'd like**
Ideally, the `isApplePaySupported` field would be `null`, and updated to `false` or `true` when support status is known.   Apple's HID guidelines stat

[2021-08-06 09:00] soulzidda commented on #438
@pro030  did you manage to resolve this?

[2021-08-06 09:09] pro030 commented on #438
Yes ,
basically i moved my StripeProvider from App.js to my PaymentScreen .
Somehow, StripeProvider context wasn't carrying on to the PaymentScreen.js and was being lost.

[2021-08-06 10:31] soulzidda commented on #438
Perfect will give this a try thank you :) was knocking my head against a brick wall

[2021-08-06 12:50] Pavel-Ananich opened #497 "Undefined symbols for architecture x86_64:"
**Describe the bug**
I installed stripe/stripe-react-native to the react-native project, where the expo-payments-stripe was installed. I removed expo-payments-stripe and faced this errors:

![Снимок экрана 2021-08-06 в 15 41 16](https://user-images.githubusercontent.com/86955927/128511850-72c0a066-4df7-465d-945a-6c6ded6b3d77.png)

I found this in docs: [https://github.com/stripe/stripe-react-nativ

[2021-08-06 12:52] #497 closed

[2021-08-06 13:24] Pavel-Ananich opened #498 "stripe/stripe-react-native: Undefined symbols for architecture x86_64"
At first, the project was at the expo. It used expo-payments-stripe. Then we switched to react-native. I installed stripe/stripe-react-native, removed expo-payments-stripe, but after pod install I encountered such errors:

![Снимок экрана 2021-08-06 в 16 15 50](https://user-images.githubusercontent.com/86955927/128515867-26bc2bd6-615b-420b-a419-5e1c8c1eac34.png)

I found this solution in docs:

![

[2021-08-06 16:47] jalbertsr commented on #315
This same issue keeps happening to me, and I'm following exactly as it is explained in your [docs](https://stripe.com/docs/payments/accept-a-payment?platform=react-native&ui=payment-sheet-custom). I was using version 1.4 and I did saw this issue was apparently solved in 1.5, so I update to 2.0.0. But it keeps happening :(

I'm using the `StripeProvider` wrapping my component, inside my `useEffect`

[2021-08-06 23:24] cebrakadabra commented on #498
@Pavel-Ananich I ran into the same issue. For me the fix was `disabling` and/or `removing` your AppTestTarget from xcode and also in case you have it linked in your Podfile.

Since then everything works. I am about to comment that also on other issues.

[2021-08-06 23:26] cebrakadabra commented on #475
@thorsten-stripe I was following all the instructions and still wasn't able to build. What resolved it for me was:

`Disabling` and/or `removing` the AppTestTarget from xcode and also in case you have it linked in your Podfile.

Since then everything works. Not sure if TestTargets can also have the library_search_path issue as described. I wasn't using the TestTarget, so for me this is fine to use

[2021-08-07 10:11] Pavel-Ananich commented on #498
@cebrakadabra A search in xcode AppTestTarget yielded no results. Can you tell me where to find the AppTestTarget?

[2021-08-08 19:11] crosshat commented on #421
Same issue here. Using expo to run the app on a physical device. Works fine on my i phone but crashes on my android. If I remove the <StripeProvider> it works again on andrroid.

[2021-08-09 01:48] flora8984461 commented on #253
Hi, I am still having this issue, and I confirmed my deployment target is >= 11, and did all the steps to clean cache.
And I can run it with yarn run ios, but not with Xcode.

My react-native is 0.64.1, "@stripe/stripe-react-native" is "0.2.0".
Xcode is v12.5

Any help is really appreciated.

[2021-08-09 09:26] simonmitchell commented on #447
This is definitely a requirement of this SDK. What happens if our call to get a client secret from the server fails? Currently, we have to wait for the Apple Pay UI to timeout itself and disappear, we really need a way to programmatically dismiss it!

[2021-08-09 12:21] KhawajaAsim commented on #498
@Pavel-Ananich follow this link, see if this works for you
https://github.com/stripe/stripe-react-native#troubleshooting

[2021-08-09 13:19] cristeahub commented on #355
@arekkubaczkowski I want to draw attention to https://github.com/stripe/stripe-android/issues/3290 also being closed pointing here, while the issue is still real for users like myself. Please reconsider reopening again.

@michelleb-stripe I have this issue and I am using `launchMode="singleTask"`. My current React Native app will not work if I change my launchMode, I am unable to use `defaultLaunc

[2021-08-09 14:57] Pavel-Ananich commented on #498
Managed to solve this by this guide: [https://www.youtube.com/watch?v=XnjA8PlwFIc&t=1697s&ab_channel=VadimSavin](url)

But get the same issue: [https://githubmemory.com/repo/stripe/stripe-react-native/issues/467](url)
The only difference - I don't use Expo. And can't solve this issue by updating Expo

[2021-08-09 15:00] Brotakuu commented on #449
I believe this is the same issue as https://github.com/stripe/stripe-react-native/issues/391

[2021-08-09 16:23] Hannah314 opened #499 "PaymentMethod return undefined"
On handlePayPress my createPaymentMethod returns {error: undefined, paymentMethod: undefined}.

"expo": "^41.0.0",
"stripe/stripe-react-native": "^0.2.0"

[code]

[2021-08-09 16:58] #499 closed

[2021-08-09 16:58] Hannah314 commented on #499
Updated expo to SDK 42

[2021-08-10 01:22] Legym opened #502 "[ERROR] Cannot call a class as a function"
Hey everyone.

In my Expo App, I am fetching the clientSecret from my `paymentIntents` endpoint. I get my clientSecret but when i pass it into a function i receive the error `Cannot call a class as a function`. I am trying to call confirmPayment from the useConfirmPayment hook.

package.json
[code]

React Component
[code]

I've been following [examples ](https://github.com/stripe/stripe-react-nati

[2021-08-10 01:30] Legym commented on #502
I stepped into the `useConfirmPayment` hook and noticed this error. I'm not sure what details i need to pass in. This may explain my original issue.

![image](https://user-images.githubusercontent.com/4462368/128794586-664706e5-c490-4ad3-a1c8-3bc785809f75.png)

[2021-08-10 02:50] Legym commented on #502
Im digging further into the issue and found the thread with the same exact issue as me

https://github.com/stripe/stripe-react-native/issues/371

I've upgraded `@stripe/stripe-react-native` to `"@stripe/stripe-react-native": "^0.2.0",`.

However i am still receiving the error. on my android simulator my app crashes whenever it tries to `confirmPaymentMethod` hook.

[2021-08-10 03:18] Legym commented on #449
I wanted to comment and saw that i am also seeing this issue. Expo SDK 42 i.e `"expo": "~42.0.1",` installs  `"@stripe/stripe-react-native": "^0.1.4"` by default. Using the `<CardField />` component does cause iOS to crash.

[2021-08-10 03:45] Legym commented on #449
I copied this code from this [Stripe Example](https://github.com/stripe/stripe-react-native/blob/4b0bcc461ec3a3bdce90b71332d241da03ed943b/example/src/screens/SetupFuturePaymentScreen.tsx)

When i run `expo start -c` and load it on my ios devices (and simulator!) this is the screen i get when i submit the payment. I am using expo SDK 42.

![Image from iOS](https://user-images.githubusercontent.com/

[2021-08-10 07:03] Brotakuu opened #503 "Include stripe-react-native 0.2.0 in Expo 43"
There are many breaking issues in the current version of stripe 0.1.4 that is supported by Expo. We are using this in production and users are reporting frequent crashes (ie: cardField always crashes iOS 12).

I've tried reaching out to expo support, discord and creating a request  https://github.com/expo/expo/issues/13979 but haven't had a response.

Is there someone on stripe that can reach out

[2021-08-10 07:28] arekkubaczkowski commented on #498
@Pavel-Ananich thats great you've managed to solve your issue, however this is also described here https://github.com/stripe/stripe-react-native#undefined-symbols-for-architecture-x86_64-on-ios
regarding your current error, what version of RN are you using?

[2021-08-10 07:32] arekkubaczkowski commented on #502
@Legym Expo requires specific version of `stripe-react-native` library as described here https://github.com/stripe/stripe-react-native#expo.
Regarding the error about the card details that are not completed, do you use CardField or CardForm component on the same screen as you proceed the payment?

[2021-08-10 07:38] arekkubaczkowski commented on #449
@Legym this is related to this https://github.com/stripe/stripe-react-native/issues/440, this is fixed already in the latest library version, unfortunately you need to wait for the next release of expo to get this fixed there. However this is related to the react-native version which doesn't support certain methods which library uses yet, so you are able to fix it on your own by upgrading RN to 0.

[2021-08-10 07:42] semenetsvladislav commented on #494
@arekkubaczkowski @thorsten-stripe any updates here? Will it be fixed in future?

[2021-08-10 07:43] arekkubaczkowski commented on #494
@michelleb-stripe can you take a look on this?

[2021-08-10 08:00] ayhoung opened #504 "Support for automated end to end client testing with id matching elements"
**Is your feature request related to a problem? Please describe.**
I'm trying to insert data into the Stripe CardField element for automated e2e testing via testID

**Describe the solution you'd like**
CardField inputs should provide a testID element to help e2e tests identify relevant fields i.e.
`await element(by.id('ccInput')).typeText('42424242424242')`

**Describe alternatives you've consider

[2021-08-10 08:05] arekkubaczkowski commented on #504
ID's of particular text inputs are hardcoded already and there is no way to override them, you can check them in our e2e tests: https://github.com/stripe/stripe-react-native/blob/master/e2e/screenObject/components/CardField.ts#L2

[2021-08-10 09:18] #471 closed

[2021-08-10 09:56] ayhoung commented on #504
@areitz-stripe  thank you, but I'm having trouble understanding which id to use in this scenario. I've tried using `card_number_edit_text` and `card number` and `cardNumberEditText` but all have returned with:

Test Failed: No elements found for “MATCHER(identifier == “<testID>”)”

[2021-08-10 10:17] arekkubaczkowski commented on #504
please check this out: https://github.com/stripe/stripe-react-native/pull/108/files#diff-82e000665a6972a7215983a325695d7874c31230014415818c837faa5bfa8343R14

[2021-08-10 10:39] Pavel-Ananich commented on #498
@arekkubaczkowski I know where it's described, I even attached screenshot with this solution, you can see it higher. But I couldn't follow this steps in a correct way, and in video I saw how to do it. But now I got this error: Invariant Violation: Native module cannot be null. My version of RN also specified higher. It's 0.63.3

[2021-08-10 10:59] ayhoung commented on #504
amazing thank you so much!!

[2021-08-10 11:14] Pavel-Ananich commented on #498
App is working when this line is commented:
![Снимок экрана 2021-08-10 в 14 11 19](https://user-images.githubusercontent.com/86955927/128856965-557a8bec-a0d3-4238-bbb1-551ed111ee76.png)

But when I try to import Stripe Provider, got this error:
![Снимок экрана 2021-08-10 в 14 12 23](https://user-images.githubusercontent.com/86955927/128857091-ee5b7a54-4d23-4eb5-a5d2-87738776445a.png)

package.json

[2021-08-10 13:10] juanma16062001 commented on #364
Hey there! I'm about to start migrating if everything goes fine and @richkuo hasn't already wrote the guide, i will be happy to contribute.

[2021-08-10 14:10] Legym commented on #502
Thanks @arekkubaczkowski. Expo 42 only installs `"@stripe/stripe-react-native": "^0.1.4" by default.

I am using Apollo for my request. When the user submits their request, my backend creates the `stripe.paymentsIntents`. I do receive my `clientSecret` which is sent back to my App.

`CardField` is in the same component as my request. The part of code that crashes my app is this

[code]

Whenever i

[2021-08-10 14:14] Legym commented on #502
I read another comment by you and it looks like Expo needs to update stripe-react-native to v0.2.0 for Expo 43. (Currently using SDK 42)

[2021-08-10 14:16] cruzach commented on #449
This fix won't land in Expo Go until our next release (SDK 43), but you can get it in your standalone app built with `eas build` since that picks up whatever version of `react-native` and `@stripe/stripe-react-native` you have set in package.json

[2021-08-10 14:50] thorsten-stripe commented on #503
This is already planned, see more details here: https://github.com/stripe/stripe-react-native/issues/449#issuecomment-896068092

[2021-08-10 14:54] thorsten-stripe commented on #502
@Legym it looks like you're trying to call `confirmSetupIntent` on a PaymentIntent `client_secret`. For PaymentIntents you will need to use `confirmPayment` instead.

[2021-08-10 15:00] thorsten-stripe commented on #498
@Pavel-Ananich does `pod install` run successfully for you?

[2021-08-10 18:48] souhe commented on #421
@ruida-shen Expo doesn't support @stripe/stripe-react-native with `expo build`. See the documentation here - https://docs.expo.dev/versions/latest/sdk/stripe/#standalone-apps

If you need a standalone iOS build please use [EAS build](https://docs.expo.dev/build/introduction/). Remember to configure the stripe plugin correctly - https://docs.expo.dev/versions/latest/sdk/stripe/#config-plugin-setup-

[2021-08-10 19:05] souhe commented on #361
@rchoffar This si probably connected with https://github.com/stripe/stripe-android/issues/3952

In @stripe/stripe-react-native we bumped the stripe-android version to the one with a possible fix. Can you please try to update @stripe/stripe-react-native to `0.2.0` and check it the error is still there?

[2021-08-10 21:15] crosshat commented on #421
@souhe I fixed the issue. In my case if I use `<StripeProvider>` in the render it worked fine on IOS and crashed the app on Android. So instead of using `<StripeProvider>` in the render I imported the `initStripe()` method and initilized it in my useEffect hook. `useEffect(() => {
        setIdealBank('abn_amro');
        initStripe({
            publishableKey,
            merchantIdentifier: 'me

[2021-08-10 21:45] Legym commented on #502
Thanks @thorsten-stripe.

In my original post I was using the `useConfirmPayment` hook and calling `confirmPayment(clientSecret)`.
I was following this [example ](https://github.com/stripe/stripe-react-native/blob/4b0bcc461ec3a3bdce90b71332d241da03ed943b/example/src/screens/AlipayPaymentScreen.tsx#L40)

I thought i was perhaps using the wrong function and copied code from this [example](https://gi

[2021-08-11 03:07] thorsten-stripe commented on #502
@Legym can you try out this example and see if it works for you? https://github.com/stripe-samples/accept-a-payment/blob/main/custom-payment-flow/client/react-native-expo/Card.tsx

[2021-08-11 04:06] thorsten-stripe opened #505 "Enhance the payment sheet DX"
You can `initPaymentSheet` with bad params and it either crashes or does not validate and return an error. Validating the params passed and ensuring a developer-friendly error message is returned is vital as it helps users self-serve to correct themselves.

- Case A: pass `customerEphemeralKeySecret: “123”` on initPaymentSheet(), the SDK does not return an `error`, instead tries to present Payment

[2021-08-11 08:08] arekkubaczkowski commented on #482
you provided wrong structure of billing details, please refer to the documentation  https://stripe.dev/stripe-react-native/api-reference/modules/PaymentMethodCreateParams.html#BillingDetails

[2021-08-11 08:10] #482 closed

[2021-08-11 08:15] arekkubaczkowski commented on #483
@vivekmahato26 does your project meet all sdk's requirements https://github.com/stripe/stripe-react-native#android ?
if so, please provide some more pieces of information about your error since
 `"java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/common/internal/zzbq;"`
 doesn't say much and seems to not be related to the SDK.
@alexbubly what is your exact problem? this

[2021-08-11 08:39] arekkubaczkowski commented on #475
@theprogra can you also try this one? https://github.com/stripe/stripe-react-native/issues/387#issuecomment-879006851

[2021-08-11 08:40] Pavel-Ananich commented on #498
@thorsten-stripe Yes

[2021-08-11 08:43] arekkubaczkowski commented on #498
@Pavel-Ananich can you check your `ios/Pods` directory if it contains `stripe-react-native` folder there?

[2021-08-11 08:45] arekkubaczkowski commented on #498
if so, please also try to clean build folder and build your app again. (`Product -> clean build folder`)

[2021-08-11 08:56] Pavel-Ananich commented on #498
![Снимок экрана 2021-08-11 в 11 56 16](https://user-images.githubusercontent.com/86955927/129000401-18623f45-8e0e-4cd6-82d2-4dd6d7caf9da.png)

No, it should be?

[2021-08-11 08:57] ayhoung commented on #504
@areitz-stripe i don't seem to see an equivalent for postal code?
[code]
this is what is in the file,

but no postal code test.

I've tried
[code]

but it doesn't seem to work

[2021-08-11 09:01] arekkubaczkowski commented on #498
yes it should, but can you can check subfolders as well?

[2021-08-11 09:04] arekkubaczkowski commented on #504
@ayhoung I think it's missing in stripe-ios sdk https://github.com/stripe/stripe-ios/blob/fabd7ebe14052d505466ffe824b49eeab3778501/Stripe/STPPaymentCardTextField.swift#L697
you need to try to workaround this somehow, e.g. by looking for all of the fields and getting the last one

[2021-08-11 09:05] arekkubaczkowski commented on #478
@togonow are you checking it on ios simulator right? It seems to be an issue with some simulator behavior itself, when you change country in system settings it starting to work as expected. It works on real device as expected.

[2021-08-11 09:05] #478 closed

[2021-08-11 09:22] #479 closed

[2021-08-11 09:31] arekkubaczkowski commented on #421
I assume that everything is clear and works as expected. @crosshat feel free to create another issue if you have any problem.

[2021-08-11 09:31] #421 closed

[2021-08-11 09:41] arekkubaczkowski commented on #477
@trta2352 can you check if `0.2.0v` resolves your issue?

[2021-08-11 09:54] Pavel-Ananich commented on #498
![Снимок экрана 2021-08-11 в 12 52 49](https://user-images.githubusercontent.com/86955927/129008957-c402429a-4da9-414f-b686-37d5cebeb953.png)

It works! I simply forgot to delete expo-payments-stripe after following the steps from here: https://github.com/stripe/stripe-react-native#troubleshooting

[2021-08-11 09:55] #498 closed

[2021-08-11 10:34] #504 closed

[2021-08-11 10:37] arekkubaczkowski commented on #495
you need to use `ref` and call `clear` method on this. Please check this pr description https://github.com/stripe/stripe-react-native/pull/337

[2021-08-11 10:37] #495 closed

[2021-08-11 10:41] arekkubaczkowski commented on #429
it's already fixed in `0.2.0v`

[2021-08-11 10:41] #429 closed

[2021-08-11 10:45] arekkubaczkowski commented on #333
@manish-shukla01 please make sure that you removed `library search paths` both for debug and release mode. Closing due to inactivity, feel free to open if you still having this issue.

[2021-08-11 10:45] #333 closed

[2021-08-11 10:47] arekkubaczkowski commented on #303
this is already fixed in `0.2.0v`

[2021-08-11 10:47] #303 closed

[2021-08-11 12:49] maxgenest commented on #239
I have the same issue here only on android. The issue happens only with 3D secure cards (such as 4000 0000 000 3220 card).

here is my CardField :

[code]

my handleSubmitCard :

[code]

and the cardDetails juste before the createPayementMethod :

`cardDetails1 {last4: "3220", expiryMonth: 11, expiryYear: 22, complete: true, brand: "Visa"}`

Again, I have no issue on iOs or with the 4242 4242 4242

[2021-08-11 13:26] aec2f commented on #495
Thanks! Although I'm using expo so it appears I have to wait for the release of expo 43 to get this?  I tried just updating the package to 0.2.0 but that I get the error "No command found with name "clear"".  Although the ref.current seems to have it:
Object {
  "blur": [Function blur],
  "clear": [Function clear],
  "focus": [Function focus],
}

[2021-08-11 15:00] misbahkhalilaz opened #507 "Looking for a method to clear card fields."
**Scenario:**
If the user has filled card fields and navigates to another screen without submitting the card, all card fields remain filled when the user comes back to add card screen. I just need to clear them in cases like when the user is logged out.

_**Is there any method or workaround to clear input fields?**_

using version: 0.1.4

[2021-08-11 15:30] hierror opened #508 "Card details not complete when using confirmPayment"
**Describe the bug**
After navigating through my app and entering the payment screen, my payments always fails with the message `Card details not complete`, which is exactly the same error that these other issues were reporting: #350, #371 and #502. This error was supposed to be fixed after the [release of v0.2.0](https://github.com/stripe/stripe-react-native/issues/391#issuecomment-884033869), bu

[2021-08-11 15:32] hierror commented on #502
I believe that this error could be related to my [issue](https://github.com/stripe/stripe-react-native/issues/508#issue-966937141), since the `Card details not complete` is also showing up right here.

[2021-08-11 15:58] arekkubaczkowski commented on #507
You can use this https://github.com/stripe/stripe-react-native/issues/495#issuecomment-896711037

[2021-08-11 15:59] #507 closed

[2021-08-11 17:59] melomontoya commented on #341
I'm facing this same issue, added Stripe tru package manager and it gives the same error :C
![Captura de Pantalla 2021-08-11 a la(s) 12 56 50](https://user-images.githubusercontent.com/6599630/129079653-36760d34-dc7b-4df8-82f9-407c6a2d8c12.png)
![Captura de Pantalla 2021-08-11 a la(s) 12 57 00](https://user-images.githubusercontent.com/6599630/129079654-459cab9b-e330-42d1-b761-7f311ef52325.png)
![

[2021-08-12 02:56] panda919 opened #509 "CardForm occur crash on react native android"
**Describe the bug**
I tried to use CardForm, But app is crashed
**To Reproduce**
Steps to reproduce the behavior:
<View>
<CardForm
            onFormComplete={cardDetails => {
              console.log('card details', cardDetails);
            }}
            style={{ height: 200 }}
          />
</View>

**Screenshots**
![image](https://user-images.githubusercontent.com/25161426/129131407-924d2836

[2021-08-12 03:33] #385 closed

[2021-08-12 05:58] arekkubaczkowski commented on #509
as a workaround you can change in your styles.xml `parent` to `Theme.MaterialComponents.Light.NoActionBar` like:
[code]
@michelleb-stripe is it real requirement for CardFormView or can be omitted somehow?

[2021-08-12 06:19] trta2352 commented on #477
I will upload the new version  to Google Play store today. Probably wont get no if it fixed the problem by the end of the week.

[2021-08-12 06:45] #505 closed

[2021-08-12 06:48] arekkubaczkowski commented on #508
@hierror as I am not able to reproduce it on my env, can you provide more information about your env details? also please provide code snippet of your implementation so that I can take a look on it closer

[2021-08-12 06:57] arekkubaczkowski commented on #508
We changed the modules communication approach so it's not the case right now

[2021-08-12 07:05] akhilsanker opened #510 "Attempt to invoke interface method 'int java.lang.CharSequence.length()' on a null object reference"
**Describe the bug**
Unable to run android after installing the plugin. Getting an error while running in android:
'Attempt to invoke interface method 'int java.lang.CharSequence.length()' on a null object reference'

**To Reproduce**
Steps to reproduce the behavior:
1. npm install @stripe/stripe-react-native
2. then npx react-native run-android

**Expected behavior**
Run the existing android proj

[2021-08-12 07:11] arekkubaczkowski commented on #510
@akhilsanker does your project meet all requirements? https://github.com/stripe/stripe-react-native#android

[2021-08-12 07:20] akhilsanker commented on #510
@arekkubaczkowski ,

Thanks for the quick response.

Yes, project meets the requirements.

android/build.gradle:

[code]

Thank you.

[2021-08-12 07:30] arekkubaczkowski commented on #510
@akhilsanker this error doesn't looks like anything related to stripe sdk, can you try to clean caches, reinstall deps etc.?

[2021-08-12 07:33] arekkubaczkowski commented on #475
closing due to inactivity, @theprogra feel free to reopen if you still having this issue

[2021-08-12 07:33] #475 closed

[2021-08-12 07:36] akhilsanker commented on #510
@arekkubaczkowski ,

Will try and let you know.

Thanks.

[2021-08-12 08:05] arekkubaczkowski commented on #502
@hierror not really, @Legym uses Expo so there is no refactor yet which fixes `Card details not complete` issue

[2021-08-12 09:02] akhilsanker commented on #510
Hi @arekkubaczkowski ,

I tried the following steps:

1. Deleted node module and reinstall node module including @stripe/stripe-react-native
2. Reseted npm cache
3. Cleaned android gradle.
4. After  npx react-native run-android I got the same error as mentioned.
5. There was no error after uninstalling '@stripe/stripe-react-native' and running it again with npx react-native run-android.
6. Tried i

[2021-08-12 09:04] arekkubaczkowski commented on #510
@akhilsanker can you open in android studio `File->Project Structure` and check given versions?

[2021-08-12 09:06] akhilsanker commented on #510
@arekkubaczkowski ,

<img width="1004" alt="Screenshot 2021-08-12 at 2 36 13 PM" src="https://user-images.githubusercontent.com/32122016/129170186-063d7951-5682-4e60-927b-1d172a494013.png">

Please find the attached screenshot.

Thanks.

[2021-08-12 09:09] arekkubaczkowski commented on #510
it's kinda weird that it doesn't work with a new init project, the last thing which comes to my mind is to clear caches in android studio, please do the following: `file -> invalidate caches / restart`

[2021-08-12 10:08] #364 closed

[2021-08-12 10:14] #496 closed

[2021-08-12 10:31] #468 closed

[2021-08-12 10:45] thorsten-stripe commented on #364
Thanks everyone for offering your help. Would appreciate if you could look at https://github.com/stripe/stripe-react-native/pull/512 and let us know if it looks good. Thanks 🙏

[2021-08-12 12:48] hierror commented on #508
Sure, I'm using the CardField in the same view that I am currently invoking this function below. When I navigate back and forth between the different screen of my app, I always receive `Card details not complete` when making a payment. Could it be related to the CardField unmounting?

[code]

[2021-08-12 14:08] the-habu commented on #253
I have the same problem, please give advice or maybe reopen the ticket.

[2021-08-12 15:35] Pavel-Ananich opened #515 "Errors in doc's code"
**Describe the bug**
Errors in doc's code

You will have errors, if you copy this code: https://stripe.com/docs/payments/accept-a-payment?platform=react-native&ui=payment-sheet-custom#:~:text=before%20displaying%20the%20payment%20sheet%2C%20your%20checkout%20page%20should
1. If you don't use TypeScript, you have to rewrite this:
![Снимок экрана 2021-08-12 в 18 22 30](https://user-images.githubuser

[2021-08-12 15:49] Pavel-Ananich opened #516 "Card field isn't closing"
**Describe the bug**
Can't close cardfield. It doesn't respond to pressing the x button. Also it  doesn't respond to pressing "Add card" button. And even after reloading app it's still visible
Screenshot after reloading:
![Снимок экрана 2021-08-12 в 18 46 04](https://user-images.githubusercontent.com/86955927/129227149-56f5929c-2747-4b83-931f-98f16b030937.png)

**To Reproduce**
Steps to reproduce

[2021-08-12 15:59] thorsten-stripe commented on #516
Please provide details about your RN, Expo (if applicable), and stripe versions. E.g. providing the content of your `package.json` file is helpful. Thanks.

[2021-08-12 17:56] aaronSig commented on #355
I'm having the same issue.

To recreate:
- Initiate payment
- Leave the app to check for a 3D secure SMS.
- Re-open the app by clicking on the app icon on the home screen

The payment errors out with "Failed to retrieve a PaymentSheetResult".

However, if you instead resume the app from the Android Task Switcher everything works as expected.

My manifest looks like:
[code]

I believe you're right

[2021-08-12 19:13] panda919 commented on #509
Thanks. It is working now

[2021-08-12 19:15] #509 closed

[2021-08-12 19:22] panda919 opened #517 "CardForm onFormComplete occure undefined for all case"
**Describe the bug**
I tried to use card form on react native android
**To Reproduce**
 <CardForm
            onFormComplete={cardDetails => {
              console.log('card form', cardDetails);
            }}
            style={{ height: 200 }}
          />

**Expected behavior**
I have to fetch correct input value on onFormComplete
![image](https://user-images.githubusercontent.com/25161426/129

[2021-08-12 19:34] arekkubaczkowski commented on #509
@thorsten-stripe we should add this information to the docs as a requirement

[2021-08-12 19:36] arekkubaczkowski commented on #517
@panda919  you can have one Card component on the same screen

[2021-08-12 19:38] panda919 commented on #517
Yeah, I tried one component mode. But I got the same error

[2021-08-12 23:19] fgkrieger13 commented on #508
I have also been experiencing this issue with 'card details not complete' on confirmPayment(). I went so far as to remove the CardField and use 'react-native-vertical-credit-card-input' then retouch all of my cardDetails to match the format shown in Stripes docs. I'm successfully creating customers and subscriptions with the clientSecret being returned, but whenever I run the confirmPayment I'm hi

[2021-08-13 01:48] hjwlpjr opened #519 "confirmPayment() show hooks.stripe modal and need closed manually"
Hi, I have a question.

Currently I integrate the card field element and make a payment, but after call the confirmPayment function it actually open some modal like shown in attachment.

how to auto close or disable this? is this only happening for development environment? I need to manually press close button before Stripe can return the success/error object.

Note: I also implement the webhook o

[2021-08-13 05:54] arekkubaczkowski commented on #508
@fgkrieger13 you can't use 3rd party components for collecting card details, `confirmPayment` and other payment methods don't accept `cardDetails` property, for PCI compliance reason library hand it over under the hood.
if you face with `card details not completed` error using CardField or CardForm, please provide information about your env, library versions, and expo if applicable

[2021-08-13 06:12] arekkubaczkowski commented on #516
@Pavel-Ananich snippet of your code also would be helpful

[2021-08-13 06:55] arekkubaczkowski commented on #517
@panda919 you should set higher height of CardForm because there is one more hidden field, `height: 350` should be enough

[2021-08-13 06:56] #517 closed

[2021-08-13 07:06] arekkubaczkowski commented on #508
@hierror please make sure that you've upgraded library properly and all of the changes are applied, after last refactor those changes shouldn't have any impact on how library works

[2021-08-13 08:29] Pavel-Ananich commented on #516
"react": "16.13.1",
"react-native": "0.63.3",
"@stripe/stripe-react-native": "^0.2.0",

the whole file:
{
  "name": "HebePilates",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "android": "react-native run-android",
    "ios": "react-native run-ios",
    "start": "react-native start",
    "test": "jest",
    "lint": "eslint ."
  },
  "dependencies": {
    "@eva-design/eva": "^2.0.0",

[2021-08-13 08:34] Pavel-Ananich commented on #516
![Снимок экрана 2021-08-13 в 11 32 52](https://user-images.githubusercontent.com/86955927/129328851-4844a34b-cfb7-43fb-aeda-5424783278b1.png)

![Снимок экрана 2021-08-13 в 11 33 11](https://user-images.githubusercontent.com/86955927/129328895-e8913aca-482e-4469-a328-ab5bc3168f0e.png)
![Снимок экрана 2021-08-13 в 11 33 50](https://user-images.githubusercontent.com/86955927/129328983-b1f51a06-c787-4

[2021-08-13 08:41] thorsten-stripe commented on #519
To automatically dismiss the webview when authentication is finished, configure a custom URL scheme or universal link and set your scheme in the urlScheme parameter: https://stripe.com/docs/payments/3d-secure#when-to-use-3d-secure

[2021-08-13 08:41] #519 closed

[2021-08-13 09:51] arekkubaczkowski commented on #341
Fix will be available within the next release

[2021-08-13 09:51] #341 closed

[2021-08-13 09:58] arekkubaczkowski commented on #516
what you mean? this library is available using expo and without, if your project uses Expo please follow instruction how to install it properly https://github.com/stripe/stripe-react-native#expo

[2021-08-13 12:12] Pavel-Ananich commented on #516
I fixed problem, you can remove this issue

[2021-08-13 12:23] #516 closed

[2021-08-13 12:32] migue1s commented on #448
In case anyone else stumbles on this. using the `CardInput` is writing the card data into the singleton. The `createToken` function will read from the singleton and create a token from there, that's the reason it doesn't accept params other than `{ type: 'card' }`

[2021-08-13 12:44] hierror commented on #508
I updated the library to the version v.0.2.0 and the error kept ocurring. Thus, I downgraded the version to v0.1.5 and applied the changes suggested on #379, which fixed the error. Yet, I do know that those changes could cause unexpected behavior, which makes them not really helpful. I think that we are having some trouble with the component `CardField` mounting and unmounting, since this error on

[2021-08-13 12:50] arekkubaczkowski commented on #508
@hierror ok thanks, we will take a look on this again

[2021-08-14 21:35] darkrideroffate commented on #459
I have the same issue it's only in dark mode.

- Device: Samsung Galaxy A7 (2018)
- OS: Android 10

[2021-08-16 15:09] joartola commented on #253
Having the same issue, did not work using yarn and de prerequisite of delete node_modules etc

[2021-08-16 15:50] joartola commented on #253
Could you resolve the issue?

[2021-08-16 15:56] panda919 opened #522 "I can not use china union pay"
**Describe the bug**
I tried to call ConfirmPayment by using Card
**To Reproduce**
"your card is not supported. please use a visa,MasterCard or American express card"
 const { error, paymentIntent } = await confirmPayment(paymentClientSecret, {
        type: 'Card',
      });

It is test card for china union pay
8171999927660000 | 10/2030 | 737
![image](https://user-images.githubusercontent.com/25

[2021-08-16 16:25] joartola commented on #253
Could solve the issue with the following config:

![image](https://user-images.githubusercontent.com/31057068/129596869-0a995c58-dc23-41e1-932c-b572b77c1b44.png)

` post_install do |installer|
    react_native_post_install(installer)
    installer.pods_project.targets.each do |target|
      target.build_configurations.each do |config|
       config.build_settings["EXCLUDED_ARCHS[sdk=iphonesimulato

[2021-08-16 17:03] flora8984461 commented on #253
@joartola Thanks for checking and offering me advice. I did not try last week, I think before I tried this:
[code]
and it claimed another error, I'll try again this week to see.

I have another working project which is ejected from expo, the react-native version is "~0.63.4", and react version is  "react": "16.13.1", stripe version is"@stripe/stripe-react-native": "^0.1.4". And this working one do

[2021-08-17 07:19] tamarinda commented on #459
I have been able to solve this by adding setting the `textColor` property to the `cardStyle` object. It was not working for me when the cardStyle was created with `StyleSheet.create` probably because `textColor` is not a valid key when using StyleSheet.

[2021-08-17 07:37] jr360codelab commented on #459
Unfortunately it doesn't solve the problem for me, icon is still not visible.

[2021-08-18 05:48] arekkubaczkowski commented on #508
@hierror which library for navigation do you use? I am not able to reproduce it with `react-navigation v5`. Are you able to provide a demo repository where I could reproduce your issue?

[2021-08-18 05:52] arekkubaczkowski commented on #477
@trta2352 please reopen if you still having this problem

[2021-08-18 05:52] #477 closed

[2021-08-18 06:11] arekkubaczkowski commented on #510
@akhilsanker do you have any analytics library installed in your project?

[2021-08-18 06:12] arekkubaczkowski commented on #483
closing due to inactivity, please reopen if you still having issues.

[2021-08-18 06:12] #483 closed

[2021-08-18 16:24] samdetrent opened #526 "useConfirmPayment/confirmPayment hook returning undefined"
![image](https://user-images.githubusercontent.com/5244952/129934995-78352acf-4fd3-47f0-b451-ca3dad1cc589.png)

I'm attempting to use the Stripe RN package's useConfirmPayment hook.

import { CardField, useConfirmPayment } from '@stripe/stripe-react-native';
...
const {confirmPayment, loading} = useConfirmPayment();

when I call confirmPayment, the above error is returned, saying confirmPayment is

[2021-08-18 16:25] arekkubaczkowski commented on #526
please follow expo installation steps https://github.com/stripe/stripe-react-native#expo

[2021-08-18 16:25] #526 closed

[2021-08-18 16:33] samdetrent commented on #526
haha... the very first line... get the correct stripe-react-native version for expo. Amazing what happens when instructions are read.

Thanks @arekkubaczkowski  :)

[2021-08-18 16:56] acatalina opened #527 "Android bundle size"
**Describe the bug**
Not really a bug but the bundle size of our android app has almost doubled since 0.2.0. Wondering if anyone else found this issue?

Guessing is stripe android SDK dependant? Not sure if the issue will be mitigated on 17.1.1? Tried modifying but it errored on build

**Additional context**
React Native 0.64.2
buildToolsVersion 30.0.2
compileSdkVersion 30
targetSdkVersion 30
Grad

[2021-08-19 12:14] tanloiit2010 commented on #83
@bg-stripe @thorsten-stripe I would like to style as below. can I achieve this with CardForm or CardField?
![Screen Shot 2021-08-19 at 19 09 51](https://user-images.githubusercontent.com/5616333/130066544-db48c7bc-26f1-414a-af9f-d4dcf0503cf4.png)

[2021-08-20 00:23] markl-vesper commented on #239
I've also just started process from tipsi to react-native-stripe. Huge amount of work to get all the RN packages updated long with Android build issues as result.

Gradle 6.9
Gradle Plugin 4.1.2

"@stripe/stripe-js": "1.17.0",
"@stripe/stripe-react-native": "0.2.0"

[2021-08-20 00:28] markl-vesper commented on #508
same issue here

I've also just started process from tipsi to react-native-stripe. Huge amount of work to get all the RN packages updated long with Android build issues as result.

Gradle 6.9
Gradle Plugin 4.1.2

"@stripe/stripe-js": "1.17.0",
"@stripe/stripe-react-native": "0.2.0"

When calling

[code]
console log reports

createPaymentMethod response:  {"stripeErrorCode":null,"message":"Card det

[2021-08-20 05:56] souhe commented on #522
Hi @panda919. I was able to reproduce the issue but I need to investigate it more now. I'll let you know about the status of it.

[2021-08-20 10:41] jonasbark opened #528 "Google Pay ON_INIT_GOOGLE_PAY initGooglePayPromise called twice"
Hi!

When integrating the new Google Pay functionality we noticed that this line is called twice:

https://github.com/stripe/stripe-react-native/blob/master/android/src/main/java/com/reactnativestripesdk/StripeSdkModule.kt#L177

caused by using the same callback twice:
https://github.com/stripe/stripe-react-native/blob/master/android/src/main/java/com/reactnativestripesdk/GooglePayFragment.kt#L55

[2021-08-20 16:55] ARYX01 commented on #425
hello, one question if I want to create a new card and not a payment method, what is the difference there?

[2021-08-23 13:54] yungkittty opened #529 "Can't use rgba colors within `cardStyle` props"
**Describe the bug**
The title is already pretty clear. I would also add that `transparent` as color doesn't work.

**To Reproduce**
[code]

**Expected behavior**
It should work but it doesn't (see the screenshot down below)

**Screenshots**
![Screenshot 2021-08-23 at 15 52 44](https://user-images.githubusercontent.com/20394860/130459241-feb6e90c-a761-4ea1-8b79-42cb048aaee0.png)

[2021-08-23 19:48] Gabotron-ES opened #530 "Failed to transform material-icons-extended-1.0.0-rc02.aar"
Hi, I'm getting this error right after installing stripe sdk, if I uninstall and build my app I don't get this error so it must be related to Stripe.

Error message:
[code]

[2021-08-23 20:32] markl-vesper commented on #253
also seeing this xcopde build error after adding swift file and created bridging header

My react-native is 0.65.1,
"@stripe/stripe-react-native" is "0.2.0".
Xcode is v12.5. My device is Intel

Im going to try @flora8984461 and dowengrade to see if I can spot the exact clash

[2021-08-23 21:28] carlosq-ordering commented on #498
Youtube video works for me!

[2021-08-23 23:44] markl-vesper commented on #253
what I managed to get working was RN62.3 & stripe RN 0.1.1

it at least build helloWord app after adding stripe and fixing the various ios issues as described in readme.md

only thing I would add is that its best to search for lines to remove by removing ""$(TOOLCHAIN_DIR)/usr/lib/swift-5.0/$(PLATFORM_NAME)"", line from LIBRARY_SEARCH_PATHS in project.pbxproj file

dont bother trying to find the l

[2021-08-24 01:13] YoQuieroDistraerlo opened #531 "Apple Pay 'street' field with two lines not being split"
When Apple Pay provides the street field along with city, state, etc., both in billing address and in shipping address and, the address has two lines (e.g., number and street and, suite number, etc.), street is given by Apple Pay as 'line1'\n'line2'. It must be split manually by the developer.
This is not being done in stripe-react-native, instead, all the content of 'street' is loaded in 'line1'

[2021-08-24 14:44] thorsten-stripe commented on #527
I wonder if it's because of https://github.com/stripe/stripe-react-native/pull/441/commits/7b5ef7be948f0985ef4475ef69bf9ae1cccfa4ed

We'll need to investigate.

[2021-08-24 14:46] thorsten-stripe commented on #529
Currently only hex strings are supported, please use those.

[2021-08-24 14:46] #529 closed

[2021-08-24 14:51] thorsten-stripe commented on #530
Are you using the `CardForm` component? It requires some material dependencies: https://github.com/stripe/stripe-react-native#android

[2021-08-24 15:05] Gabotron-ES commented on #530
I haven't really used since I haven't been able to build my app at all, is it CardForm or CardField though? the one I have seen used in the docs is called CardField I think

[2021-08-24 15:07] Gabotron-ES commented on #530
I haven't really used since I haven't been able to build my app at all, is it CardForm or CardField though? the one I have seen used in the docs is called CardField I think

Anyway, what version should I specify?

[2021-08-24 15:19] yungkittty commented on #529
@thorsten-stripe alright, thanks for you quick reply

[2021-08-24 16:11] #400 closed

[2021-08-24 21:10] souhe commented on #528
Hi @jonasbark. Even if the app is not crashing I believe we should improve handling the `ON_INIT_GOOGLE_PAY`. There are two solutions to this:
1. We can assume that `resultCallback` from one of the methods (for example `GooglePayLauncher`) is enough to notify RN and resolve `initGooglePayPromise`
2. We can try to aggregate `resultCallback` from both `GooglePayLauncher` and `GooglePayPaymentMethodL

[2021-08-24 23:59] qrosakee opened #532 "Payment Sheet doesn't attach a payment method to PaymentIntent"
**Describe the bug**
Although PaymentSheet gets payment information from the client, the passed-in PaymentIntent still has fields of `{customer: null,
payment_method: null`} etc when retrieved later.
**To Reproduce**
Steps to reproduce the behavior:
1. Setup server endpoint:
[code]

2. Call the endpoint in client.:
[code]

3. Retrieve the payment intent with curl.

Faulty Result:

[code]
**Expecte

[2021-08-25 03:48] thorsten-stripe commented on #532
The status of your PaymentIntent is `requires_payment_method`, can you double check that you're retrieving the correct PI after successful payment? On my end the PI with status succeeded has the details correctly attached.

As there doesn't seem to be an issue with the library, I'm going to close out this ticket. For further help with your specific integration, please use our technical chat https:

[2021-08-25 03:48] #532 closed

[2021-08-25 07:10] preflower opened #533 "Device does not have Google Pay but initGooglePay success"
**Describe the bug**
Device does not have Google Pay but initGooglePay success, and when i continue to call presentGooglePay function, it return presentForSetupIntent() may only be called when Google Pay is available on this device. error

**Smartphone (please complete the following information):**
 - Device: [OnePlus 5]
 - OS: [Android 10]

[2021-08-25 09:14] Jackyaung opened #534 "ios app crashes and error with "name space not marked type-only declare""
after I installed the SDK, on iOS it crashes the app by chance. And when it starts crashing, then it crashes every time when I start to run the app, there is no any error log on  Terminal or debug console.

It also sometimes show the error with "name space not marked type-only declare", after I install the SDK, it works, and then it could happen at anytime with the error , once it started, then it

[2021-08-25 11:59] dali-98 opened #535 "Configure Google Pay Button - Support buttonType and buttonColor"
Greatly benefited by the work! Thanks for writing this amazing package

It would be amazing if we could configure the google button mostly if we could change the text like in native code by just setting `buttonType = "subscribe"` and if we could change the button color to dark i.e black by providing `buttonColor="black"` !

[2021-08-25 13:18] yungkittty opened #536 "Don't work out-of-the-box with Jest"
**Describe the bug**
When running Jest tests on my app I have the following error :

![Screenshot 2021-08-25 at 15 08 53](https://user-images.githubusercontent.com/20394860/130796231-2c0cb43f-234a-4019-9923-728c0130c2f6.png)

When running `cat node_modules/@stripe/stripe-react-native/lib/commonjs/components/StripeProvider.js | grep -i --color package.json` from the root directory of my app :

![Sc

[2021-08-25 14:33] m-salamon commented on #482
@arekkubaczkowski Yes it works! you should add more detail and clarity to the website documentation for `confirmSetupIntent`.
https://stripe.com/docs/payments/save-and-reuse?platform=react-native#react-native-collect-card-details

[2021-08-25 15:54] ktamir opened #537 "Support numeric keyboard for zip codes"
**Is your feature request related to a problem? Please describe.**
Currently, the keyboard type is numeric for all fields except zip code. While some countries have zip codes with letters, in the US the zip codes are always numeric so in that case we don't want to support letters input in the zip code field.

**Describe the solution you'd like**
A way to pass keyboard type for the zip code as prop

[2021-08-26 10:37] arunabhverma opened #538 "CocoaPods could not find compatible versions for pod "stripe-react-native""
**### When pod install inside the ios directory then getting error**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. yarn add @stripe/stripe-react-native
2. cd ios && pod install
4. See error

**Expected behavior**
pod installed without any error

**Screenshots**
![image](https://user-images.githubusercontent.com/59590144/130948714-363f8296-f8df-42ee-b22e-bf741d8ab4e1.png)

[2021-08-26 10:42] shanutthankachan opened #539 "[EXPO standalone app] url_invalid - return_url Not a valid URL"
confirmPayment return 400 error, Worked fine in Expo Go and Publish, after the build of standalone app returns the error

 **"return_url": "appname:///--/://safepay",**

[code]

[code]

Additional context
Standalone app, Expo 42, stripe-react-native :0.1.4

**Additional context**
400 Error
POST /v1/payment_intents/pi_3JSeHwSJwGztdZyL1BuqSJQq/confirm
"return_url": "app:///--/://safepay",
url_invali

[2021-08-27 04:14] #538 closed, assigned to nobody

[2021-08-27 14:26] FaizAhmadSE opened #540 "Build failed on react-native 0.65.1"
**Build failed with this error**

Ld /Users/faizahmad/Library/Developer/Xcode/DerivedData/GetReturn-dsmtjfnckplkdhckjdpdkordzeda/Build/Products/Debug-iphonesimulator/GetReturn.app/GetReturn normal (in target 'GetReturn' from project 'GetReturn')
    cd /Users/faizahmad/Documents/Projects/TechXpert/Apps/GetReturn/ios
    /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain

[2021-08-27 18:17] #540 closed, assigned to nobody

[2021-08-27 21:28] bbenson09 opened #541 "[Expo] Error code: Failed when calling any function from SDK"
Hello -- I am getting the following error when calling initPaymentSheet:

[code]

- I have confirmed that my publishable key is correct.
- I am running Expo 42 and Stripe React Native 0.1.4
- fetchPaymentSheetParams is successfully returning { paymentIntent, ephemeralKey, customer }

Any help would be greatly appreciated as I have no idea where to go from here...

My code:

[code]

[2021-08-28 11:28] Zurdge opened #542 "stripe-react-native doesn't honour screen orientation - iOS only Bug"
**Describe the bug**
Stripe overrides the screen orientation when calling ```presentPaymentSheet()```

Only affects iOS it seems.
- Android phone (real) - Remains in Portrait ✅
- iOS simulator - Flips to landscape ❌
- iOS phone (real) - Flips to landscape ❌

Using
[code]

**To Reproduce**
1 - Create a app that uses ```expo-screen-orientation``` & ```@stripe/stripe-react-native```
2 - call ```Scree

[2021-08-28 13:48] Zurdge commented on #542
I'd like to add that it seems once the card payment dialog has closed, it will remain in landscape until the phone positions itself back into portrait..then it locks back into portrait as it should be.

[2021-08-28 23:28] jack828 opened #543 "Payment Sheets & Manually Confirmed Intents"
Hello! Thanks for the library! Apologies for opening an issue for a question - I would be happy to open a discussion instead but they are not enabled for the repo.

I am finally performing a migration to this lib from tipsi and I am taking advantage of the beautiful payment sheet integration.

I am however hitting a couple roadblocks with what I used to have and what I now have to have.

My previo

[2021-08-28 23:32] jack828 commented on #543
So apologies for immediately commenting after posting an issue...I had spent a while writing that out before trying some other stuff out:

Amending server side intent creation code like so:

[code]

And continuing with the paymentsheet stuff like in the example, I get this in my app logs after attempting `presentPaymentSheet`:

[code]

[2021-08-29 03:15] shanutthankachan commented on #539
@cruzach

[2021-08-29 08:04] ahmed3ly opened #544 "how can i use it with goole pay ?"

[2021-08-29 18:21] jack828 commented on #543
Gunna triple comment on my own issue now - I wanted to clarify the payment methods that I'll be using will only ever be card or native pay (Apple/Google Pay). I am unsure and cannot get from the docs whether or not these payments will always be relatively instant.

If this is the case, I should think this flow may be acceptable:
1. On checkout screen load, send request to server to obtain correctl

[2021-08-30 07:43] shanutthankachan commented on #370
standalone app gives an error,
[code]

[2021-08-30 07:44] shanutthankachan commented on #370
standalone app gives an error,

400 Error
POST /v1/payment_intents/pi_3JSeHwSJwGztdZyL1BuqSJQq/confirm
"return_url": "app:///--/://safepay",
url_invalid - return_url Not a valid URL

[2021-08-30 07:46] shanutthankachan commented on #370
its not work in standalone app, do you have any suggestion?

[2021-08-30 07:57] arekkubaczkowski commented on #370
@shanutthankachan have you tried that?

[2021-08-30 08:00] shanutthankachan commented on #370
yes, https://github.com/stripe/stripe-react-native/issues/539

but something wrong :(

[2021-08-30 09:25] arekkubaczkowski commented on #534
does your project meet stripe sdk ios requirements? https://github.com/stripe/stripe-react-native#ios

[2021-08-30 09:33] arekkubaczkowski commented on #361
closing due to inactivity, @rchoffar feel free to open if you still having the issue

[2021-08-30 09:33] #361 closed

[2021-08-30 09:41] arekkubaczkowski commented on #535
@dali-98 we do support only 4 types of google pay buttons atm https://github.com/stripe/stripe-react-native/blob/master/src/components/GooglePayButton.tsx#L18

button color is set based on system dark mode settings and there is no way to override it atm.

[2021-08-30 10:02] arekkubaczkowski commented on #510
@akhilsanker closing due to inactivity, please reopen if you still having this issue and provide some more details if possible as we are not able to reproduce to it, especially on fresh init project.

[2021-08-30 10:02] #510 closed

[2021-08-30 10:08] arekkubaczkowski commented on #530
@Gabotron-ES please provide your project and environment details, also please make sure that your project meet all requirements https://github.com/stripe/stripe-react-native#android
especially `Android gradle plugin 4.x and above`

[2021-08-30 10:26] arekkubaczkowski commented on #508
@hierror @markl-vesper can you check if above workaround works for you as well?

[2021-08-30 10:30] #528 closed

[2021-08-30 11:39] arunabhverma commented on #538
Thanks it help me lot

[2021-08-30 13:52] Gabotron-ES commented on #530
Hi, I created project with react native cli, haven't touched anything related to Android Studio yet afaik.

I build my project like this:
[code]
And my android/build.gradle looks like this:

[code]

What other fails should I provide for you guys to help me?

[2021-08-30 15:04] arekkubaczkowski commented on #533
@preflower thanks for flagging, there was a bug in `initGooglePay` method, now it's gonna be resolved with an error if google pay is not available on the device. https://github.com/stripe/stripe-react-native/pull/546/files

[2021-08-30 15:08] #533 closed

[2021-08-30 22:14] trex-quo commented on #544
https://github.com/stripe/stripe-react-native/blob/master/docs/GooglePay.md

[2021-08-31 04:26] arunabhverma opened #547 "Can we use google pay inside ios with pre-built React native ui"
Hi, @thorsten-stripe I need to know can we use google pay in ios using react native stripe pre-built Ui

I have using this pre-built ui (multi-step)
[](https://stripe.com/docs/payments/accept-a-payment?platform=react-native&ui=payment-sheet-custom)

please help me.

[2021-08-31 06:09] #544 closed

[2021-08-31 06:12] arekkubaczkowski commented on #547
Google pay is not available on iOS the same as Apple Pay is not available on android

[2021-08-31 06:12] #547 closed

[2021-08-31 12:01] arekkubaczkowski commented on #530
@Gabotron-ES  please open in android studio File->Project Structure and check given versions

[2021-08-31 12:02] arekkubaczkowski commented on #531
@YoQuieroDistraerlo thanks for flagging, it's already fixed here https://github.com/stripe/stripe-react-native/pull/548

[2021-08-31 12:32] arekkubaczkowski commented on #502
@Legym your issue should be fixed within the next Expo release, they need to upgrade stripe-react-native to 0.2.0

[2021-08-31 12:32] #502 closed

[2021-08-31 14:41] Gabotron-ES commented on #530
I can't seem to find where the versions are in Android Studio, if you mean gradle versions I have these ones in my build.gradle and graddle-wrapper.properties files:

classpath("com.android.tools.build:gradle:4.2.0")
distributionUrl=https\://services.gradle.org/distributions/gradle-6.7.1-all.zip

Which I think are the correct ones.

[2021-08-31 14:58] katiachumakova commented on #461
Sorry for the late reply. Noup, didn't resolve it. My code is literally the example.

Server:

[code]

Client:

[code]

[2021-08-31 15:13] bert27 opened #549 "Cardfield personalized (" separate inputs with customization by styles with flexbox")"
Hello good ,

I recently successfully established cardfield and can add cards, get them and make payments.

Is there a possibility to create a form with custom inputs for this library?

I understand that I should put cardform.
I have not seen photos of his appearance.

I followed the steps to install Material UI, but when you hit the refactor button in Android studio, the app crashes.

Can it be u

[2021-09-01 06:36] arekkubaczkowski commented on #530
@Gabotron-ES can you try clear caches? in android studio: `File -> Invalidate caches / restart`

[2021-09-01 08:36] Vicky-SilverSky opened #551 "Could not create task ':stripe_stripe-react-native:compileDebugKotlin'."
Getting issue in gradle build after installing library and update gradle version from 3.x.x to 4.x.x

Error Log.

Could not create task ':stripe_stripe-react-native:compileDebugKotlin'.
Could not initialize class org.jetbrains.kotlin.gradle.plugin.sources.DefaultLanguageSettingsBuilderKt

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exce

[2021-09-01 08:41] arekkubaczkowski commented on #551
@Vicky-SilverSky what is your kotlin version in build.gradle? please refer to this https://github.com/stripe/stripe-react-native/issues/385#issuecomment-897159314

[2021-09-01 08:43] Vicky-SilverSky commented on #551
@arekkubaczkowski Yes, I have added kotlin version in build.gradlew file

[2021-09-01 08:45] arekkubaczkowski commented on #551
yes, but I am asking what exact version you have declared there

[2021-09-01 08:46] Vicky-SilverSky commented on #551
I have added kotlinVersion = "1.5.20"
in build.gradle project level

buildscript {
    ext {
        buildToolsVersion = "29.0.2"
        minSdkVersion = 21
        compileSdkVersion = 30
        targetSdkVersion = 30
        kotlinVersion = "1.5.20"
   }
}

[2021-09-01 08:51] arekkubaczkowski commented on #551
you you have just updated gradle plugin you can try to clear caches, in android studio `File -> Invalidate caches / restart`

[2021-09-01 08:53] Vicky-SilverSky commented on #551
Ok let me try

[2021-09-01 08:54] arekkubaczkowski commented on #551
also, please open `File -> project structure` ale provide me given versions

[2021-09-01 09:38] Vicky-SilverSky commented on #551
Tried with same but getting same issue

[2021-09-01 09:40] Vicky-SilverSky commented on #551
![Screen Shot 2021-09-01 at 3 10 16 PM](https://user-images.githubusercontent.com/62129486/131649393-2b9c7cd5-22a2-40c3-82b2-513db9e7b30f.png)

[2021-09-01 10:12] arekkubaczkowski commented on #527
@acatalina I've checked that and turns out that this increase comes from `stripe-android` library and this significant difference was introduced in `v16.10.0`
I believe that were mandatory changes and cannot be reverted.

@michelleb-stripe  fyi